body 
{
    font-size:small;
}
.AnchoTotal
{
    width:100%
}
.AltoTotal
{
    height:100%;
}
.Borde  
{
    border-width:thin;
}
.BordeEtiqueta
{
    border-width:1px;
    border-color:Black;
    border-style:solid;
}
.titulo
{   
   font-size:15px;
   text-align:center;
   font-weight:bold;
   font-family:Arial;
}
/*CONTROLES HTML*/
.tooltip
{
    display: inline;
    position:relative;
    text-decoration: none;
    top: 0px;
    left: 4px;
}
 .tooltip:hover:after
{
    font-family:Arial;
    font-size:12px;
    background-color:#F7EEEE;
    border-color:Black;
    border-width:medium;
    color:Gray;
    border-radius:5px;
    top: -20px;
    content: attr(alt);
    left: 20px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 150px;
}
.ListBox
{
    border-width:1px;
    border-color:Gray;
    border-style:solid;
}
.trCalidad
{
    background-color:#9FF781;
}

.radioButton
{
    font-family:Trebuchet MS;
    font-style:normal;
    font-size:12px;
}
.ButtonFiltro
{
    border-color:Gray;
    background-color:#EBE7E7;
    border-radius:4px 4px 4px 4px;
    height:28px;
    width:100px;
    background-repeat:no-repeat;
    background-position:left;
}
.ButtonFiltro:hover
{
    background-color:#FFFCFC;
}
.textboxMultilineaDef
{
  font-family:Trebuchet MS;
  font-style:normal;
  font-size:12px;
  border:0.5 solid gray;
  height:18px;
  text-align:justify;
  color:Green;
  }
.textboxAnterior
{
  font-style:normal;
  font-size:12px;  
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  color:black;
  height:18px;
  text-transform: uppercase;
  }
  .textboxAnterior:hover
  {
      background-color:#CEE3F6;
  }
  .textboxAnterior:focus
  {
      border-color:Gray;
      border-width:2px;
      background-color:#CEE3F6;
  }
.textboxRegPrev
{
    background-color:#E0F8E0;
  font-style:normal;
  font-size:12px;  
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  color:black;
  height:18px;
  text-transform: uppercase;
  }
  .textboxRegPrev:hover
  {
      background-color:#BEF781;
  }
  .textboxRegPrev:focus
  {
      border-color:Gray;
      border-width:2px;
      background-color:#BEF781;
  }
.textboxObs
{
    background-color:#F78181;
  font-style:normal;
  font-size:12px;  
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  color:black;
  height:18px;
  text-transform: uppercase;
  }
  .textboxObs:hover
  {
      background-color:#F78181;
  }
  .textboxObs:focus
  {
      border-color:Gray;
      border-width:2px;
      background-color:#F78181;
  }
.textboxMultilinea
{
  font-style:normal;
  font-size:13px; 
  border-radius:2px 2px 2px 2px;
  color:black;
  text-transform:uppercase;
  font-family:Arial;
  }
.textboxCentro
{
  text-align:center; 
}
.checkbox
{
    font-family  :Trebuchet MS;
    font-style:normal;
    font-size:14px;
    text-align:left;  
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}
.checkbox:hover
{
    background-color:#CEE3F6;
}
.checkbox:focus
{
    border-color:Gray;
    border-width:2px;
    background-color:#CEE3F6;
}
select
{                             
  font-family:Trebuchet MS;
  font-style:normal;
  font-size:11px; 
  border  : 1px solid  gray;
  height : 20px;
}
.dropdownlist
{
  font-style:normal;
  font-size:12px; 
  border  : 1px solid  gray; 
  color:black;
  font-family:Arial;
  height:18;
  border-radius:2px 2px 2px 2px;
  }
  .dropdownlist:hover
  {
      /*background-color:#CEE3F6;*/
      border-color:Black;
  }
  
  
  
  .dropdownlistObs
{
    background-color:#F78181;
  font-style:normal;
  font-size:12px; 
  border  : 1px solid  gray; 
  color:black;
  font-family:Arial;
  height:18;
  border-radius:2px 2px 2px 2px;
  }
  .dropdownlistObs:hover
  {
      /*background-color:#CEE3F6;*/
      border-color:Black;
  }
  
  
  
  .dropdownlistRegPrev
{
    background-color:#E0F8E0;
  font-style:normal;
  font-size:12px; 
  border  : 1px solid  gray; 
  color:black;
  font-family:Arial;
  height:18;
  border-radius:2px 2px 2px 2px;
  }
  .dropdownlistRegPrev:hover
  {
      background-color:#BEF781;
      /*background-color:#CEE3F6;*/
      border-color:Black;
  }
  .combobox
{
	font-style:normal;
  font-size:11px; 
  border  : 1px solid  gray; 
  color:black;
  font-family:Arial;
    padding: 2px 2px 2px 2px;    
}
.etiquetaOrdenPago
{
  font-family  :Trebuchet MS;
  font-style:normal;
  font-size:14px;
  text-align:left;  
  margin-left: 80px;
}
.etiqueta
{
  font-family  :Trebuchet MS;
  font-style:normal;
  font-size:12px;
  font-weight:bold;
  text-align:left;  
  margin-left: 80px;
}
.etiquetamenu
{
  font-family  :Trebuchet MS;
  font-style:normal;
  font-size:11px;
  font-weight:bold;
  color:White;
  text-align:left;  
  margin-left: 80px;
}
.EtiquetaCentro
{
  font-family  :Trebuchet MS;
  font-style:normal;
  font-size:12px;
  font-weight:bold;
  text-align:center;  
  margin-left: 80px;
}
.etiquetaAlerta
{
    color:Red;
    font-family  :Trebuchet MS;
    font-style:normal;
    font-size:12px;
    font-weight:bold;
    text-align:left;  
    margin-left: 80px;
}
.Fieldset
{
    border:1px solid gray;
    background-color:White;
}
.Fieldset:hover
{
    border-color:black;
}
.FieldsetLeyenda
{
    font-family  :Trebuchet MS;
    font-style:normal;
    font-size:13px;
    font-weight:bold;
    text-align:left;
    border:1px solid gray;
    padding: 0.2em 0.5em;
    background-color:White;
}
.TablaCertificacion
{
     font-family:Arial;
     font-size:11px;
     font-size:12px;
     width:100%;
}
.labelInfo
{
    font-family:Trebuchet MS;
    font-size:12px;
    color:Black;
}
.labelInfoFile
{
    font-family:Consolas;
    font-size:12px;
    color:Green;
}
.labelInfoControl
{
    font-family:Consolas;
    font-size:12px;
    color:Red;
}
.LabelAdmin
{
    font-family:Arial;
  font-style:normal;
  font-size:12px;  
  color:black;
  height:18px;
  text-transform: uppercase;
}
.LabelCertificacion
{
    border-style:solid;
    border-color:Gray;
    border-width:1px;
    color:CornflowerBlue;
    
}
.TablaConformidad
{
     font-family:Arial;
     font-size:11px;
     font-size:12px;
}
.EtiquetaConformidad
{
    font-family  :Arial;
    font-style:normal;
    font-size:12px;
    font-weight:bold;
    text-align:left;  
    margin-left: 80px;
    border-style:solid;
    border-color:Black;
    border-width:1px;
} 
.DatoConformidad
{
    font-family  :Arial;
    font-style:normal;
    font-size:12px;
    font-weight:bold;
    text-align:center;  
    margin-left: 80px;
    border-style:solid;
    border-color:Black;
    border-width:1px;
    background:CornflowerBlue;
} 
.InsumosConformidadCab
{
    font-family  :Trebuchet MS;
    font-style:normal;
    font-size:12px;
    font-weight:bold;
    text-align:center;  
    margin-left: 80px;
    border-style:solid;
    border-color:Black;
    border-width:1px;
    background-color:ButtonFace;
}
.InsumosConformidadDet
{
    font-family  :Trebuchet MS;
    font-style:normal;
    font-size:12px;
    font-weight:bold;
    text-align:center;  
    margin-left: 80px;
    border-style:solid;
    border-color:Black;
    border-width:1px;
}
/*PANTALLAS MODAL*/
.modalBackgroundLoad
{
    background-color:#FAFAFA;
    filter: alpha(opacity=90);
    opacity: 0.5;
    height:100%;
    width:99.7%;
    position:absolute;
    z-index:1;
}
.modalBackgroundInfo
{
    background-color:#FAFAFA;
    filter: alpha(opacity=90);
    opacity: 0.5;
    height:100%;
    width:99.7%;
    position:absolute;
    z-index:1;
}
.modalBackgroundMensaje
{
    filter: alpha(opacity=90);
    opacity: 0.05;
}
.modalNew
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /*Fallback color*/
    background-color: rgba(0,0,0,0.4); /*Black w/ opacity */
}

/* Modal Content */
.modalNew-content {
    background-color:#480b20;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.tituloMensaje
{
    font-family:Arial;
    font-size:14px;  
    font-weight:bold;  
}
.textoMensaje
{
    font-family:Arial;
    font-size:small;  
    /*font-weight:bold; */ 
}
.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 140px;
}
/*.level1
    {
        padding-left:4px;
        padding-bottom:8px;
        padding-top:5px;
        margin-left:0px;
        font-size:12px;
        background-color:#480b20;
        width:250px;
        text-align:center;
    }

     .level2
    {
        padding-left:4px;
        padding-bottom:5px;
        padding-top:5px;        
        font-size:11px;  
        background-color:#781236;
        width:250px;           
    }
    .hoverstyle        
    {          
        color:White;  
        text-decoration:underline;            
    }
    .textinfo
    {
        color:White;
        font-family:Arial;
        font-size:10px;
    }*/
    /*Estilos para el Menu*/
       .level1
    {
        padding-left:4px;
        padding-bottom:8px;
        padding-top:5px;
        margin-left:0px;
        font-size:12px;
        font-family:Arial;
        font-weight:bold;
        background-color:#480b20;
        width:200px;
        text-align:center;
        text-transform:uppercase;
        webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }
     .level2
    {
        padding-left:4px;
        padding-bottom:5px;
        padding-top:5px;        
        font-size:11px;
        font-family:Arial;  
        background-color:#781236;
        width:250px;           
        text-align:center;
        text-transform:uppercase;
        webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }
    .level3
    {
        padding-left:4px;
        padding-bottom:7px;
        padding-top:5px;        
        font-size:11px;
        font-family:Arial;  
        background-color:#781236;
        width:250px;
        text-align:center;
        text-transform:uppercase;
        webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }
    .hoverstyle
    {
        background-color:#971844;
        text-decoration: underline;
        color:White;
    }
    .textinfo
    {
        color:White;
        font-family:Arial;
        font-size:10px;
    }
/*    a:link, a:visited
{
    color: #7b012a;
}
*/
a:hover
{
    color: white;
    text-decoration: none;
}

a:active
{
    color: white;
}

.OrdenPagoArriba
{
    width:55%; 
    border-top-style:solid; 
    border-top-width:1px; 
    border-top-color:Black; 
    border-left-style:solid; 
    border-left-width:1px; 
    border-left-color:Black; 
    border-right-style:solid; 
    border-right-width:1px; 
    border-right-color:Black    
}
.OrdenPagoMedio
{
    font-size:x-small;
    width:55%; 
   
}
.OrdenPagoAbajo
{
    width:55%; 
    border-left-style:solid; 
    border-left-width:1px; 
    border-left-color:Black; 
    border-right-style:solid; 
    border-right-width:1px; 
    border-right-color:Black;
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:Black    
}
.Scroll
{
    overflow: auto;
    height: 350px;
    border: solid 1px white;
    width: 97%;
}
.ScrollConsular
{
    overflow: auto;
    height: 300px;
    border: solid 1px white;
    width: 100%;
}
.ScrollCertificacion
{
    overflow: auto;
    height: 200px;
    border: solid 1px white;
    width: 93%;
}
.ScrollMovimientos
{
    overflow: auto;
    height: 220px;
    border: solid 1px white;
    width: 100%;
}
.ScrollInsumos
{
    overflow: auto;
    height: 300px;
    border: solid 1px white;
    width: 100%;
}
.FilaCabecera
{
    background-color:Gray;
    color:White;
    border-style:solid;
    border-color:Black;
    font-family  :Trebuchet MS;
    font-style:normal;
    font-size:12px;
    font-weight:bold; 
    margin-left: 80px;
    Height:30px;
    text-align:center;
    
    
}
.FilaDatosInsuHis
{
    background-color:White;
    color:Black;
    font-family:Consolas;
    font-style:normal;
    font-size:12px;
    text-align:left;  
    margin-left: 80px;
    border-style:solid;
    border-width:1px;
    border-color:Black;
}

.FilaDatosInsuHis:hover
{
    background-color:#EBE7E7;
    border-style:solid;
    border-width:1px;
    border-color:Black;
}
.FilaDatosLog
{
    background-color:White;
    color:Black;
    font-family:Sans-Serif;
    font-style:normal;
    font-size:12px;
    text-align:left;  
    margin-left: 80px;
    border-style:solid;
    border-width:1px;
    border-color:Black;
}

.FilaDatosLog:hover
{
    background-color:#EBE7E7;
    border-style:solid;
    border-width:1px;
    border-color:Black;
}
.FilaDatos
{
    padding:0px 0px 0px 15px;
    background-color:White;
    color:Black;
    font-family:Trebuchet MS;
    font-style:normal;
    font-size:11px;
    text-align:left;  
    margin-left: 80px;
    border-style:solid;
    border-width:1px;
    border-color:Black;
}

.FilaDatos:hover
{
    background-color:#EBE7E7;
    border-style:solid;
    border-width:1px;
    border-color:Black;
}
.FilaDatos2
{
    background-color:White;
    color:Black;
    font-family:Trebuchet MS;
    font-style:normal;
    font-size:10px;
    text-align:left;  
    margin-left: 80px;
    border-style:solid;
    border-width:1px;
    border-color:Black;
    padding-left:15px;
}

.FilaDatos2:hover
{
    background-color:#EBE7E7;
    border-style:solid;
    border-width:1px;
    border-color:Black;
}
.CabeceraGrilla
{
  font-family:Trebuchet MS;
  font-style:normal;
  font-size:12px;
  font-weight:normal;
  color:White;
  text-align:center;  
  margin-left: 80px;
  border-style:solid;
  border-color:Black;
  border-width:0px;
  background-color:#0055aa;
}
.CabeceraGrillaActaObs
{
  font-family:Trebuchet MS;
  font-style:normal;
  font-size:12px;
  font-weight:bold;
  color:White;
  text-align:center;  
  margin-left: 80px;
  border-style:solid;
  border-color:Black;
  border-width:0px;
  background-color:#5882FA;
}
.CabeceraGrillaLog
{
  font-family:Trebuchet MS;
  font-style:normal;
  font-size:12px;
  font-weight:bold;
  color:White;
  text-align:center;  
  margin-left: 80px;
  border-style:solid;
  border-color:Black;
  border-width:0px;
  background-color:#084B8A;
}
GridViewStyle
{    
    border-right: 2px solid #A7A6AA;
    border-bottom: 2px solid #A7A6AA;
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 4px;
}
.GridViewHeaderStyle th
{
    border-left: 1px solid #EBE9ED;
    border-right: 1px solid #EBE9ED;
}
/*GRILLA NUEVO*/
GridView.resaltar {
    background-color: #F5FFD7;
    cursor: pointer;
}
/*.Tabs:hover
{
    background-color:#A2A1A1;
}*/
/*MOVER DIV*/
#slide {
    border: 1px solid black;
    width: 50px;
    height: 250px;
    position:absolute;
        transition:         width 300ms ease;
        -moz-transition:    width 300ms ease;
        -ms-transition:     width 300ms ease;
        -o-transition:      width 300ms ease;
        -webkit-transition: width 300ms ease;
    
}

.degradadoMensaje
{
    background: #666666;
    background: -webkit-gradient(linear,bottom, from(#FFFFFF), to(#E9E9E9));
    background: -moz-linear-gradient(#FFFFFF, #E9E9E9);
    background: linear-gradient(#FFFFFF, #E9E9E9);
    -pie-background: linear-gradient(#FFFFFF, #E9E9E9);
}

.multiLineConformidad
{
    background-color:transparent;
    font-style:normal;
    font-size:12px;  
    color:black;
    height:18px;
    text-transform: uppercase;
}
/*FLOTANTE*/
.contentR {
    width: 100%;
    margin: 0px auto;
}
.anotacionesRegSol {
    background-color: transparent;
    /*border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;*/
    float:right;
    position: fixed;
    min-height: 525px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-align: left;
    width: 350px;
    right:0%;
}
.content {
    width: 100%;
    margin: 0px auto;
}
.column-left {
    background-color: transparent;
    /*border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;*/
    float:left;
    position: fixed;
    min-height: 525px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-align: left;
    width: 350px;
    left:83%;
}
.column-left2 {
    background-color: transparent;
    /*border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;*/
    float:left;
    position: fixed;
    min-height: 525px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-align: left;
    width: 350px;
    left:85%;
}
.content-porcentaje {
    width: 100%;
    margin: 0px auto;
}
.column-left-porcentaje {
    background-color: transparent;
    /*border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;*/
    float:left;
    position: fixed;
    min-height: 525px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-align: left;
    width: 14%;
}
#column-left1 {
    background-color: transparent;
    /*border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;*/
    float:left;
    position: fixed;
    min-height: 525px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-align: left;
    width: 380px;
    left:76%;
}

#central {
    background-color: #EBE9EA;
    border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;
    float: right;
    height: 5000px;
    margin-bottom: 10px;
    width: 985px;
}

#divTra 
{
    border-style:solid;
    border-width:1px;
    border-color:Black;
    border-radius:10px;
    position:fixed;
    top:90%;
    left:96%;
    width: 10%;
    height: 5%;
    background: white;
    color:White;
    opacity: 0.4;
    webkit-transition: width 1s,left 1s, opacity 1s;
    transition: width 1s, left 1s, opacity 1s;
}

#divTra:hover 
{
    left:82%;
    width: 20%;
    opacity: 1;
}

.divPruebaAparecer
{
    border-style:solid;
    border-width:1px;
    border-color:Black;
    border-radius:10px;
    position:fixed;
    top:90%;
    left:82%;
    width: 20%;
    height: 5%;
    background: white;
    color:White;
    webkit-transition: width 1s,left 1s, opacity 1s;
    transition: width 1s, left 1s, opacity 1s;
}
.Tabs
{
    background-color:#E6E6E6;
    cursor:pointer;
    width:10%;
    height:20px;
    float:left;
    vertical-align:middle;
    text-align:center;
    font-family:Trebuchet MS;
    font-style:normal;
    font-size:12px;
    font-weight:bold;
    border-width:0.3px;
    border-color:Black;
    border-style:solid;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    /*border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;*/
    webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.Tabs:hover
{
    background-color:White;
}

/*BOTONES*/
.ImagenBotonGuardar
{
    background:url(../../Imagenes/Iconos/save16.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonNuevo
{
    background:url(../../Imagenes/Iconos/new1.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonBuscar
{
    background:url(../../Imagenes/Iconos/buscar1.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonClean
{
    background:url(../../Imagenes/Iconos/clear.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonCancelar
{
    background:url(../../Imagenes/Iconos/disconforme.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonVolver
{
    background:url(../../Imagenes/Iconos/volver.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonOk
{
    background:url(../../Imagenes/Iconos/icon-16-checkin.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonEditar
{
    background:url(../../Imagenes/Iconos/editarregistro.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonPrint
{
    background:url(../../Imagenes/Iconos/print24.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonObservar
{
    background:url(../../Imagenes/Iconos/obsregistro.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonActaConformidad
{
    background:url(../../Imagenes/Iconos/actaconformidad.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonAgregarVarios
{
    background:url(../../Imagenes/Iconos/add.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}

.ImagenBotonAgregarVariosRecep
{
    background:url(../../Imagenes/Iconos/addBlue.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonData
{
    background:url(../../Imagenes/Iconos/data.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonReporte
{
    background:url(../../Imagenes/Iconos/reporte.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonAddAdjunto
{
    background:url(../../Imagenes/Iconos/addAdjunto.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonAddDerivar
{
    background:url(../../Imagenes/Iconos/addWhite.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}

.ImagenBotonPrevious
{
    background:url(../../Imagenes/Iconos/previous24.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonNext
{
    background:url(../../Imagenes/Iconos/next24.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:right;
    transition: background-color 0.3s;
    height:35px;
}
.ImagenBotonFindFolder
{
    background:url(../../Imagenes/Iconos/findFolder.png) no-repeat;
    background-color:#E6E6E6;
    border-radius:4px;
    background-position:left;
    transition: background-color 0.3s;
    height:35px;
}
.buttonShadow
{
    box-shadow: 5px 5px 5px grey;
}
.EstiloBoton
{
    font-size:12px;
    font-family:Arial;
    text-transform:capitalize;
    width:135px;
    height:30px;
    border-radius:2px;
    color:Black;
    transition: background-color 0.3s;
    border-color:Gray;
    border-width:1.5px;
    cursor:pointer;
    padding-left:10px;
}

.textbox
{
    border: 1px solid Gray;
    box-shadow: none;
    font-style:normal;
    font-size:12px;  
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    color:black;
    height:18px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
.textbox:hover
{ 
    border: 1px solid #0055aa;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    color:black;
    height:18px;
    text-transform: uppercase;
}
  .textbox:focus
  {
      background-color:#CEE3F6;
  }
  
  
 
 .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.etiquetaRegLinea
{
    font-weight:lighter;
    font-family:Trebuchet MS;
    font-size:13px;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}