USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_ACTUALIZAR_ESTADO]    Script Date: 11/04/2022 19:48:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_ACTUALIZAR_ESTADO]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : [SC_CARDIP].[USP_CD_GENERALES_MRE]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_CARNE_IDENTIDAD_ID		SMALLINT,
	@P_FECHA_EMISION			DATETIME,
	@P_FECHA_VENCIMIENTO		DATETIME,
	@P_ESTADO_ID				SMALLINT,
	@P_NUEVO_SI_NO				BIT,
	@P_RENOVAR					BIT,
	@P_FLAG_CONTROL_CALIDAD		BIT,
	@P_CONTROL_CALIDAD			VARCHAR(29),
	@P_CONTROL_CALIDAD_DETALLE	VARCHAR(500)
	
	AS
	BEGIN
		BEGIN TRY
			IF (@P_FECHA_EMISION)IS NOT NULL 
				BEGIN
					DECLARE

					@V_NUMERO			VARCHAR(8),
					@V_YEAR				VARCHAR(4) = (SELECT CONVERT(VARCHAR,YEAR(GETDATE()))),
					@V_NUMERO_COMP		VARCHAR(8)

					SET @V_NUMERO_COMP = (SELECT CAID_VCARNE_NUMERO FROM SC_CARDIP.CD_CARNE_IDENTIDAD WHERE CAID_ICARNE_IDENTIDADID	= @P_CARNE_IDENTIDAD_ID AND CAID_CESTADO='A')
					IF(@V_NUMERO_COMP IS NULL)
						BEGIN
							SET @V_NUMERO = (SELECT MAX(CAID_VCARNE_NUMERO) FROM SC_CARDIP.CD_CARNE_IDENTIDAD WHERE SUBSTRING(CAID_VCARNE_NUMERO,1,4)=@V_YEAR)
							SET @V_NUMERO = (SELECT SUBSTRING(@V_NUMERO,5,4))

							IF(@V_NUMERO) IS NOT NULL
								BEGIN
									SET @V_NUMERO = CONVERT(VARCHAR,CONVERT(INT,@V_NUMERO) + 1)
								END
							ELSE
								BEGIN
									SET @V_NUMERO = '0001'
								END
							SET @V_NUMERO = (SELECT REPLICATE('0',4-LEN(RTRIM(@V_NUMERO))) + RTRIM(@V_NUMERO))
							SET @V_NUMERO_COMP = @V_YEAR + @V_NUMERO
						END					

					UPDATE	SC_CARDIP.CD_CARNE_IDENTIDAD 
					SET
							CAID_VCARNE_NUMERO			=	@V_NUMERO_COMP,
							CAID_DFECHA_EMISION			=	@P_FECHA_EMISION,
							CAID_DFECHA_VENCIMIENTO		=	@P_FECHA_VENCIMIENTO,
							CAID_SESTADOID				=	@P_ESTADO_ID,
							CAID_BRENOVAR				=	@P_RENOVAR
					WHERE	CAID_ICARNE_IDENTIDADID		=	@P_CARNE_IDENTIDAD_ID
							AND CAID_CESTADO='A'
				END
			ELSE
				BEGIN
					UPDATE	SC_CARDIP.CD_CARNE_IDENTIDAD 
					SET
							CAID_SESTADOID				=	@P_ESTADO_ID,
							CAID_BRENOVAR				=	@P_RENOVAR,
							CAID_BFLAG_CONTROL_CALIDAD	=	@P_FLAG_CONTROL_CALIDAD,
							CAID_VCONTROL_CALIDAD		=	@P_CONTROL_CALIDAD,
							CAID_VCONTROL_CALIDAD_DETALLE = @P_CONTROL_CALIDAD_DETALLE
					WHERE	CAID_ICARNE_IDENTIDADID		=	@P_CARNE_IDENTIDAD_ID
							AND CAID_CESTADO='A'
				END

		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END

