USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_ADICIONAR]    Script Date: 18/04/2022 11:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_ADICIONAR]
--======================================================================
--SISTEMA		:	
--OBJETIVO		:	
--CREADO POR		:	
--FECHA			:	07/10/2019
--PARAMETROS		:	
--EJECUTAR		:	SC_REGLINEA.USP_RL_REGISTRO_LINEA_ADICIONAR '123456'
--MODIFICACIONES
--AUTOR		FECHA		N° REQ		MOTIVO		
--======================================================================
@P_RELI_VIP_CREACION                                           VARCHAR(50)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT OFF
		DECLARE
		@P_RELI_SUSUARIO SMALLINT = (SELECT USUA_SUSUARIOID FROM PS_SEGURIDAD.SE_USUARIO WHERE USUA_VALIAS='USUARIO REG LINEA'),
		

		@V_NUMERO			VARCHAR(9),
		@V_YEAR				VARCHAR(4) = (SELECT CONVERT(VARCHAR,YEAR(GETDATE()))),
		@V_NUMERO_COMP		VARCHAR(9),
		@V_ESTADO			SMALLINT	=	(SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VGRUPO='REG LINEA - ESTADO' AND ESTA_VDESCRIPCIONCORTA='REGISTRADO' AND ESTA_CESTADO='A')

		--SET @V_NUMERO_COMP = (SELECT CAID_VCARNE_NUMERO FROM SC_CARDIP.CD_CARNE_IDENTIDAD WHERE CAID_ICARNE_IDENTIDADID	= @P_CARNE_IDENTIDAD_ID AND CAID_CESTADO='A')
		IF(@V_NUMERO_COMP IS NULL)
			BEGIN
				SET @V_NUMERO = (SELECT MAX(RELI_VDP_NUMERO_REG_LINEA) FROM SC_REGLINEA.RL_REGISTRO_LINEA WHERE SUBSTRING(RELI_VDP_NUMERO_REG_LINEA,1,4)=@V_YEAR)
				SET @V_NUMERO = (SELECT SUBSTRING(@V_NUMERO,5,5))

				IF(@V_NUMERO) IS NOT NULL
					BEGIN
						SET @V_NUMERO = CONVERT(VARCHAR,CONVERT(INT,@V_NUMERO) + 1)
					END
				ELSE
					BEGIN
						SET @V_NUMERO = '00001'
					END
				SET @V_NUMERO = (SELECT REPLICATE('0',5-LEN(RTRIM(@V_NUMERO))) + RTRIM(@V_NUMERO))
				SET @V_NUMERO_COMP = @V_YEAR + @V_NUMERO
			END

		INSERT INTO SC_REGLINEA.RL_REGISTRO_LINEA (RELI_VDP_NUMERO_REG_LINEA,RELI_SESTADO_ID,RELI_SUSUARIO_CREACION,RELI_VIP_CREACION,RELI_DFECHA_CREACION)
		VALUES  (@V_NUMERO_COMP,@V_ESTADO,@P_RELI_SUSUARIO,@P_RELI_VIP_CREACION,GETDATE())
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
	RETURN @@IDENTITY
END

