
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/bin/Debug/SGAC.Accesorios.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/bin/Debug/SGAC.Accesorios.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/bin/Debug/SGAC.BE.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/bin/Debug/SGAC.BE.MRE.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/bin/Debug/SGAC.BE.MRE.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/bin/Debug/SGAC.BE.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/obj/x86/Debug/SGAC.Accesorios.csprojResolveAssemblyReference.cache
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/obj/x86/Debug/SGAC.Accesorios.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Accesorios/obj/x86/Debug/SGAC.Accesorios.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Accesorios.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Accesorios.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Almacen.BL.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Almacen.BL.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Almacen.DA.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Almacen.DA.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Auditoria.BL.dll
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Auditoria.BL.pdb
SGAC/PASE - ORIGINAL/03_Fuentes/SGAC_DESARROLLO_PROD_20220420/SGAC.Almacen.BL/bin/Debug/SGAC.Auditoria.DA.dll
*.dll
*.zip
*.mp4
*.webm
*.cache
*.rar
*.bak
3.-SGAC/2.-APLICACION_WEB/SGAC_DESARROLLO_PROD_20220522/SGAC.WebApp/Web.config
