USE [BD_CARDIP]
GO
IF NOT EXISTS (SELECT OBJECT_ID FROM SYS.OBJECTS WHERE OBJECT_ID = OBJECT_ID(N'[SC_REGLINEA].[USP_CD_CONSULTA_TRAZABILIDAD]') AND TYPE IN (N'P', N'PC'))
BEGIN
EXEC DBO.SP_EXECUTESQL @STATEMENT = N'CREATE PROCEDURE [SC_REGLINEA].[USP_CD_CONSULTA_TRAZABILIDAD] AS' 
END
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [SC_REGLINEA].[USP_CD_CONSULTA_TRAZABILIDAD]
--======================================================================
--SISTEMA		:	
--OBJETIVO		: VPIPA	
--CREADO POR		:	
--FECHA			:	07/10/2019
--PARAMETROS		:	
--EJECUTAR		:	exec[SC_REGLINEA].[USP_CD_CONSULTA_TRAZABILIDAD] '202100080'
--MODIFICACIONES
--AUTOR		FECHA		N° REQ		MOTIVO		
--======================================================================

@P_RELI_VNUMERO_REG_LINEA VARCHAR(9)
AS
BEGIN
	BEGIN TRY
	
		SELECT	RELI_SREG_LINEA_ID AS REGLINEA_ID,
		ISNULL(RELI_VDP_NUMERO_REG_LINEA,'') AS RELI_NUMERO,
		ISNULL(RELI_ICARNE_IDENTIDAD_ID,0) AS RELI_CARDIP_ID,
		ISNULL(RELI_STIPO_EMISION,0) AS RELI_TIPO_EMISION,
		ISNULL(RELI_SDP_RELDEP_TITDEP,0) AS RELI_TITDEP,
		ISNULL(RELI_SDP_RELDEP_TITULAR,0) AS RELI_TITULAR,
		ISNULL(RELI_VDP_PRIMER_APELLIDO,'') AS RELI_PRIAPE,
		ISNULL(RELI_VDP_SEGUNDO_APELLIDO,'') AS RELI_SEGAPE,
		ISNULL(RELI_VDP_NOMBRES,'') AS RELI_NOMBRES,
		ISNULL(RELI_DDP_FECHA_NACIMIENTO,'') AS RELI_FECNAC,
		ISNULL(RELI_SDP_GENERO_ID,0) AS RELI_GENERO,
		ISNULL(RELI_SDP_ESTADO_CIVIL_ID,0) AS RELI_ESTCIVIL,
		ISNULL(RELI_SDP_TIPO_DOC_IDENTIDAD,0) AS RELI_TIPODOCIDENT,
		ISNULL(RELI_VDP_NUMERO_DOC_IDENTIDAD,'') AS RELI_NUMDOCIDENT,
		ISNULL(RELI_SDP_PAIS_NACIONALIDAD,0) AS RELI_NACIONALIDAD,
		ISNULL(RELI_VDP_DOMICILIO_PERU,'') AS RELI_DOMIPERU,
		ISNULL(RELI_CDP_UBIGEO,'000000') AS RELI_UBIGEO,
		ISNULL(RELI_VDP_CORREO_ELECTRONICO,'-') AS RELI_CORREO,
		ISNULL(RELI_VDP_NUMERO_TELEFONO,'-') AS RELI_TELEFONO,
		ISNULL(RELI_VDP_RUTA_ADJUNTO,'') AS RELI_ADJUNTO,
		ISNULL(RELI_SIN_TIPO_INSTITUCION,0) AS RELI_TIPOINST,
		ISNULL(RELI_VIN_NOMBRE_INSTITUCION,'') AS RELI_NOMINST,
		ISNULL(RELI_VIN_PERSONA_CONTACTO,'') AS RELI_PERCONTACTO,
		ISNULL(RELI_VIN_CARGO_CONTACTO,'') AS RELI_CARGOCONTACTO,
		ISNULL(RELI_VIN_CORREO_ELECTRONICO,'-') AS RELI_CORREOINST,
		ISNULL(RELI_VIN_NUMERO_TELEFONO,'-') AS RELI_TELEFONOINST,
		ISNULL(RELI_SIN_TIPO_CARGO,0) AS RELI_TIPOCARGO,
		ISNULL(RELI_VIN_CARGO_NOMBRE,'') AS RELI_NOMBRECARGO,
		ISNULL(CONVERT(VARCHAR,DERE_FECHACREACION,103),'-') AS RELI_FECHACREA,
		ISNULL(CONVERT(VARCHAR,DERE_FECHACREACION,108),'-') AS RELI_HORACREA,
		ISNULL(RELI_VDP_PRIMER_APELLIDO,'') + ' ' + ISNULL(RELI_VDP_SEGUNDO_APELLIDO,'') + ', ' + ISNULL(RELI_VDP_NOMBRES,'') AS RELI_NOMBRE_COMPLETO,
		ISNULL((case es.ESTA_VDESCRIPCIONCORTA WHEN 'APROBADO' THEN 'PENDIENTE DE ATENCION' else es.ESTA_VDESCRIPCIONCORTA end),'')  as RELI_ESTADO_DESC,
		(SELECT ISNULL(PARA_VDESCRIPCION,'') FROM PS_SISTEMA.SI_PARAMETRO (NOLOCK) 
			WHERE PARA_SPARAMETROID = RL.RELI_SDP_GENERO_ID) AS RELI_GENERO_DESC,
		(SELECT ISNULL(PARA_VDESCRIPCION,'') FROM PS_SISTEMA.SI_PARAMETRO (NOLOCK) 
			WHERE PARA_SPARAMETROID = RL.RELI_SDP_ESTADO_CIVIL_ID) AS RELI_ESTADOC_DESC,
		(SELECT ISNULL(DOID_VDESCRIPCIONCORTA,'') FROM SC_MAESTRO.MA_DOCUMENTO_IDENTIDAD (NOLOCK) 
			WHERE DOID_STIPODOCUMENTOIDENTIDADID = RL.RELI_SDP_TIPO_DOC_IDENTIDAD) RELI_DOC_IDENT_DESC,
		(SELECT ISNULL(UBGE_VDEPARTAMENTO,'') FROM PS_SISTEMA.SI_UBICACIONGEOGRAFICA 
			WHERE UBGE_CUBI01 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,1,2)) AND UBGE_CUBI02 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,3,2)) AND UBGE_CUBI03 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,5,2))) AS RELI_DEPARTAMENTO,
		(SELECT ISNULL(UBGE_VPROVINCIA,'') FROM PS_SISTEMA.SI_UBICACIONGEOGRAFICA 
			WHERE UBGE_CUBI01 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,1,2)) AND UBGE_CUBI02 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,3,2)) AND UBGE_CUBI03 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,5,2))) AS RELI_PROVINCIA,
		(SELECT ISNULL(UBGE_VDISTRITO,'') FROM PS_SISTEMA.SI_UBICACIONGEOGRAFICA 
			WHERE UBGE_CUBI01 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,1,2)) AND UBGE_CUBI02 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,3,2)) AND UBGE_CUBI03 = (SELECT SUBSTRING(RELI_CDP_UBIGEO,5,2))) AS RELI_DISTRITO,
		isnull((SELECT PARA_VDESCRIPCION FROM PS_SISTEMA.SI_PARAMETRO (NOLOCK) 
			WHERE PARA_SPARAMETROID = RL.RELI_SDP_RELDEP_TITDEP),'') AS RELI_TITDEPDESC,
		ISNULL(CONVERT(VARCHAR,RELI_DDP_FECHA_NACIMIENTO,103),'-') AS RELI_FECNAC_STR,
		(SELECT PAIS_VNOMBRE FROM PS_SISTEMA.SI_PAIS (NOLOCK) 
			WHERE PAIS_SPAISID = RL.RELI_SDP_PAIS_NACIONALIDAD) AS RELI_PAIS,
		ISNULL((SELECT PARA_VDESCRIPCION FROM PS_SISTEMA.SI_PARAMETRO (NOLOCK) 
			WHERE PARA_SPARAMETROID = RL.RELI_STIPO_EMISION),'') AS RELI_TIPOEMISION,
		ISNULL(RELI_VDP_RUTA_FIRMA,'') as RELI_VDP_RUTA_FIRMA,
		ISNULL(RELI_VDP_RUTA_PASAPORTE,'') as RELI_VDP_RUTA_PASAPORTE,
		ISNULL(RELI_VDP_RUTA_DEN_POLICIAL,'') as RELI_VDP_RUTA_DEN_POLICIAL,
		ISNULL(RELI_VDP_MOTIVO_DUPLICADO,'') as RELI_VDP_MOTIVO_DUPLICADO,
		ISNULL(RELI_VDP_RUTA_RESUMEN_ANEXOS,'') as RELI_VDP_RUTA_RESUMEN_ANEXOS,
		ISNULL((SELECT Top 1 CAID_VCARNE_NUMERO FROM [SC_CARDIP].[CD_CARNE_IDENTIDAD] (NOLOCK)	
			WHERE CAID_ICARNE_IDENTIDADID = RELI_ICARNE_IDENTIDAD_ID),'') as NUMERO_CARNE,
		ISNULL(RELI_SIN_COD_INSTITUCION,0) as RELI_SIN_COD_INSTITUCION,
		ISNULL(RELI_SIN_COD_CATEGORIA_MISION,0) as RELI_SIN_COD_CATEGORIA_MISION,
		ISNULL(RELI_SIN_TIPO_CALIDAD_MIGRATORIA,0) as RELI_SIN_TIPO_CALIDAD_MIGRATORIA,
		ISNULL(RELI_SIN_COD_CARGO,0) as RELI_SIN_COD_CARGO,
		ISNULL((SELECT Top 1 CAID_VCARNE_NUMERO FROM [SC_CARDIP].[CD_CARNE_IDENTIDAD] (NOLOCK) 
			WHERE CAID_ICARNE_IDENTIDADID = RELI_SDP_RELDEP_TITULAR),'') as NUMERO_CARNE_RELACION,
		ISNULL(de.DERE_VOBSERVACION,'') AS OBSERVACION,
		ISNULL(DERE_FECHACREACION,'') as ORDEN_FECHACREACION
		FROM  SC_REGLINEA.RL_REGISTRO_LINEA RL (NOLOCK)
		INNER JOIN SC_REGLINEA.RL_DETALLE_REGISTRO_LINEA DE ON RL.RELI_SREG_LINEA_ID=DE.DERE_SREG_LINEA_ID
		INNER JOIN SC_MAESTRO.MA_ESTADO AS ES ON ES.ESTA_SESTADOID =DE.DERE_SESTADO_ID AND ES.ESTA_CESTADO='A' 
			WHERE RELI_VDP_NUMERO_REG_LINEA	= @P_RELI_VNUMERO_REG_LINEA AND RELI_CESTADO = 'A'
		ORDER BY ORDEN_FECHACREACION
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
	RETURN @@IDENTITY
END
