<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization culture="es-PE" uiCulture="es-PE" requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="RemoteOnly"/>
  </system.web>

  <appSettings>
    <!--<add key="ConexionSGAC" value="Database=BD_SGAC_DEV;Server=SRVDOM;UID=sa;PWD=P@ssw0rd2015"/>-->
    <add key="ConexionSGAC" value="Data Source=CONSULARES1;Initial Catalog=BD_SGAC;User ID=AU_SGAC;Password=PRETESTING;Trusted_Connection=False"/>    
    <!--<add key="ConexionSGAC" value="Data Source=CGBS1DGC04\SQLEXPRESS2012;Initial Catalog=BD_SGAC;Integrated Security=True"/>-->
    
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsHttpEndpointBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="IntegradorSGAC_Behavior" name="IntegradorSGAC">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsHttpEndpointBinding" name="IntegradorSGACServicio" bindingNamespace="http://IntegradorSGAC" contract="SGAC.Integrador.Contratos.IColasAtencion"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="IntegradorSGAC_Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceSecurityAudit auditLogLocation="Application" messageAuthenticationAuditLevel="SuccessOrFailure" serviceAuthorizationAuditLevel="SuccessOrFailure"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
</configuration>
