USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_VENCIMIENTO]    Script Date: 15/04/2022 19:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_VENCIMIENTO]
	--================================================================================
	--SISTEMA			: SISTEMA CARNÉ PARA DIPLOMATICOS
	--OBJETIVO			: OGENERA EL VENCIMIENTO DEL CARNÉ DE IDENTIDAD
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 11/10/2017 
	--PARAMETROS        :	
	--EJECUTAR          : [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_VENCIMIENTO]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--MANUEL NUNJA					20180222	-		VALIDACION DE FECHA
	--MANUEL NUNJA					20180524	-		ACTUALIZA ACTA RECEPCION Y ACTA CONFORMIDAD
	--================================================================================
	--MODIFICADO POR		 : MARTÍN MUÑOZ SELMI
	--FECHA DE MODIFICACIÓN  : 15/04/2022
	--MOTIVO				 : SE AGREGA PALABRA CLAVE WITH(NOLOCK) A CONSULTAS
	--================================================================================
	AS
	BEGIN
		SET NOCOUNT ON
		BEGIN TRY
			DECLARE
			@P_ESTADO_EMITIDO		SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='EMITIDO (IMPRESO)'),
			@P_ESTADO_VENCIDO		SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='VENCIDO'),
			@P_OFICNA_MOVIMIENTO	SMALLINT = (SELECT OFCO_SOFICINACONSULARID FROM PS_SISTEMA.SI_OFICINACONSULAR WITH(NOLOCK) WHERE OFCO_VSIGLAS='SEDE CENTRAL - LIMA' AND OFCO_CESTADO='A'),
			@P_OBSERVACION_TIPO		SMALLINT = (SELECT PARA_SPARAMETROID FROM PS_SISTEMA.SI_PARAMETRO WITH(NOLOCK) WHERE PARA_VGRUPO='CARDIP-TIPO OBSERVACION' AND PARA_VDESCRIPCION='VENCIMIENTO DE CARNÉ' AND PARA_CESTADO='A'),
			@P_OBSERVACION_DETALLE	VARCHAR(250) = 'EJECUCIÓN AUTOMATICA',
			--@P_FECHA_ACTUAL			VARCHAR(10) = CONVERT(VARCHAR,GETDATE(),103),
			@P_FECHA_ACTUAL			DATETIME = GETDATE(),
			@V_CONTADOR				INT,
			@V_CANTIDAD				INT

			CREATE TABLE #TEMPVENC
			(
				ID			INT,
				ID_CARNE	SMALLINT,
				NUMERO		VARCHAR(8),
				ESTADO		SMALLINT,
				FECHA_VEN	DATETIME
			)

			INSERT INTO #TEMPVENC (ID,ID_CARNE,NUMERO,ESTADO,FECHA_VEN)(SELECT	ROW_NUMBER() OVER(ORDER BY CAID_ICARNE_IDENTIDADID ASC),
									CAID_ICARNE_IDENTIDADID,
									CAID_VCARNE_NUMERO,
									CAID_SESTADOID,
									CAID_DFECHA_VENCIMIENTO
									FROM SC_CARDIP.CD_CARNE_IDENTIDAD WITH(NOLOCK)
									WHERE	CAID_SESTADOID		=	@P_ESTADO_EMITIDO
									AND		CAID_CESTADO		=	'A'
									--AND		CONVERT(VARCHAR,CAID_DFECHA_VENCIMIENTO,103) < @P_FECHA_ACTUAL
									AND		CAID_DFECHA_VENCIMIENTO < @P_FECHA_ACTUAL
									)
			SET @V_CANTIDAD = @@ROWCOUNT
			SET @V_CONTADOR = 1
			DECLARE
			@ID					INT,
			@P_NUMERO_CARNE		VARCHAR(8)

			WHILE @V_CONTADOR <= @V_CANTIDAD
				BEGIN
					SET @ID				= (SELECT ID_CARNE FROM #TEMPVENC WHERE ID = @V_CONTADOR)
					SET @P_NUMERO_CARNE	= (SELECT NUMERO FROM #TEMPVENC WHERE ID = @V_CONTADOR)

					UPDATE	SC_CARDIP.CD_CARNE_IDENTIDAD
					SET		CAID_SESTADOID				=	@P_ESTADO_VENCIDO,
							CAID_BFLAG_ENTREGADO		=	0,
							CAID_SUSUARIO_DERIVA		=	NULL
					WHERE	CAID_ICARNE_IDENTIDADID		=	@ID
					AND		CAID_SESTADOID				=	@P_ESTADO_EMITIDO
					AND		CAID_CESTADO				=	'A'

					UPDATE	SC_CARDIP.CD_ACTA_RECEPCION_DETALLE
					SET		ACRD_CESTADO				=	'E'
					WHERE	ACRD_SCARNE_IDENTIDAD_ID	=	@ID
					
					UPDATE	SC_CARDIP.CD_ACTA_CONFORMIDAD_DETALLE
					SET		ACDE_CESTADO				=	'E'
					WHERE	ACDE_SCARNE_IDENTIDAD_ID	=	@ID

					INSERT INTO SC_CARDIP.CD_MOVIMIENTO_CARNE_IDENTIDAD (MOCI_ICARNE_IDENTIDADID,MOCI_DFECHA_MOVIMIENTO,MOCI_SESTADOID,MOCI_SOFICINACONSULARID,MOCI_SOBSERVACION_TIPO,MOCI_VOBSERVACION_DETALLE,MOCI_SUSUARIOCREACION,MOCI_VIPCREACION,MOCI_DFECHACREACION)
					VALUES (@ID,GETDATE(),@P_ESTADO_VENCIDO,@P_OFICNA_MOVIMIENTO,@P_OBSERVACION_TIPO,@P_OBSERVACION_DETALLE,1,'0.0.0.0',GETDATE())
					SET @V_CONTADOR = @V_CONTADOR + 1

				END

			DROP TABLE #TEMPVENC
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END

/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_REGISTRO_PREVIO_CONSULTAR]    Script Date: 24/05/2018 02:23:17 p.m. ******/
SET ANSI_NULLS ON
