USE [BD_CARDIP_20220404]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_REPORTE_CARNE_IDENTIDAD_x_CALIDAD_DETALLE]    Script Date: 01/07/2022 17:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	ALTER PROCEDURE [SC_CARDIP].[USP_CD_REPORTE_CARNE_IDENTIDAD_x_CALIDAD_DETALLE]
	--================================================================================
	--SISTEMA			: SISTEMA CARNÉ PARA DIPLOMATICOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : SC_CARDIP.USP_CD_REPORTE_CARNE_IDENTIDAD_x_CALIDAD_DETALLE '2017-01-01 00:00:00.000','2018-05-01 00:00:00.000',0,0,0
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	-- MODIFADO POR: JONATAN SILVA CACHAY
	-- FECHA DE MODIFICACIÓN: 30/03/2021
	-- MOTIVO: SE AGREGA TIPO DE BUSQUEDA
	--================================================================================
	@P_FECHA_INICIO		DATETIME,
	@P_FECHA_FIN		DATETIME,
	@P_CALIDAD_MIG		SMALLINT,
	@P_ESTADO			SMALLINT,
	@P_OFCO_EX			SMALLINT,
	@P_TIPO_BUSQUEDA	VARCHAR(20) = 'REGISTRO'
	AS
	BEGIN
		BEGIN TRY

		IF @P_TIPO_BUSQUEDA = 'REGISTRO'
		BEGIN
			SELECT		ISNULL(CARDIP.CAID_VCARNE_NUMERO,'[ S/N ]') AS NUMERO_CARNE,
						ESTADO.ESTA_VDESCRIPCIONCORTA AS ESTADO,
						ISNULL(CALMIG.CAMI_VNOMBRE,ISNULL(REGPREV_CALMIG.CAMI_VNOMBRE,'-')) AS CALIDAD_MIGRATORIA,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHACREACION,103),'-') AS FECHA_INSCRIPCION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_EMISION,103),'-') AS FECHA_EMISION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_VENCIMIENTO,103),'-') AS FECHA_VENCIMIENTO,
						(
							CASE
								WHEN (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES) IS NULL
									THEN REGPREV.REPE_VPRIMER_APELLIDO + ' ' + ISNULL(REGPREV.REPE_VSEGUNDO_APELLIDO,'') + ' ' + REGPREV.REPE_VNOMBRES 
								ELSE (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES)
							END	
						) AS TITULAR,		
						ISNULL(TITDEP.PARA_VDESCRIPCION,'-') AS STATUS_MIG,				
						ISNULL((PAIS.PAIS_VNOMBRE + ' (' + ISNULL(PAIS.PAIS_VNACIONALIDAD,'[ NO DEFINIDO ]') + ')'),'-') AS PAIS_NACIONALIDAD,
						ISNULL(OFCOEX.OFCE_VNOMBRE,REGPREV_OFCO.OFCE_VNOMBRE) AS OFICINA_CONSULAR_EXTRANJERA,
						ISNULL(CALMIGSEC.CAMI_VNOMBRE,'-') AS CARGO
			FROM		SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP 
			LEFT JOIN	PN_REGISTRO.RE_PERSONA PERSONA ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO SEXO ON PERSONA.PERS_SGENEROID = SEXO.PARA_SPARAMETROID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO ESTCIVIL ON PERSONA.PERS_SESTADOCIVILID = ESTCIVIL.PARA_SPARAMETROID
			LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG ON CARDIP.CAID_SCALIDAD_MIGRATORIAID = CALMIG.CAMI_SCALIDAD_MIGRATORIAID
			LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIGSEC ON CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID = CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID
						LEFT JOIN	PS_SISTEMA.SI_PARAMETRO TITDEP ON CALMIGSEC.CAMI_SFLAG_TITULAR_DEPENDIENTE = TITDEP.PARA_SPARAMETROID
			LEFT JOIN	PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX ON CARDIP.CAID_SOFICINA_CONSULAR_EXID = OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO CATMISION ON OFCOEX.OFCE_SCATEGORIAID = CATMISION.PARA_SPARAMETROID
			LEFT JOIN	SC_MAESTRO.MA_ESTADO ESTADO ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
			LEFT JOIN	PS_SISTEMA.SI_PAIS PAIS ON PERSONA.PERS_SPAISID = PAIS.PAIS_SPAISID
			LEFT JOIN	SC_CARDIP.CD_REGISTRO_PREVIO REGPREV ON CARDIP.CAID_SREGISTRO_PREVIO = REGPREV.REPE_SREGISTRO_PREVIO_ID
						LEFT JOIN SC_MAESTRO.MA_CALIDAD_MIGRATORIA REGPREV_CALMIG ON REGPREV.REPE_SCALIDAD_MIGRATORIA = REGPREV_CALMIG.CAMI_SCALIDAD_MIGRATORIAID
						LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA REGPREV_OFCO ON REGPREV.REPE_SOFICINA_CONSULAR_EX_ID = REGPREV_OFCO.OFCE_SOFICINACONSULAR_EXTRANJERAID
							LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_OFCO_CAT ON REGPREV_OFCO.OFCE_SCATEGORIAID = REGPREV_OFCO_CAT.PARA_SPARAMETROID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_GENERO ON REGPREV.REPE_SGENERO_ID = REGPREV_GENERO.PARA_SPARAMETROID
			WHERE		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)>=@P_FECHA_INICIO
			AND			CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)<=@P_FECHA_FIN
			AND			(@P_CALIDAD_MIG=0 OR CARDIP.CAID_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
			AND			(@P_ESTADO=0 OR CARDIP.CAID_SESTADOID=@P_ESTADO)
			AND			(@P_OFCO_EX=0 OR CARDIP.CAID_SOFICINA_CONSULAR_EXID=@P_OFCO_EX)
		END
		ELSE
		BEGIN
			SELECT		ISNULL(CARDIP.CAID_VCARNE_NUMERO,'[ S/N ]') AS NUMERO_CARNE,
						ESTADO.ESTA_VDESCRIPCIONCORTA AS ESTADO,
						ISNULL(CALMIG.CAMI_VNOMBRE,ISNULL(REGPREV_CALMIG.CAMI_VNOMBRE,'-')) AS CALIDAD_MIGRATORIA,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHACREACION,103),'-') AS FECHA_INSCRIPCION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_EMISION,103),'-') AS FECHA_EMISION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_VENCIMIENTO,103),'-') AS FECHA_VENCIMIENTO,
						(
							CASE
								WHEN (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES) IS NULL
									THEN REGPREV.REPE_VPRIMER_APELLIDO + ' ' + ISNULL(REGPREV.REPE_VSEGUNDO_APELLIDO,'') + ' ' + REGPREV.REPE_VNOMBRES 
								ELSE (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES)
							END	
						) AS TITULAR,		
						ISNULL(TITDEP.PARA_VDESCRIPCION,'-') AS STATUS_MIG,				
						ISNULL((PAIS.PAIS_VNOMBRE + ' (' + ISNULL(PAIS.PAIS_VNACIONALIDAD,'[ NO DEFINIDO ]') + ')'),'-') AS PAIS_NACIONALIDAD,
						ISNULL(OFCOEX.OFCE_VNOMBRE,REGPREV_OFCO.OFCE_VNOMBRE) AS OFICINA_CONSULAR_EXTRANJERA,
						ISNULL(CALMIGSEC.CAMI_VNOMBRE,'-') AS CARGO
			FROM		SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP 
			LEFT JOIN	PN_REGISTRO.RE_PERSONA PERSONA ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO SEXO ON PERSONA.PERS_SGENEROID = SEXO.PARA_SPARAMETROID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO ESTCIVIL ON PERSONA.PERS_SESTADOCIVILID = ESTCIVIL.PARA_SPARAMETROID
			LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG ON CARDIP.CAID_SCALIDAD_MIGRATORIAID = CALMIG.CAMI_SCALIDAD_MIGRATORIAID
			LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIGSEC ON CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID = CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID
						LEFT JOIN	PS_SISTEMA.SI_PARAMETRO TITDEP ON CALMIGSEC.CAMI_SFLAG_TITULAR_DEPENDIENTE = TITDEP.PARA_SPARAMETROID
			LEFT JOIN	PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX ON CARDIP.CAID_SOFICINA_CONSULAR_EXID = OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO CATMISION ON OFCOEX.OFCE_SCATEGORIAID = CATMISION.PARA_SPARAMETROID
			LEFT JOIN	SC_MAESTRO.MA_ESTADO ESTADO ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
			LEFT JOIN	PS_SISTEMA.SI_PAIS PAIS ON PERSONA.PERS_SPAISID = PAIS.PAIS_SPAISID
			LEFT JOIN	SC_CARDIP.CD_REGISTRO_PREVIO REGPREV ON CARDIP.CAID_SREGISTRO_PREVIO = REGPREV.REPE_SREGISTRO_PREVIO_ID
						LEFT JOIN SC_MAESTRO.MA_CALIDAD_MIGRATORIA REGPREV_CALMIG ON REGPREV.REPE_SCALIDAD_MIGRATORIA = REGPREV_CALMIG.CAMI_SCALIDAD_MIGRATORIAID
						LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA REGPREV_OFCO ON REGPREV.REPE_SOFICINA_CONSULAR_EX_ID = REGPREV_OFCO.OFCE_SOFICINACONSULAR_EXTRANJERAID
							LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_OFCO_CAT ON REGPREV_OFCO.OFCE_SCATEGORIAID = REGPREV_OFCO_CAT.PARA_SPARAMETROID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_GENERO ON REGPREV.REPE_SGENERO_ID = REGPREV_GENERO.PARA_SPARAMETROID
			WHERE		CAST(FLOOR(CAST(CAID_DFECHA_EMISION AS float)) AS DATETIME)>=@P_FECHA_INICIO
			AND			CAST(FLOOR(CAST(CAID_DFECHA_EMISION AS float)) AS DATETIME)<=@P_FECHA_FIN
			AND			(@P_CALIDAD_MIG=0 OR CARDIP.CAID_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
			AND			(@P_ESTADO=0 OR CARDIP.CAID_SESTADOID=@P_ESTADO)
			AND			(@P_OFCO_EX=0 OR CARDIP.CAID_SOFICINA_CONSULAR_EXID=@P_OFCO_EX)
		END
			
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END


