USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CONSULTA_EXTERNA]    Script Date: 18/04/2022 11:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CONSULTA_EXTERNA]
	--================================================================================
	--SISTEMA			: SISTEMA CARNÉ PARA DIPLOMATICOS - CONSULTA
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : SC_CARDIP.USP_CD_CONSULTA_EXTERNA '20180007'
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_NUMERO_CARNE		VARCHAR(8)
	AS
	BEGIN
		SET NOCOUNT ON
		BEGIN TRY
			DECLARE 
			@V_ESTADO_EMITIDO SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VDESCRIPCIONCORTA='EMITIDO (IMPRESO)'),
			@V_ESTADO_VENCIDO SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VDESCRIPCIONCORTA='VENCIDO'),
			@V_ESTADO_INHABIL SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VDESCRIPCIONCORTA='INHABILITADO')

			SELECT		CARDIP.CAID_VCARNE_NUMERO AS CARNE_NUMERO,
						CONVERT(VARCHAR,PERSONA.PERS_DNACIMIENTOFECHA,103) AS FECHA_NAC,
						LEFT(PERSONA.PERS_VAPELLIDOPATERNO,3) + REPLICATE('X',10) AS APE_PAT,
						LEFT(PERSONA.PERS_VAPELLIDOMATERNO,3) + REPLICATE('X',10) AS APE_MAT,
						LEFT(PERSONA.PERS_VNOMBRES,3) + REPLICATE('X',10) AS NOMBRES,
						(PAIS.PAIS_VNACIONALIDAD + ' (' + PAIS.PAIS_VNOMBRE + ')') AS PAIS_NACI,
						CONVERT(VARCHAR,CARDIP.CAID_DFECHA_VENCIMIENTO,103) AS FECHA_VEN,
						CARDIP.CAID_VRUTA_ARCHIVO_FOTO AS RUTA_ARCHIVO,
						ESTADO.ESTA_VDESCRIPCIONCORTA AS ESTADO_DESC
			FROM		SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP (NOLOCK)
			INNER JOIN	PN_REGISTRO.RE_PERSONA PERSONA ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
			INNER JOIN	PS_SISTEMA.SI_PAIS PAIS ON PERSONA.PERS_SPAISID= PAIS.PAIS_SPAISID
			INNER JOIN	SC_MAESTRO.MA_ESTADO ESTADO ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
			WHERE		CARDIP.CAID_VCARNE_NUMERO=@P_NUMERO_CARNE
			AND			CARDIP.CAID_CESTADO='A'
			AND			PERSONA.PERS_CESTADO='A'
			AND			(CARDIP.CAID_SESTADOID=@V_ESTADO_EMITIDO OR CARDIP.CAID_SESTADOID=@V_ESTADO_VENCIDO OR CARDIP.CAID_SESTADOID=@V_ESTADO_INHABIL)


		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END