<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SGAC.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supported Runtimeversion="v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.OracleClient" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <client>
      <endpoint address="http://consulares1.rree.gob.pe/sgac_webservice/colasatencion.svc"
        binding="basicHttpBinding" bindingConfiguration="wsHttpEndpointBinding"
        contract="prxIntegrador.IColasAtencion" name="BasicHttpBinding_IColasAtencion" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="wsHttpEndpointBinding" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
