USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_GENERAR_DUPLICADO]    Script Date: 11/04/2022 19:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_GENERAR_DUPLICADO]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: GENERA DUPLICADO DE CARNET DE IDENTIDAD
	--CREADO			   : JONATAN SILVA CACHAY
	--FECHA     		: 28/11/2019 18:47:27
	--PARAMETROS        :	
    --  @P_CARNE_IDENTIDAD_ID		SMALLINT,
    --  @P_RELI_VDP_NUMERO_REG_LINEA VARCHAR(10),
	 --  @P_ESTADO_ID				SMALLINT,
    --  @P_CAID_SUSUARIOMODIFICACION SMALLINT,
    --  @P_CAID_VIPMODIFICACION VARCHAR(50)
	--EJECUTAR          : [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_GENERAR_DUPLICADO]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	-- MODIFICADO POR: JONATAN SILVA CACHAY
	-- FECHA DE MODIFICACIÓN: 04/12/2020
	-- MOTIVO: SE AGREGA ESTADO APROBADO A LA SOLICITUD 
	--================================================================================
	-- MODIFICADO POR: JONATAN SILVA CACHAY
	-- FECHA DE MODIFICACIÓN: 04/12/2020
	-- MOTIVO: SE AGREGA ESTADO APROBADO A LA SOLICITUD 
	--================================================================================
	-- MODIFICADO POR: JONATAN SILVA CACHAY
	-- FECHA DE MODIFICACIÓN: 23/03/2022
	-- MOTIVO: SE INSERTA EL DETALLE DE ESTADOS
	--================================================================================
	@P_CARNE_IDENTIDAD_ID		SMALLINT,
	@P_RELI_VDP_NUMERO_REG_LINEA VARCHAR(10),
	@P_ESTADO_ID				SMALLINT,
	@P_CAID_SUSUARIOMODIFICACION SMALLINT,
	@P_CAID_VIPMODIFICACION VARCHAR(50)   
	AS
	BEGIN
		BEGIN TRY	
		DECLARE @DFECHAMODIFICACION DATETIME = GETDATE()

		DECLARE @ESTADO_APROBADO SMALLINT,
		@NUEVO_DERE_SCODIGO SMALLINT,
		@P_RELI_IREGISTRO_LINEA_ID int

		

			Select @ESTADO_APROBADO = ESTA_SESTADOID
			from [SC_MAESTRO].[MA_ESTADO](NOLOCK) 
			where ESTA_VGRUPO = 'REG LINEA - ESTADO' 
			AND ESTA_VDESCRIPCIONCORTA = 'APROBADO'

			UPDATE	SC_CARDIP.CD_CARNE_IDENTIDAD 
			SET
					CAID_SESTADOID				=	@P_ESTADO_ID,
					CAID_BDUPLICADO         = 1,
					CAID_BRENOVAR           = 0,
					CAID_SUSUARIOMODIFICACION	=	@P_CAID_SUSUARIOMODIFICACION,
					CAID_VIPMODIFICACION = @P_CAID_VIPMODIFICACION,
					CAID_DFECHAMODIFICACION = @DFECHAMODIFICACION
			WHERE	CAID_ICARNE_IDENTIDADID		=	@P_CARNE_IDENTIDAD_ID
					AND CAID_CESTADO='A'
				
			UPDATE	[SC_REGLINEA].[RL_REGISTRO_LINEA]
			SET RELI_ICARNE_IDENTIDAD_ID = @P_CARNE_IDENTIDAD_ID,
			RELI_SESTADO_ID = @ESTADO_APROBADO,
			RELI_SUSUARIO_MODIFICACION = @P_CAID_SUSUARIOMODIFICACION,
			RELI_VIP_MODIFICACION = @P_CAID_VIPMODIFICACION,
			RELI_DFECHA_MODIFICACION = @DFECHAMODIFICACION
			WHERE RELI_VDP_NUMERO_REG_LINEA = @P_RELI_VDP_NUMERO_REG_LINEA

			Select @P_RELI_IREGISTRO_LINEA_ID = RELI_SREG_LINEA_ID 
			from [SC_REGLINEA].[RL_REGISTRO_LINEA] (NoLock)
			where RELI_VDP_NUMERO_REG_LINEA = @P_RELI_VDP_NUMERO_REG_LINEA

			SELECT @NUEVO_DERE_SCODIGO= (ISNULL(MAX(DERE_SCODIGO),0)+1) FROM SC_REGLINEA.RL_DETALLE_REGISTRO_LINEA (NOLOCK) WHERE DERE_SREG_LINEA_ID=@P_RELI_IREGISTRO_LINEA_ID

			INSERT INTO  SC_REGLINEA.RL_DETALLE_REGISTRO_LINEA(DERE_SREG_LINEA_ID, DERE_SCODIGO, DERE_SESTADO_ID, DERE_VOBSERVACION,DERE_FECHACREACION)
				VALUES (@P_RELI_IREGISTRO_LINEA_ID, @NUEVO_DERE_SCODIGO,@ESTADO_APROBADO, '',GETDATE())
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END

   