USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_REGITROLINEA_REGISTRAR_DETALLE_ATENDIDO]    Script Date: 15/04/2022 20:44:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [SC_CARDIP].[USP_CD_REGITROLINEA_REGISTRAR_DETALLE_ATENDIDO]
@P_CARNE_IDENTIDAD_ID		SMALLINT,
@P_MENSAJE varchar(250)
AS
BEGIN
	BEGIN TRY   
			BEGIN	
							    --------------------------------
				DECLARE @RELI_SREG_LINEA_ID INT,@NUEVO_DERE_SCODIGO SMALLINT, @DERE_SESTADO_ID SMALLINT
				SET @RELI_SREG_LINEA_ID=0
				SELECT @RELI_SREG_LINEA_ID = RELI_SREG_LINEA_ID FROM SC_REGLINEA.RL_REGISTRO_LINEA WHERE RELI_ICARNE_IDENTIDAD_ID= @P_CARNE_IDENTIDAD_ID
				IF (@RELI_SREG_LINEA_ID>0)BEGIN
					SELECT @NUEVO_DERE_SCODIGO= (ISNULL(MAX(DERE_SCODIGO),0)+1) FROM SC_REGLINEA.RL_DETALLE_REGISTRO_LINEA WHERE DERE_SREG_LINEA_ID=@RELI_SREG_LINEA_ID
					SELECT @DERE_SESTADO_ID= ESTA_SESTADOID  FROM SC_MAESTRO.MA_ESTADO AS ES WHERE ES.ESTA_CESTADO='A' AND ES.ESTA_VGRUPO='REG LINEA - ESTADO' AND ESTA_VDESCRIPCIONCORTA='ATENDIDO'
					----ACTUALIZA LA CABECERA
					UPDATE SC_REGLINEA.RL_REGISTRO_LINEA SET RELI_SESTADO_ID=@DERE_SESTADO_ID, RELI_DFECHA_MODIFICACION=GETDATE() WHERE RELI_SREG_LINEA_ID=@RELI_SREG_LINEA_ID
					----INSERTA EL DETALLE
					INSERT INTO  SC_REGLINEA.RL_DETALLE_REGISTRO_LINEA(DERE_SREG_LINEA_ID, DERE_SCODIGO, DERE_SESTADO_ID,   DERE_VOBSERVACION  ,DERE_FECHACREACION)
					VALUES (@RELI_SREG_LINEA_ID, @NUEVO_DERE_SCODIGO,@DERE_SESTADO_ID, @P_MENSAJE,GETDATE())
				END
		
			END
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ERRORMESSAGE;
	END CATCH
END
