USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR]    Script Date: 15/04/2022 20:25:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR]0,'',0,'',0,0,0,0,0,'01/01/1900','01/01/1900','','','',0,1,15
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
   -- MODIFICADO POR: JONATAN SILVA CACHAY
   -- FECHA: 10/12/2019
   -- MOTIVO: SE AGREGA EL CODIGO DEL ESTADO Y EL CAMPO DE DUPLICADO
   --================================================================================
   -- MODIFICADO POR: JONATAN SILVA CACHAY
   -- FECHA: 22/09/2020
   -- MOTIVO: SE AGREGA ISNULL en CAID_STIPO_ENTRADA
   --================================================================================
   -- MODIFICADO POR: VPIPA / JSILVAC
   -- FECHA: 02/07/2021
   -- MOTIVO: SE AGREGA PERIDENT_TIPODOC_DESC,PERIDENT_NUMDOCIDENT, se quita subconsulta "select top 1 .." adicinando PEID_BACTIVOENRUNE=1
   --================================================================================
   -- MODIFICADO POR: JSILVAC
   -- FECHA: 23/03/2022
   -- MOTIVO: Se agrega el campo RELI_SREG_LINEA_ID
   --================================================================================
   
	@P_PERIODO			INT,
	@P_MESA_PARTES		VARCHAR(20),
	@P_NUMERO_IDENT		INT,
	@P_NUMERO_CARNE		VARCHAR(10),
	@P_ESTADO			SMALLINT,
	@P_CALIDAD_MIG		SMALLINT,
	@P_CARGO			SMALLINT,
	@P_CAT_OFICINA		SMALLINT,
	@P_OFICINA_CON_EX	SMALLINT,
	@P_FECHA_EMISION	DATETIME,
	@P_FECHA_VENC		DATETIME,
	@P_APELLIDO_PAT		VARCHAR(100),
	@P_APELLIDO_MAT		VARCHAR(100),
	@P_NOMBRES			VARCHAR(100),
	@P_PAIS				SMALLINT,
	/*VARIABLES DE PAGINACION*/
	@P_NUM_PAG			BIGINT,
	@P_CANT_REG_PAG		BIGINT
	AS
	BEGIN
		DECLARE @VALORES varchar(1000),
		@V_ESTADO VARCHAR(1)='A'
		SET NOCOUNT ON
		BEGIN TRY

		--================= se crea tabla temporal con la finalidad filtrar historicamente la ultima residencia por residente =======
		SELECT PERES.PERE_IPERSONAID, max(PERES.PERE_IRESIDENCIAID) PERE_IRESIDENCIAID  
		INTO #TEMP_RE_PERSONARESIDENCIA 
		FROM PN_REGISTRO.RE_PERSONARESIDENCIA PERES group by PERES.PERE_IPERSONAID
		--================
		DECLARE	@V_TOTAL_REG BIGINT =	(
									SELECT		COUNT(CARDIP.CAID_ICARNE_IDENTIDADID)
									FROM		SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP 
									LEFT JOIN	PN_REGISTRO.RE_PERSONA PERSONA (NOLOCK)ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
												LEFT JOIN PS_SISTEMA.SI_PARAMETRO SEXO (NOLOCK)ON PERSONA.PERS_SGENEROID = SEXO.PARA_SPARAMETROID
												LEFT JOIN PS_SISTEMA.SI_PARAMETRO ESTCIVIL (NOLOCK)ON PERSONA.PERS_SESTADOCIVILID = ESTCIVIL.PARA_SPARAMETROID
									LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG (NOLOCK)ON CARDIP.CAID_SCALIDAD_MIGRATORIAID = CALMIG.CAMI_SCALIDAD_MIGRATORIAID
									LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIGSEC (NOLOCK)ON CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID = CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID
												LEFT JOIN PS_SISTEMA.SI_PARAMETRO TITDEP (NOLOCK)ON CALMIGSEC.CAMI_SFLAG_TITULAR_DEPENDIENTE = TITDEP.PARA_SPARAMETROID
									LEFT JOIN	PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX (NOLOCK)ON CARDIP.CAID_SOFICINA_CONSULAR_EXID = OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID
												LEFT JOIN PS_SISTEMA.SI_PARAMETRO CATMISION (NOLOCK)ON OFCOEX.OFCE_SCATEGORIAID = CATMISION.PARA_SPARAMETROID
									LEFT JOIN	SC_MAESTRO.MA_ESTADO ESTADO (NOLOCK)ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
									LEFT JOIN	PS_SISTEMA.SI_PAIS PAIS (NOLOCK)ON PERSONA.PERS_SPAISID = PAIS.PAIS_SPAISID
									LEFT JOIN	SC_CARDIP.CD_REGISTRO_PREVIO REGPREV (NOLOCK)ON CARDIP.CAID_SREGISTRO_PREVIO = REGPREV.REPE_SREGISTRO_PREVIO_ID
												LEFT JOIN SC_MAESTRO.MA_CALIDAD_MIGRATORIA REGPREV_CALMIG (NOLOCK)ON REGPREV.REPE_SCALIDAD_MIGRATORIA = REGPREV_CALMIG.CAMI_SCALIDAD_MIGRATORIAID
												LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA REGPREV_OFCO (NOLOCK)ON REGPREV.REPE_SOFICINA_CONSULAR_EX_ID = REGPREV_OFCO.OFCE_SOFICINACONSULAR_EXTRANJERAID
													LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_OFCO_CAT (NOLOCK)ON REGPREV_OFCO.OFCE_SCATEGORIAID = REGPREV_OFCO_CAT.PARA_SPARAMETROID
												LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_GENERO (NOLOCK)ON REGPREV.REPE_SGENERO_ID = REGPREV_GENERO.PARA_SPARAMETROID
									LEFT JOIN PS_SISTEMA.SI_PARAMETRO TIPOENTRADA (NOLOCK)ON CARDIP.CAID_STIPO_ENTRADA = TIPOENTRADA.PARA_SPARAMETROID
									WHERE		CARDIP.CAID_CESTADO='A'
												AND (@P_PERIODO=0 OR CARDIP.CAID_IPERIODO=@P_PERIODO)
												AND (@P_NUMERO_IDENT=0 OR CARDIP.CAID_IIDENT_NUMERO=@P_NUMERO_IDENT)
												AND (@P_NUMERO_CARNE='' OR CARDIP.CAID_VCARNE_NUMERO=@P_NUMERO_CARNE)
												AND (@P_ESTADO=0 OR ESTADO.ESTA_SESTADOID=@P_ESTADO)
												AND (@P_CALIDAD_MIG=0 OR CALMIG.CAMI_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
												AND (@P_CARGO=0 OR CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID=@P_CARGO)
												AND (@P_APELLIDO_PAT='' Or PERSONA.PERS_VAPELLIDOPATERNO LIKE @P_APELLIDO_PAT + '%')
												AND (@P_APELLIDO_MAT='' Or PERSONA.PERS_VAPELLIDOMATERNO LIKE @P_APELLIDO_MAT + '%')
												AND (@P_NOMBRES='' Or PERSONA.PERS_VNOMBRES LIKE @P_NOMBRES + '%')
												AND (@P_PAIS=0 OR PERSONA.PERS_SPAISID=@P_PAIS)
												AND (@P_CAT_OFICINA=0 OR CATMISION.PARA_SPARAMETROID=@P_CAT_OFICINA)
												AND (@P_OFICINA_CON_EX=0 OR OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID=@P_OFICINA_CON_EX)
												AND (YEAR(@P_FECHA_EMISION)=1900 OR CARDIP.CAID_DFECHA_EMISION >= @P_FECHA_EMISION)
												AND (YEAR(@P_FECHA_VENC)=1900 OR CARDIP.CAID_DFECHA_VENCIMIENTO >= @P_FECHA_VENC)
												AND (@P_MESA_PARTES='' OR CAID_VIDENT_MESA_PARTES=@P_MESA_PARTES)
									)

			SELECT		CARDIP.CAID_ICARNE_IDENTIDADID AS CARDIP_ID,
						ISNULL(CARDIP.CAID_VIDENT_MESA_PARTES,'-') AS MESA_PARTES,
						(CAST(CARDIP.CAID_IPERIODO AS varchar) + ' - ' + (RIGHT(REPLICATE('0',5) + CAST(CARDIP.CAID_IIDENT_NUMERO AS VARCHAR(5)),5))) AS NUMERO_IDENT,
						ISNULL(CARDIP.CAID_VCARNE_NUMERO,'[ S/N ]') AS NUMERO_CARNE,
						ESTADO.ESTA_VDESCRIPCIONCORTA AS ESTADO,
						(
							CASE
								WHEN (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES) IS NULL
									THEN REGPREV.REPE_VPRIMER_APELLIDO + ' ' + ISNULL(REGPREV.REPE_VSEGUNDO_APELLIDO,'') + ' ' + REGPREV.REPE_VNOMBRES 
								ELSE (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES)
							END	
						) AS FUNCIONARIO,
						ISNULL((PAIS.PAIS_VNOMBRE + ' (' + ISNULL(PAIS.PAIS_VNACIONALIDAD,'[ NO DEFINIDO ]') + ')'),'-') AS PAIS_NACIONALIDAD,
						ISNULL(CALMIG.CAMI_VNOMBRE,ISNULL(REGPREV_CALMIG.CAMI_VNOMBRE,'-')) AS CALIDAD_MIGRATORIA,
						ISNULL(CALMIGSEC.CAMI_VNOMBRE,'-') AS CARGO,
						ISNULL(OFCOEX.OFCE_VNOMBRE,REGPREV_OFCO.OFCE_VNOMBRE) AS OFICINA_CONSULAR_EXTRANJERA,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHACREACION,103),'-') AS FECHA_INSCRIPCION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_EMISION,103),'-') AS FECHA_EMISION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_VENCIMIENTO,103),'-') AS FECHA_VENCIMIENTO,
						ISNULL(CARDIP.CAID_VRUTA_ARCHIVO_FOTO,'') AS RUTA_ARCHIVO,
						ISNULL(CARDIP.CAID_VRUTA_ARCHIVO_FIRMA,'') AS RUTA_ARCHIVO_FIRMA,
						ISNULL(CARDIP.CAID_SCALIDAD_MIGRATORIAID,0) AS CALMIG_ID,
						ISNULL(CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID,0) AS CALMIGSEC_ID,
						ISNULL(CARDIP.CAID_SOFICINA_CONSULAR_EXID,0) AS OFCOEX_ID,
						CARDIP.CAID_BRENOVAR AS RENOVAR,
						-- ULTIMOS
						ISNULL(PERSONA.PERS_VAPELLIDOPATERNO,REGPREV.REPE_VPRIMER_APELLIDO) AS FUNC_APEP,
						ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,ISNULL(REGPREV.REPE_VSEGUNDO_APELLIDO,'-')) AS FUNC_APEM,
						ISNULL(PERSONA.PERS_VNOMBRES,REGPREV.REPE_VNOMBRES) AS FUNC_NOMBRES,
						ISNULL(CONVERT(VARCHAR,PERSONA.PERS_DNACIMIENTOFECHA,103),'-') AS FUNC_FECNAC,
						ISNULL(SEXO.PARA_VDESCRIPCION,ISNULL(REGPREV_GENERO.PARA_VDESCRIPCION,'-')) AS FUNC_GENERO,
						ISNULL(CATMISION.PARA_VDESCRIPCION,ISNULL(REGPREV_OFCO_CAT.PARA_VDESCRIPCION,'-')) AS OFCOEX_CATEGORIA,
						ISNULL(ESTCIVIL.PARA_VDESCRIPCION,'-') AS ESTCIVIL_DESC,
						ISNULL(CARDIP.CAID_SUSUARIO_DERIVA,0) AS REGISTRADOR_ID,
						CARDIP.CAID_BFLAG_REGISTRO_COMPLETO AS REGPREV_COMPLETO,
						ISNULL(REGPREV.REPE_SREGISTRO_PREVIO_ID,0) AS REGPREV_ID,
						CARDIP.CAID_BFLAG_CONTROL_CALIDAD AS FLAG_CONTROL_CALIDAD,
						CARDIP.CAID_VCONTROL_CALIDAD AS CONTROL_CALIDAD,
						ISNULL(CARDIP.CAID_VCONTROL_CALIDAD_DETALLE,'') AS CONTROL_CALIDAD_DETALLE,

						ISNULL((
							SELECT UBIGEO.UBGE_VDEPARTAMENTO + ' - ' + UBIGEO.UBGE_VPROVINCIA + ' - ' + UBIGEO.UBGE_VDISTRITO FROM PS_SISTEMA.SI_UBICACIONGEOGRAFICA UBIGEO(NOLOCK) WHERE UBIGEO.UBGE_CCODIGO = (
							SELECT RESI_CRESIDENCIAUBIGEO FROM PN_REGISTRO.RE_RESIDENCIA RESI (NOLOCK)WHERE RESI.RESI_IRESIDENCIAID= (
							SELECT PERES.PERE_IRESIDENCIAID FROM #TEMP_RE_PERSONARESIDENCIA PERES (NOLOCK)WHERE PERES.PERE_IPERSONAID=PERSONA.PERS_IPERSONAID))
						),'-') AS UBIGEO,
						
						ISNULL((SELECT RESI_VRESIDENCIADIRECCION FROM PN_REGISTRO.RE_RESIDENCIA RESI (NOLOCK)WHERE RESI.RESI_IRESIDENCIAID= (
						SELECT PERES.PERE_IRESIDENCIAID FROM #TEMP_RE_PERSONARESIDENCIA PERES (NOLOCK)WHERE PERES.PERE_IPERSONAID=PERSONA.PERS_IPERSONAID)),'-')
						AS DIRECCION,
						
						ISNULL(TITDEP.PARA_VDESCRIPCION,'-') AS TITDEP,
						CARDIP.CAID_BFLAG_SOLICITUD_ACTIVA AS FLAG_SOLICITUD,
						ISNULL(CARDIP.CAID_STIPO_ENTRADA,0) AS TIPO_ENTRADA_ID,
						TIPOENTRADA.PARA_VDESCRIPCION AS TIPO_ENTRADA_DESC,
                  ESTADO.ESTA_SESTADOID AS ESTADO_ID,
                  CAID_BDUPLICADO AS DUPLICADO,
				  ISNULL(DOCIDENT.DOID_VDESCRIPCIONLARGA,'') as PERIDENT_TIPODOC_DESC,
				  ISNULL(PEID_VDOCUMENTONUMERO,'')  as PERIDENT_NUMDOCIDENT,
				  (Select Top 1 RELI_SREG_LINEA_ID From [SC_REGLINEA].[RL_REGISTRO_LINEA](NOLOCK) 
				  Where RELI_ICARNE_IDENTIDAD_ID = CARDIP.CAID_ICARNE_IDENTIDADID
				  order by RELI_SREG_LINEA_ID desc) as RELI_SREG_LINEA_ID
				  /*----------------------*/
			FROM		SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP (NOLOCK)
			LEFT JOIN	PN_REGISTRO.RE_PERSONA PERSONA (NOLOCK)ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO SEXO (NOLOCK)ON PERSONA.PERS_SGENEROID = SEXO.PARA_SPARAMETROID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO ESTCIVIL (NOLOCK)ON PERSONA.PERS_SESTADOCIVILID = ESTCIVIL.PARA_SPARAMETROID
			LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG (NOLOCK)ON CARDIP.CAID_SCALIDAD_MIGRATORIAID = CALMIG.CAMI_SCALIDAD_MIGRATORIAID
			LEFT JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIGSEC (NOLOCK)ON CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID = CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO TITDEP (NOLOCK)ON CALMIGSEC.CAMI_SFLAG_TITULAR_DEPENDIENTE = TITDEP.PARA_SPARAMETROID
			LEFT JOIN	PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX (NOLOCK)ON CARDIP.CAID_SOFICINA_CONSULAR_EXID = OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO CATMISION (NOLOCK)ON OFCOEX.OFCE_SCATEGORIAID = CATMISION.PARA_SPARAMETROID
			LEFT JOIN	SC_MAESTRO.MA_ESTADO ESTADO (NOLOCK)ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
			LEFT JOIN	PS_SISTEMA.SI_PAIS PAIS (NOLOCK)ON PERSONA.PERS_SPAISID = PAIS.PAIS_SPAISID
			LEFT JOIN	SC_CARDIP.CD_REGISTRO_PREVIO REGPREV (NOLOCK)ON CARDIP.CAID_SREGISTRO_PREVIO = REGPREV.REPE_SREGISTRO_PREVIO_ID
						LEFT JOIN SC_MAESTRO.MA_CALIDAD_MIGRATORIA REGPREV_CALMIG (NOLOCK)ON REGPREV.REPE_SCALIDAD_MIGRATORIA = REGPREV_CALMIG.CAMI_SCALIDAD_MIGRATORIAID
						LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA REGPREV_OFCO (NOLOCK)ON REGPREV.REPE_SOFICINA_CONSULAR_EX_ID = REGPREV_OFCO.OFCE_SOFICINACONSULAR_EXTRANJERAID
							LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_OFCO_CAT (NOLOCK)ON REGPREV_OFCO.OFCE_SCATEGORIAID = REGPREV_OFCO_CAT.PARA_SPARAMETROID
						LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_GENERO (NOLOCK)ON REGPREV.REPE_SGENERO_ID = REGPREV_GENERO.PARA_SPARAMETROID
			LEFT JOIN PS_SISTEMA.SI_PARAMETRO TIPOENTRADA (NOLOCK)ON CARDIP.CAID_STIPO_ENTRADA = TIPOENTRADA.PARA_SPARAMETROID
			left join PN_REGISTRO.RE_PERSONAIDENTIFICACION as perident (NOLOCK)on perident.PEID_IPERSONAID = PERSONA.PERS_IPERSONAID and perident.PEID_BACTIVOENRUNE=1
			left join SC_MAESTRO.MA_DOCUMENTO_IDENTIDAD as DOCIDENT (NOLOCK) on DOCIDENT.DOID_STIPODOCUMENTOIDENTIDADID=perident.PEID_SDOCUMENTOTIPOID
			WHERE		CARDIP.CAID_CESTADO='A'
						AND (@P_PERIODO=0 OR CARDIP.CAID_IPERIODO=@P_PERIODO)
						AND (@P_NUMERO_IDENT=0 OR CARDIP.CAID_IIDENT_NUMERO=@P_NUMERO_IDENT)
						AND (@P_NUMERO_CARNE='' OR CARDIP.CAID_VCARNE_NUMERO=@P_NUMERO_CARNE)
						AND (@P_ESTADO=0 OR ESTADO.ESTA_SESTADOID=@P_ESTADO)
						AND (@P_CALIDAD_MIG=0 OR CALMIG.CAMI_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
						AND (@P_CARGO=0 OR CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID=@P_CARGO)
						AND (@P_APELLIDO_PAT='' Or PERSONA.PERS_VAPELLIDOPATERNO LIKE @P_APELLIDO_PAT + '%')
						AND (@P_APELLIDO_MAT='' Or PERSONA.PERS_VAPELLIDOMATERNO LIKE @P_APELLIDO_MAT + '%')
						AND (@P_NOMBRES='' Or PERSONA.PERS_VNOMBRES LIKE @P_NOMBRES + '%')
						AND (@P_PAIS=0 OR PERSONA.PERS_SPAISID=@P_PAIS)
						AND (@P_CAT_OFICINA=0 OR CATMISION.PARA_SPARAMETROID=@P_CAT_OFICINA)
						AND (@P_OFICINA_CON_EX=0 OR OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID=@P_OFICINA_CON_EX)
						AND (YEAR(@P_FECHA_EMISION)=1900 OR CARDIP.CAID_DFECHA_EMISION >= @P_FECHA_EMISION)
						AND (YEAR(@P_FECHA_VENC)=1900 OR CARDIP.CAID_DFECHA_VENCIMIENTO >= @P_FECHA_VENC)
						AND (@P_MESA_PARTES='' OR CAID_VIDENT_MESA_PARTES=@P_MESA_PARTES)
			ORDER BY CARDIP_ID DESC

			OFFSET (@P_NUM_PAG - 1) * @P_CANT_REG_PAG ROWS
				FETCH NEXT @P_CANT_REG_PAG ROWS ONLY

				DROP TABLE  #TEMP_RE_PERSONARESIDENCIA

				SELECT	(@V_TOTAL_REG / @P_CANT_REG_PAG) AS TOTALPAG,

					(@V_TOTAL_REG % @P_CANT_REG_PAG) AS RESIDUO,

					@V_TOTAL_REG AS TOTALREGISTROS
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END