USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_RELACION_DEPENDENCIA_ADICIONAR]    Script Date: 15/04/2022 19:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_RELACION_DEPENDENCIA_ADICIONAR]
--======================================================================
--SISTEMA		:	CARDIP
--OBJETIVO		:	INSERTAR RELACIÓN DEPENDENCIA
--CREADO POR		:	MANUEL NUNJA
--FECHA			:	07/10/2019
--PARAMETROS		:	
--EJECUTAR		:	SC_CARDIP.USP_CD_CARNE_IDENTIDAD_RELACION_DEPENDENCIA_ADICIONAR 198, 597,4,'123'
--MODIFICACIONES
--AUTOR		FECHA		N° REQ		MOTIVO		
--======================================================================
@P_CATD_SCARNE_IDENTIDAD_TIT_ID			SMALLINT,
@P_CATD_SCARNE_IDENTIDAD_DEP_ID			SMALLINT,
@P_CATD_SUSUARIO_CREACION				SMALLINT,
@P_CATD_VIP_CREACION					VARCHAR(50)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT OFF
		INSERT INTO SC_CARDIP.CD_CARNE_IDENTIDAD_RELACION_DEPENDENCIA ([CATD_SCARNE_IDENTIDAD_TIT_ID],[CATD_SCARNE_IDENTIDAD_DEP_ID],CATD_SUSUARIO_CREACION,CATD_VIP_CREACION,CATD_DFECHA_CREACION)
		VALUES (@P_CATD_SCARNE_IDENTIDAD_TIT_ID,@P_CATD_SCARNE_IDENTIDAD_DEP_ID,@P_CATD_SUSUARIO_CREACION,@P_CATD_VIP_CREACION,GETDATE())
	END TRY
	BEGIN CATCH
		DECLARE @ERROR VARCHAR(200)
		SELECT @ERROR = ERROR_MESSAGE()
		RAISERROR(@ERROR, 16, 1)
	END CATCH
	RETURN @@IDENTITY
END
