USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_ACTUALIZAR]    Script Date: 15/04/2022 20:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_ACTUALIZAR]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : [SC_CARDIP].[USP_CD_GENERALES_MRE]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	--MODIFICADO POR		 : MARTÍN MUÑOZ SELMI
	--FECHA DE MODIFICACIÓN  : 13/04/2022
	--MOTIVO				 : SE CAMBIA TIPO DE DATO SMALLINT A INT EN 
	--						   PARAMETRO @P_CARNE_IDENTIDAD_ID 
	--================================================================================
	@P_CARNE_IDENTIDAD_ID		INT,
	@P_MESA_PARTES				VARCHAR(20),
	@P_CALIDAD_MIGRATORIA		SMALLINT,
	@P_CALIDAD_MIGRATORIA_SEC	SMALLINT,
	@P_OFICINA_CONSULAR_EX		SMALLINT,
	@P_RUTA_ARCHIVO_FOTO		VARCHAR(250),
	@P_RUTA_ARCHIVO_FIRMA		VARCHAR(250),
	@P_RENOVAR					BIT,
	@P_FLAG_REG_COMP			BIT,
	@P_PERSONA_ID				BIGINT,
	@P_USUARIO_MODIFICACION		SMALLINT,
	@P_IP_MODIFICACION			VARCHAR(50),
	@P_ESTADO_ID				SMALLINT
	AS
	BEGIN
		BEGIN TRY
			UPDATE	SC_CARDIP.CD_CARNE_IDENTIDAD 
			SET
					CAID_SCALIDAD_MIGRATORIAID			=	@P_CALIDAD_MIGRATORIA,
					CAID_VIDENT_MESA_PARTES				=	@P_MESA_PARTES,
					CAID_SCALIDAD_MIGRATORIA_SEC_ID		=	@P_CALIDAD_MIGRATORIA_SEC,
					CAID_SOFICINA_CONSULAR_EXID			=	@P_OFICINA_CONSULAR_EX,
					CAID_VRUTA_ARCHIVO_FOTO				=	@P_RUTA_ARCHIVO_FOTO,
					CAID_VRUTA_ARCHIVO_FIRMA			=	@P_RUTA_ARCHIVO_FIRMA,
					CAID_BRENOVAR						=	@P_RENOVAR,
					CAID_BFLAG_REGISTRO_COMPLETO		=	@P_FLAG_REG_COMP,
					CAID_IPERSONAID						=	@P_PERSONA_ID,
					CAID_SUSUARIOCREACION				=	@P_USUARIO_MODIFICACION,
					CAID_VIPCREACION					=	@P_IP_MODIFICACION,
					CAID_DFECHAMODIFICACION				=	GETDATE(),
					CAID_SESTADOID						=	@P_ESTADO_ID
			WHERE	CAID_ICARNE_IDENTIDADID				=	@P_CARNE_IDENTIDAD_ID
					AND CAID_CESTADO='A'

		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END

	/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_ACTUALIZAR_ESTADO]    Script Date: 21/05/2018 11:08:17 a.m. ******/
SET ANSI_NULLS ON
