USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR_PRIVILEGIOS]    Script Date: 18/04/2022 11:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR_PRIVILEGIOS]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR_PRIVILEGIOS]0,'',0,'',0,0,0,0,0,'01/01/1900','01/01/1900','','','',0,1,15
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_PERIODO			INT,
	@P_MESA_PARTES		VARCHAR(20),
	@P_NUMERO_IDENT		INT,
	@P_NUMERO_CARNE		VARCHAR(10),
	@P_ESTADO			SMALLINT,
	@P_CALIDAD_MIG		SMALLINT,
	@P_CARGO			SMALLINT,
	@P_CAT_OFICINA		SMALLINT,
	@P_OFICINA_CON_EX	SMALLINT,
	@P_FECHA_EMISION	DATETIME,
	@P_FECHA_VENC		DATETIME,
	@P_APELLIDO_PAT		VARCHAR(100),
	@P_APELLIDO_MAT		VARCHAR(100),
	@P_NOMBRES			VARCHAR(100),
	@P_PAIS				SMALLINT,
	/*VARIABLES DE PAGINACION*/
	@P_NUM_PAG			BIGINT,
	@P_CANT_REG_PAG		BIGINT
	AS
	BEGIN
		DECLARE @VALORES varchar(1000),
		@V_ESTADO VARCHAR(1)='A'
		SET NOCOUNT ON
		BEGIN TRY
		DECLARE	@V_TOTAL_REG BIGINT =	(
									SELECT		COUNT(CARDIP.CAID_ICARNE_IDENTIDADID)
									FROM		SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP 
									INNER JOIN	PN_REGISTRO.RE_PERSONA PERSONA ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
												INNER JOIN PS_SISTEMA.SI_PARAMETRO SEXO ON PERSONA.PERS_SGENEROID = SEXO.PARA_SPARAMETROID
									INNER JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG ON CARDIP.CAID_SCALIDAD_MIGRATORIAID = CALMIG.CAMI_SCALIDAD_MIGRATORIAID
									INNER JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIGSEC ON CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID = CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID
									INNER JOIN	PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX ON CARDIP.CAID_SOFICINA_CONSULAR_EXID = OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID
												INNER JOIN PS_SISTEMA.SI_PARAMETRO CATMISION ON OFCOEX.OFCE_SCATEGORIAID = CATMISION.PARA_SPARAMETROID
									INNER JOIN	SC_MAESTRO.MA_ESTADO ESTADO ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
									INNER JOIN	PS_SISTEMA.SI_PAIS PAIS ON PERSONA.PERS_SPAISID = PAIS.PAIS_SPAISID
									WHERE		CARDIP.CAID_CESTADO='A'
												AND (@P_PERIODO=0 OR CARDIP.CAID_IPERIODO=@P_PERIODO)
												AND (@P_NUMERO_IDENT=0 OR CARDIP.CAID_IIDENT_NUMERO=@P_NUMERO_IDENT)
												AND (@P_NUMERO_CARNE='' OR CARDIP.CAID_VCARNE_NUMERO=@P_NUMERO_CARNE)
												--AND (@P_ESTADO=0 OR ESTADO.ESTA_SESTADOID=@P_ESTADO)
												--AND (@P_CALIDAD_MIG=0 OR CALMIG.CAMI_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
												AND (@P_CARGO=0 OR CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID=@P_CARGO)
												AND (@P_APELLIDO_PAT='' Or PERSONA.PERS_VAPELLIDOPATERNO LIKE @P_APELLIDO_PAT + '%')
												AND (@P_APELLIDO_MAT='' Or PERSONA.PERS_VAPELLIDOMATERNO LIKE @P_APELLIDO_MAT + '%')
												AND (@P_NOMBRES='' Or PERSONA.PERS_VNOMBRES LIKE @P_NOMBRES + '%')
												AND (@P_PAIS=0 OR PERSONA.PERS_SPAISID=@P_PAIS)
												AND (@P_CAT_OFICINA=0 OR CATMISION.PARA_SPARAMETROID=@P_CAT_OFICINA)
												AND (@P_OFICINA_CON_EX=0 OR OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID=@P_OFICINA_CON_EX)
												AND (YEAR(@P_FECHA_EMISION)=1900 OR CARDIP.CAID_DFECHA_EMISION >= @P_FECHA_EMISION)
												AND (YEAR(@P_FECHA_VENC)=1900 OR CARDIP.CAID_DFECHA_VENCIMIENTO >= @P_FECHA_VENC)
												AND (@P_MESA_PARTES='' OR CAID_VIDENT_MESA_PARTES=@P_MESA_PARTES)
												AND (ESTADO.ESTA_SESTADOID=(SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VDESCRIPCIONCORTA='EMITIDO (IMPRESO)' AND ESTA_CESTADO='A') OR 
													ESTADO.ESTA_SESTADOID=(SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VDESCRIPCIONCORTA='VENCIDO' AND ESTA_CESTADO='A'))
												AND (@P_ESTADO=0 OR ESTADO.ESTA_SESTADOID=@P_ESTADO)
												AND (CALMIG.CAMI_SCALIDAD_MIGRATORIAID=(SELECT CAMI_SCALIDAD_MIGRATORIAID FROM SC_MAESTRO.MA_CALIDAD_MIGRATORIA WHERE CAMI_VNOMBRE='DIPLOMÁTICO' AND CAMI_CESTADO='A') OR
													CALMIG.CAMI_SCALIDAD_MIGRATORIAID=(SELECT CAMI_SCALIDAD_MIGRATORIAID FROM SC_MAESTRO.MA_CALIDAD_MIGRATORIA WHERE CAMI_VNOMBRE='OFICIAL (C / PRIVILEGIOS)' AND CAMI_CESTADO='A') OR
													CALMIG.CAMI_SCALIDAD_MIGRATORIAID=(SELECT CAMI_SCALIDAD_MIGRATORIAID FROM SC_MAESTRO.MA_CALIDAD_MIGRATORIA WHERE CAMI_VNOMBRE='OFICIAL (S / PRIVILEGIOS)' AND CAMI_CESTADO='A'))
												AND (@P_CALIDAD_MIG=0 OR CALMIG.CAMI_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
									)

			SELECT		CARDIP.CAID_ICARNE_IDENTIDADID AS CARDIP_ID,
						ISNULL(CARDIP.CAID_VIDENT_MESA_PARTES,'-') AS MESA_PARTES,
						(CAST(CARDIP.CAID_IPERIODO AS varchar) + ' - ' + (RIGHT(REPLICATE('0',5) + CAST(CARDIP.CAID_IIDENT_NUMERO AS VARCHAR(5)),5))) AS NUMERO_IDENT,
						ISNULL(CARDIP.CAID_VCARNE_NUMERO,'[ S/N ]') AS NUMERO_CARNE,
						ESTADO.ESTA_VDESCRIPCIONCORTA AS ESTADO,
						(PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES) AS FUNCIONARIO,
						(PAIS.PAIS_VNOMBRE + ' (' + ISNULL(PAIS.PAIS_VNACIONALIDAD,'[ NO DEFINIDO ]') + ')') AS PAIS_NACIONALIDAD,
						CALMIG.CAMI_VNOMBRE AS CALIDAD_MIGRATORIA,
						CALMIGSEC.CAMI_VNOMBRE AS CARGO,
						OFCOEX.OFCE_VNOMBRE AS OFICINA_CONSULAR_EXTRANJERA,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHACREACION,103),'-') AS FECHA_INSCRIPCION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_EMISION,103),'-') AS FECHA_EMISION,
						ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_VENCIMIENTO,103),'-') AS FECHA_VENCIMIENTO,
						CARDIP.CAID_VRUTA_ARCHIVO_FOTO AS RUTA_ARCHIVO,
						CARDIP.CAID_VRUTA_ARCHIVO_FIRMA AS RUTA_ARCHIVO_FIRMA,
						CARDIP.CAID_SCALIDAD_MIGRATORIAID AS CALMIG_ID,
						CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID AS CALMIGSEC_ID,
						CARDIP.CAID_SOFICINA_CONSULAR_EXID AS OFCOEX_ID,
						CARDIP.CAID_BRENOVAR AS RENOVAR,
						-- ULTIMOS
						PERSONA.PERS_VAPELLIDOPATERNO AS FUNC_APEP,
						ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') AS FUNC_APEM,
						PERSONA.PERS_VNOMBRES AS FUNC_NOMBRES,
						ISNULL(CONVERT(VARCHAR,PERSONA.PERS_DNACIMIENTOFECHA,103),'-') AS FUNC_FECNAC,
						SEXO.PARA_VDESCRIPCION AS FUNC_GENERO,
						CATMISION.PARA_VDESCRIPCION AS OFCOEX_CATEGORIA,
						ESTCIVIL.PARA_VDESCRIPCION AS ESTCIVIL_DESC
			FROM		SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP 
			INNER JOIN	PN_REGISTRO.RE_PERSONA PERSONA ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
						INNER JOIN PS_SISTEMA.SI_PARAMETRO SEXO ON PERSONA.PERS_SGENEROID = SEXO.PARA_SPARAMETROID
						INNER JOIN PS_SISTEMA.SI_PARAMETRO ESTCIVIL ON PERSONA.PERS_SESTADOCIVILID = ESTCIVIL.PARA_SPARAMETROID
			INNER JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG ON CARDIP.CAID_SCALIDAD_MIGRATORIAID = CALMIG.CAMI_SCALIDAD_MIGRATORIAID
			INNER JOIN	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIGSEC ON CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID = CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID
			INNER JOIN	PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX ON CARDIP.CAID_SOFICINA_CONSULAR_EXID = OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID
						INNER JOIN PS_SISTEMA.SI_PARAMETRO CATMISION ON OFCOEX.OFCE_SCATEGORIAID = CATMISION.PARA_SPARAMETROID
			INNER JOIN	SC_MAESTRO.MA_ESTADO ESTADO ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
			INNER JOIN	PS_SISTEMA.SI_PAIS PAIS ON PERSONA.PERS_SPAISID = PAIS.PAIS_SPAISID
			WHERE		CARDIP.CAID_CESTADO='A'
						AND (@P_PERIODO=0 OR CARDIP.CAID_IPERIODO=@P_PERIODO)
						AND (@P_NUMERO_IDENT=0 OR CARDIP.CAID_IIDENT_NUMERO=@P_NUMERO_IDENT)
						AND (@P_NUMERO_CARNE='' OR CARDIP.CAID_VCARNE_NUMERO=@P_NUMERO_CARNE)
						--AND (@P_ESTADO=0 OR ESTADO.ESTA_SESTADOID=@P_ESTADO)
						--AND (@P_CALIDAD_MIG=0 OR CALMIG.CAMI_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
						AND (@P_CARGO=0 OR CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID=@P_CARGO)
						AND (@P_APELLIDO_PAT='' Or PERSONA.PERS_VAPELLIDOPATERNO LIKE @P_APELLIDO_PAT + '%')
						AND (@P_APELLIDO_MAT='' Or PERSONA.PERS_VAPELLIDOMATERNO LIKE @P_APELLIDO_MAT + '%')
						AND (@P_NOMBRES='' Or PERSONA.PERS_VNOMBRES LIKE @P_NOMBRES + '%')
						AND (@P_PAIS=0 OR PERSONA.PERS_SPAISID=@P_PAIS)
						AND (@P_CAT_OFICINA=0 OR CATMISION.PARA_SPARAMETROID=@P_CAT_OFICINA)
						AND (@P_OFICINA_CON_EX=0 OR OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID=@P_OFICINA_CON_EX)
						AND (YEAR(@P_FECHA_EMISION)=1900 OR CARDIP.CAID_DFECHA_EMISION >= @P_FECHA_EMISION)
						AND (YEAR(@P_FECHA_VENC)=1900 OR CARDIP.CAID_DFECHA_VENCIMIENTO >= @P_FECHA_VENC)
						AND (@P_MESA_PARTES='' OR CAID_VIDENT_MESA_PARTES=@P_MESA_PARTES)
						AND (ESTADO.ESTA_SESTADOID=(SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VDESCRIPCIONCORTA='EMITIDO (IMPRESO)' AND ESTA_CESTADO='A') OR 
							ESTADO.ESTA_SESTADOID=(SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WHERE ESTA_VDESCRIPCIONCORTA='VENCIDO' AND ESTA_CESTADO='A'))
						AND (@P_ESTADO=0 OR ESTADO.ESTA_SESTADOID=@P_ESTADO)
						AND (CALMIG.CAMI_SCALIDAD_MIGRATORIAID=(SELECT CAMI_SCALIDAD_MIGRATORIAID FROM SC_MAESTRO.MA_CALIDAD_MIGRATORIA WHERE CAMI_VNOMBRE='DIPLOMÁTICO' AND CAMI_CESTADO='A') OR
							CALMIG.CAMI_SCALIDAD_MIGRATORIAID=(SELECT CAMI_SCALIDAD_MIGRATORIAID FROM SC_MAESTRO.MA_CALIDAD_MIGRATORIA WHERE CAMI_VNOMBRE='OFICIAL (C / PRIVILEGIOS)' AND CAMI_CESTADO='A') OR
							CALMIG.CAMI_SCALIDAD_MIGRATORIAID=(SELECT CAMI_SCALIDAD_MIGRATORIAID FROM SC_MAESTRO.MA_CALIDAD_MIGRATORIA WHERE CAMI_VNOMBRE='OFICIAL (S / PRIVILEGIOS)' AND CAMI_CESTADO='A'))
						AND (@P_CALIDAD_MIG=0 OR CALMIG.CAMI_SCALIDAD_MIGRATORIAID=@P_CALIDAD_MIG)
			ORDER BY 1 DESC

			OFFSET (@P_NUM_PAG - 1) * @P_CANT_REG_PAG ROWS
				FETCH NEXT @P_CANT_REG_PAG ROWS ONLY

				SELECT	(@V_TOTAL_REG / @P_CANT_REG_PAG) AS TOTALPAG,

					(@V_TOTAL_REG % @P_CANT_REG_PAG) AS RESIDUO,

					@V_TOTAL_REG AS TOTALREGISTROS

		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END