USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_REGLINEA].[USP_CD_GENERALES_MRE_REGISTRO_LINEA]    Script Date: 26/04/2022 15:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	ALTER PROCEDURE [SC_REGLINEA].[USP_CD_GENERALES_MRE_REGISTRO_LINEA]
	--================================================================================
	--SISTEMA			: SISTEMA CARNÉ PARA DIPLOMATICOS
	--OBJETIVO			: 
	--CREADO			: JONATAN SILVA CACHAY
	--FECHA     		: 23/12/2019 18:47:27
	--EJECUTAR          : [SC_CARDIP].[USP_CD_GENERALES_MRE_REGISTRO_LINEA]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	-- MODIFICADO POR: JONATAN SILVA CACHAY
	-- MOTIVO: SE AGREGA NUEVO SELECT
	-- FECHA DE MODIFICACIÓN: 11/12/2020
	--================================================================================
	AS
	BEGIN
		DECLARE @VALORES varchar(1000),
		@V_ESTADO VARCHAR(1)='A'
		SET NOCOUNT ON
		BEGIN TRY
			
			-- GENERO PERSONA (PARAMETRO)
			SELECT	PARA_GENERO.PARA_SPARAMETROID AS PARA_GENERO_ID,
					PARA_GENERO.PARA_VGRUPO AS PARA_GENERO_GRUPO,
					PARA_GENERO.PARA_VDESCRIPCION AS PARA_GENERO_DESC,
					PARA_GENERO.PARA_VVALOR AS PARA_GENERO_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO PARA_GENERO
			WHERE	PARA_VGRUPO='PERSONA-GÉNERO' AND
					PARA_GENERO.PARA_CESTADO='A'
			-- ESTADO CIVIL PERSONA (PARAMETRO)
			SELECT	PARA_ESTCIV.PARA_SPARAMETROID AS PARA_ESTCIV_ID,
					PARA_ESTCIV.PARA_VGRUPO AS PARA_ESTCIV_GRUPO,
					PARA_ESTCIV.PARA_VDESCRIPCION AS PARA_ESTCIV_DESC,
					PARA_ESTCIV.PARA_VVALOR AS PARA_ESTCIV_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO PARA_ESTCIV
			WHERE	PARA_VGRUPO='PERSONA - ESTADO CIVIL' AND
					PARA_ESTCIV.PARA_CESTADO='A'
			
			-- PAISES
			SELECT	PAIS.PAIS_SPAISID AS PAIS_ID,
					PAIS.PAIS_SCONTINENTEID AS PAIS_CONTI_ID,
					PAIS.PAIS_VNOMBRE AS PAIS_NOMBRE,
					PAIS.PAIS_VNACIONALIDAD AS PAIS_NACIONALIDAD,
					PAIS.PAIS_CUBIGEO AS PAIS_UBIGEI
			FROM	PS_SISTEMA.SI_PAIS PAIS
			WHERE	PAIS.PAIS_CESTADO='A'
			-- TITULAR DEPENDIENTE (PARAMETRO)
			SELECT	PARA_TITDEP.PARA_SPARAMETROID AS PARA_TITDEP_ID,
					PARA_TITDEP.PARA_VGRUPO AS PARA_TITDEP_GRUPO,
					PARA_TITDEP.PARA_VDESCRIPCION AS PARA_TITDEP_DESC,
					PARA_TITDEP.PARA_VVALOR AS PARA_TITDEP_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO PARA_TITDEP
			WHERE	PARA_VGRUPO='CALIDAD MIG - TITULAR DEPENDIENTE' AND
					PARA_TITDEP.PARA_CESTADO='A'
			
			-- TIPO EMISION
			SELECT	TIPO_EMI.PARA_SPARAMETROID AS PARA_TIPOEMI_ID,
					TIPO_EMI.PARA_VGRUPO AS PARA_TIPOEMI_GRUPO,
					TIPO_EMI.PARA_VDESCRIPCION AS PARA_TIPOEMI_DESC,
					TIPO_EMI.PARA_VVALOR AS PARA_TIPOEMI_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO TIPO_EMI
			WHERE	TIPO_EMI.PARA_VGRUPO='TIPO-EMISION' AND
					TIPO_EMI.PARA_CESTADO='A'
			ORDER BY PARA_TIPOEMI_VALOR ASC

			-- REGISTRO LINEA
			-- TIPO INSTITUCION
			SELECT	TIPO_INST.PARA_SPARAMETROID AS PARA_TIPOINS_ID,
					TIPO_INST.PARA_VGRUPO AS PARA_TIPOINS_GRUPO,
					TIPO_INST.PARA_VDESCRIPCION AS PARA_TIPOINS_DESC,
					TIPO_INST.PARA_VVALOR AS PARA_TIPOINS_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO TIPO_INST
			WHERE	TIPO_INST.PARA_VGRUPO='TIPO-INST' AND
					TIPO_INST.PARA_CESTADO='A'
			ORDER BY PARA_TIPOINS_VALOR ASC

			-- TIPO CARGO INSTITUCION
			SELECT	TIPO_INST.PARA_SPARAMETROID AS PARA_TIPOINS_CARGO_ID,
					TIPO_INST.PARA_VGRUPO AS PARA_TIPOINS_CARGO_GRUPO,
					TIPO_INST.PARA_VDESCRIPCION AS PARA_TIPOINS_CARGO_DESC,
					TIPO_INST.PARA_VVALOR AS PARA_TIPOINS_CARGO_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO TIPO_INST
			WHERE	(TIPO_INST.PARA_VGRUPO='TIPO-INST-EMBAJADA' OR TIPO_INST.PARA_VGRUPO='TIPO-INST-OFICINA CONSULAR' OR TIPO_INST.PARA_VGRUPO='TIPO-INST-ORGANISMO INTERNACIONAL' OR TIPO_INST.PARA_VGRUPO='TIPO-INST-OTROS') AND
					TIPO_INST.PARA_CESTADO='A'
			ORDER BY PARA_TIPOINS_CARGO_VALOR ASC
		
			-- RELACION DEPENDENCIA
			SELECT	TIPO_INST.PARA_SPARAMETROID AS PARA_REDE_ID,
					TIPO_INST.PARA_VGRUPO AS PARA_REDE_GRUPO,
					TIPO_INST.PARA_VDESCRIPCION AS PARA_REDE_DESC,
					TIPO_INST.PARA_VVALOR AS PARA_REDE_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO TIPO_INST
			WHERE	TIPO_INST.PARA_VGRUPO='RELACION-DEPENDENCIA' AND
					TIPO_INST.PARA_CESTADO='A'
			ORDER BY PARA_REDE_VALOR ASC

			-- ESTADO REG LINEA
			SELECT	ESTA_SESTADOID AS ESTADO_REGLINEA_ID,
					ESTA_VDESCRIPCIONCORTA AS ESTADO_REGLINEA_DESCRIPCION,
					ESTA_VGRUPO AS ESTADO_REGLINEA_GRUPO 
			FROM	SC_MAESTRO.MA_ESTADO
			WHERE	ESTA_VGRUPO='REG LINEA - ESTADO' AND
					ESTA_CESTADO='A'

			-- DOCUMENTO DE IDENTIDAD REG LINEA
			SELECT	DOCIDENT.DOID_STIPODOCUMENTOIDENTIDADID AS DOCIDENT_ID,
					DOCIDENT.DOID_VDESCRIPCIONCORTA AS DOCIDENT_DESCORTA,
					DOCIDENT.DOID_VDESCRIPCIONLARGA AS DOCIDENT_DESCLARGA,
					ISNULL(DOID_SPAIS_ID,0) AS DOCIDENT_PAIS
			FROM	SC_MAESTRO.MA_DOCUMENTO_IDENTIDAD DOCIDENT
			WHERE	DOCIDENT.DOID_CESTADO='A'
			--AND		DOID_SPAIS_ID IS NOT NULL

			-- CALIDAD MIGRATORIA - NIVEL 0
			SELECT	CALMIG.CAMI_SCALIDAD_MIGRATORIAID AS CALMIG_ID,
					CALMIG.CAMI_VNUMERO_ORDEN AS CALMIG_NUMORDEN,
					CALMIG.CAMI_SFLAG_NIVEL_CALIDAD AS CALMIG_NIVEL,
					CALMIG.CAMI_VNOMBRE AS CALMIG_NOMBRE,
					CAMI_VDEFINICION AS CALMIG_DEFINICION
			FROM	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG
			WHERE	CALMIG.CAMI_CESTADO='A' AND
					CALMIG.CAMI_VNUMERO_ORDEN IS NOT NULL
			ORDER BY CALMIG.CAMI_VNUMERO_ORDEN
			-- CALIDAD MIGRATORIA - NIVEL 1
			SELECT	CALMIG.CAMI_SCALIDAD_MIGRATORIAID AS CALMIG_ID,
					CALMIG.CAMI_SFLAG_TITULAR_DEPENDIENTE AS CALMIG_TITDEP,
					CALMIG.CAMI_SFLAG_NIVEL_CALIDAD AS CALMIG_NIVEL,
					CALMIG.CAMI_SREFERENCIA_ID AS CALMIG_REFERENCIA,
					CALMIG.CAMI_VNOMBRE AS CALMIG_NOMBRE,
					TITDEP.PARA_VDESCRIPCION AS TIT_DEP,
					CAMI_GENERO AS CALMIG_GENERO
			FROM	SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG
			INNER JOIN PS_SISTEMA.SI_PARAMETRO TITDEP ON CALMIG.CAMI_SFLAG_TITULAR_DEPENDIENTE=TITDEP.PARA_SPARAMETROID
			WHERE	CALMIG.CAMI_CESTADO='A' AND
					CALMIG.CAMI_SFLAG_TITULAR_DEPENDIENTE IS NOT NULL
					AND CAMI_GENERO IS NOT NULL
			ORDER BY CALMIG.CAMI_VNOMBRE

			-- CATEGORIA OFICINA EXTRANJERA (PARAMETRO)
			SELECT	PARA_TITDEP.PARA_SPARAMETROID AS PARA_TITDEP_ID,
					PARA_TITDEP.PARA_VGRUPO AS PARA_TITDEP_GRUPO,
					PARA_TITDEP.PARA_VDESCRIPCION AS PARA_TITDEP_DESC,
					PARA_TITDEP.PARA_VVALOR AS PARA_TITDEP_VALOR
			FROM	PS_SISTEMA.SI_PARAMETRO PARA_TITDEP
			WHERE	PARA_VGRUPO='CATEGORÍA OFICINA CONSULAR EXTRANJERA' AND
					PARA_TITDEP.PARA_CESTADO='A'

			-- OFICINAS CONSULARES EXTRANJERAS
			SELECT		OFCE_SOFICINACONSULAR_EXTRANJERAID AS OFCOEX_ID,
						OFCE_SCATEGORIAID AS OFCOEX_CATEGORIA,
						OFCE_VSIGLAS AS OFCOEX_SIGLAS,
						OFCE_VNOMBRE AS OFCOEX_NOMBRE,
						OFCE_CUBIGEOCODIGO AS OFCOEX_UBIGEO,
						OFCE_BJEFATURAFLAG AS OFCOEX_JEFAFLAG
			FROM		PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX
			--INNER JOIN	PS_SISTEMA.SI_PAIS PAIS ON OFCOEX.OFCE_SPAISID = PAIS.PAIS_SPAISID
			WHERE		OFCE_CESTADO='A'
			ORDER BY OFCOEX.OFCE_VNOMBRE

		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END

/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR]    Script Date: 28/11/2017 04:08:15 p.m. ******/
SET ANSI_NULLS ON
