USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR_x_ID]    Script Date: 15/04/2022 20:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR_x_ID]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        : @P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR_x_ID]353
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	--MODIFICADO POR		 : MARTÍN MUÑOZ SELMI
	--FECHA DE MODIFICACIÓN  : 13/04/2022
	--MOTIVO				 : SE CAMBIA TIPO DE DATO SMALLINT A INT
	--PARAMETROS		     : @P_CARNE_ID
	--================================================================================
	@P_CARNE_ID			INT
	AS
	BEGIN
		SET NOCOUNT ON
		BEGIN TRY
			SELECT CARDIP.CAID_ICARNE_IDENTIDADID AS CARDIP_ID,
			ISNULL(CARDIP.CAID_VIDENT_MESA_PARTES,'-') AS MESA_PARTES,
			(CAST(CARDIP.CAID_IPERIODO AS varchar) + ' - ' + (RIGHT(REPLICATE('0',5) + CAST(CARDIP.CAID_IIDENT_NUMERO AS VARCHAR(5)),5))) AS NUMERO_IDENT,
			ISNULL(CARDIP.CAID_VCARNE_NUMERO,'[ S/N ]') AS NUMERO_CARNE,
			ESTADO.ESTA_VDESCRIPCIONCORTA AS ESTADO,
			(
				CASE
					WHEN (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES) IS NULL
						THEN REGPREV.REPE_VPRIMER_APELLIDO + ' ' + ISNULL(REGPREV.REPE_VSEGUNDO_APELLIDO,'') + ' ' + REGPREV.REPE_VNOMBRES 
					ELSE (PERSONA.PERS_VAPELLIDOPATERNO + ' ' + ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,'') + ', ' + PERSONA.PERS_VNOMBRES)
				END	
			) AS FUNCIONARIO,					
			ISNULL((PAIS.PAIS_VNOMBRE + ' (' + ISNULL(PAIS.PAIS_VNACIONALIDAD,'[ NO DEFINIDO ]') + ')'),'-') AS PAIS_NACIONALIDAD,
			ISNULL(CALMIG.CAMI_VNOMBRE,ISNULL(REGPREV_CALMIG.CAMI_VNOMBRE,'-')) AS CALIDAD_MIGRATORIA,
			ISNULL(CALMIGSEC.CAMI_VNOMBRE,'-') AS CARGO,
			ISNULL(OFCOEX.OFCE_VNOMBRE,REGPREV_OFCO.OFCE_VNOMBRE) AS OFICINA_CONSULAR_EXTRANJERA,
			ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHACREACION,103),'-') AS FECHA_INSCRIPCION,
			ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_EMISION,103),'-') AS FECHA_EMISION,
			ISNULL(CONVERT(VARCHAR,CARDIP.CAID_DFECHA_VENCIMIENTO,103),'-') AS FECHA_VENCIMIENTO,
			ISNULL(CARDIP.CAID_VRUTA_ARCHIVO_FOTO,'') AS RUTA_ARCHIVO,
			ISNULL(CARDIP.CAID_VRUTA_ARCHIVO_FIRMA,'') AS RUTA_ARCHIVO_FIRMA,
			ISNULL(CARDIP.CAID_SCALIDAD_MIGRATORIAID,0) AS CALMIG_ID,
			ISNULL(CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID,0) AS CALMIGSEC_ID,
			ISNULL(CARDIP.CAID_SOFICINA_CONSULAR_EXID,0) AS OFCOEX_ID,
			CARDIP.CAID_BRENOVAR AS RENOVAR,
			-- ULTIMOS
			ISNULL(PERSONA.PERS_VAPELLIDOPATERNO,REGPREV.REPE_VPRIMER_APELLIDO) AS FUNC_APEP,
			ISNULL(PERSONA.PERS_VAPELLIDOMATERNO,ISNULL(REGPREV.REPE_VSEGUNDO_APELLIDO,'-')) AS FUNC_APEM,
			ISNULL(PERSONA.PERS_VNOMBRES,REGPREV.REPE_VNOMBRES) AS FUNC_NOMBRES,
			ISNULL(CONVERT(VARCHAR,PERSONA.PERS_DNACIMIENTOFECHA,103),'-') AS FUNC_FECNAC,
			ISNULL(SEXO.PARA_VDESCRIPCION,ISNULL(REGPREV_GENERO.PARA_VDESCRIPCION,'-')) AS FUNC_GENERO,
			ISNULL(CATMISION.PARA_VDESCRIPCION,ISNULL(REGPREV_OFCO_CAT.PARA_VDESCRIPCION,'-')) AS OFCOEX_CATEGORIA,
			ISNULL(ESTCIVIL.PARA_VDESCRIPCION,'-') AS ESTCIVIL_DESC,
			ISNULL(CARDIP.CAID_SUSUARIO_DERIVA,0) AS REGISTRADOR_ID,				
			CARDIP.CAID_BFLAG_REGISTRO_COMPLETO AS REGPREV_COMPLETO,
			ISNULL(REGPREV.REPE_SREGISTRO_PREVIO_ID,0) AS REGPREV_ID,
			CARDIP.CAID_BFLAG_CONTROL_CALIDAD AS FLAG_CONTROL_CALIDAD,
			CARDIP.CAID_VCONTROL_CALIDAD AS CONTROL_CALIDAD,
			ISNULL(CARDIP.CAID_VCONTROL_CALIDAD_DETALLE,'') AS CONTROL_CALIDAD_DETALLE,

			ISNULL((
				SELECT UBIGEO.UBGE_VDEPARTAMENTO + ' - ' + UBIGEO.UBGE_VPROVINCIA + ' - ' + UBIGEO.UBGE_VDISTRITO FROM PS_SISTEMA.SI_UBICACIONGEOGRAFICA UBIGEO WITH(NOLOCK) WHERE UBIGEO.UBGE_CCODIGO = (
				SELECT RESI_CRESIDENCIAUBIGEO FROM PN_REGISTRO.RE_RESIDENCIA RESI WITH(NOLOCK) WHERE RESI.RESI_IRESIDENCIAID= (
				SELECT MAX(PERES.PERE_IRESIDENCIAID) FROM PN_REGISTRO.RE_PERSONARESIDENCIA PERES WITH(NOLOCK) WHERE PERES.PERE_IPERSONAID=PERSONA.PERS_IPERSONAID))
			),'-') AS UBIGEO,
						
			ISNULL((SELECT RESI_VRESIDENCIADIRECCION FROM PN_REGISTRO.RE_RESIDENCIA RESI WITH(NOLOCK) WHERE RESI.RESI_IRESIDENCIAID= (
			SELECT MAX(PERES.PERE_IRESIDENCIAID) FROM PN_REGISTRO.RE_PERSONARESIDENCIA PERES WITH(NOLOCK) WHERE PERES.PERE_IPERSONAID=PERSONA.PERS_IPERSONAID)),'-')
			AS DIRECCION,						
			ISNULL(TITDEP.PARA_VDESCRIPCION,'-') AS TITDEP

			FROM SC_CARDIP.CD_CARNE_IDENTIDAD CARDIP 
			LEFT JOIN PN_REGISTRO.RE_PERSONA PERSONA WITH(NOLOCK) ON CARDIP.CAID_IPERSONAID=PERSONA.PERS_IPERSONAID
			LEFT JOIN PS_SISTEMA.SI_PARAMETRO SEXO WITH(NOLOCK) ON PERSONA.PERS_SGENEROID = SEXO.PARA_SPARAMETROID
			LEFT JOIN PS_SISTEMA.SI_PARAMETRO ESTCIVIL WITH(NOLOCK) ON PERSONA.PERS_SESTADOCIVILID = ESTCIVIL.PARA_SPARAMETROID
			LEFT JOIN SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIG WITH(NOLOCK) ON CARDIP.CAID_SCALIDAD_MIGRATORIAID = CALMIG.CAMI_SCALIDAD_MIGRATORIAID
			LEFT JOIN SC_MAESTRO.MA_CALIDAD_MIGRATORIA CALMIGSEC WITH(NOLOCK) ON CARDIP.CAID_SCALIDAD_MIGRATORIA_SEC_ID = CALMIGSEC.CAMI_SCALIDAD_MIGRATORIAID
			LEFT JOIN PS_SISTEMA.SI_PARAMETRO TITDEP WITH(NOLOCK) ON CALMIGSEC.CAMI_SFLAG_TITULAR_DEPENDIENTE = TITDEP.PARA_SPARAMETROID
			LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA OFCOEX WITH(NOLOCK) ON CARDIP.CAID_SOFICINA_CONSULAR_EXID = OFCOEX.OFCE_SOFICINACONSULAR_EXTRANJERAID
			LEFT JOIN PS_SISTEMA.SI_PARAMETRO CATMISION WITH(NOLOCK) ON OFCOEX.OFCE_SCATEGORIAID = CATMISION.PARA_SPARAMETROID
			LEFT JOIN SC_MAESTRO.MA_ESTADO ESTADO WITH(NOLOCK) ON CARDIP.CAID_SESTADOID = ESTADO.ESTA_SESTADOID
			LEFT JOIN PS_SISTEMA.SI_PAIS PAIS WITH(NOLOCK) ON PERSONA.PERS_SPAISID = PAIS.PAIS_SPAISID
			LEFT JOIN SC_CARDIP.CD_REGISTRO_PREVIO REGPREV WITH(NOLOCK) ON CARDIP.CAID_SREGISTRO_PREVIO = REGPREV.REPE_SREGISTRO_PREVIO_ID
			LEFT JOIN SC_MAESTRO.MA_CALIDAD_MIGRATORIA REGPREV_CALMIG WITH(NOLOCK) ON REGPREV.REPE_SCALIDAD_MIGRATORIA = REGPREV_CALMIG.CAMI_SCALIDAD_MIGRATORIAID
			LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA REGPREV_OFCO WITH(NOLOCK) ON REGPREV.REPE_SOFICINA_CONSULAR_EX_ID = REGPREV_OFCO.OFCE_SOFICINACONSULAR_EXTRANJERAID
			LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_OFCO_CAT WITH(NOLOCK) ON REGPREV_OFCO.OFCE_SCATEGORIAID = REGPREV_OFCO_CAT.PARA_SPARAMETROID
			LEFT JOIN PS_SISTEMA.SI_PARAMETRO REGPREV_GENERO WITH(NOLOCK) ON REGPREV.REPE_SGENERO_ID = REGPREV_GENERO.PARA_SPARAMETROID
			WHERE CARDIP.CAID_CESTADO='A'
				AND CARDIP.CAID_ICARNE_IDENTIDADID=@P_CARNE_ID
			ORDER BY CARDIP.CAID_ICARNE_IDENTIDADID DESC
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END