.texto1_borde_Celd {
	BORDER-BOTTOM: #f0f0f0 1px solid; BORDER-LEFT: #f0f0f0 1px solid; FONT-FAMILY: Arial; FONT-SIZE: 8pt; BORDER-TOP: #f0f0f0 1px solid; BORDER-RIGHT: #f0f0f0 1px solid
}
.texto1_borde_Celd11 {
	FONT-FAMILY: Arial; FONT-SIZE: 5pt
}
.texto1_borde_Celd12 {
	FONT-FAMILY: Arial; FONT-SIZE: 6pt
}
.texto1_borde_Celd13 {
	FONT-FAMILY: 'Courier New'; FONT-SIZE: 6pt; FONT-WEIGHT: bold
}
.texto1 {
	FONT-FAMILY: Arial; FONT-SIZE: 8pt
}
.texto1r1 {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.texto1r2 {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt
}
.texto1b {
	FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.texto2 {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.celdcabecera {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BACKGROUND-COLOR: #a6b1d1; FONT-FAMILY: Arial; FONT-SIZE: 10pt; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: 1px solid
}
.celdcabecera2 {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BACKGROUND-COLOR: #a6b1d1; FONT-FAMILY: Arial; FONT-SIZE: 8pt; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: 1px solid
}
.celdcabeceraBlanco {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 10pt; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: 1px solid
}
.botones {
	BACKGROUND-COLOR: #a6b1d1; FONT-FAMILY: Arial; COLOR: #ffffff; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.cuaddialog {
	FONT-FAMILY: Arial; FONT-SIZE: 8pt
}
.titulob {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.textoplomo {
	FONT-FAMILY: Arial; COLOR: #858585; FONT-SIZE: 8pt
}
.texto1M {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.opprincipales {
	FONT-FAMILY: Arial; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.opprincipales:link {
	FONT-FAMILY: Arial; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.opprincipales:hover {
	FONT-FAMILY: Arial; COLOR: #f0f0f0; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.opprincipalesACT {
	FONT-FAMILY: Arial; COLOR: #666666; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.opprincipalesACT:link {
	FONT-FAMILY: Arial; COLOR: #666666; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.opprincipalesACT:hover {
	FONT-FAMILY: Arial; COLOR: #666666; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
