USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_GENERAL].[USP_GR_OBTENER_INFO_USUARIOS]    Script Date: 01/08/2022 1:36:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [SC_GENERAL].[USP_GR_OBTENER_INFO_USUARIOS]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: CONSULTAR TABLAS MAESTRAS DE LOS DISTINTOS ESQUEMAS
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	
	--EJECUTAR          : [SC_GENERAL].[USP_GR_OBTENER_INFO_USUARIOS] 0,0,FALSE
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_USUARIO_ID		SMALLINT,
	@P_ROL				SMALLINT,
	@P_BLOQ				BIT

	AS
	BEGIN
		BEGIN TRY
			SET NOCOUNT ON;
			SELECT		USUARIO.USUA_SUSUARIOID AS USUARIO_ID,
						USUARIO.USUA_VAPELLIDOPATERNO AS USUARIO_APEPAT,
						USUARIO.USUA_VAPELLIDOMATERNO AS USUARIO_APEMAT,
						USUARIO.USUA_VNOMBRES AS USUARIO_NOMBRES,
						USUARIO.USUA_BBLOQUEOACTIVA AS BLOQUEO,
						DOCIDENT.DOID_STIPODOCUMENTOIDENTIDADID DOCTIPO_ID,
						DOCIDENT.DOID_VDESCRIPCIONLARGA AS DOCTIPO,
						USUARIO.USUA_VDOCUMENTONUMERO AS DOCNUMERO,
						USUARIO.USUA_VCORREOELECTRONICO AS USUARIO_CORREO,
						USUARIO.USUA_VALIAS AS USUARIO_ALIAS,
						USUARIO_ROL.USRO_SUSUARIOROLID AS USUARIO_ROL_ID,
						ROLCON.ROCO_SROLCONFIGURACIONID PERFIL_ID,
						ROLCON.ROCO_VNOMBRE AS PERFIL
			FROM		PS_SEGURIDAD.SE_USUARIO USUARIO
			INNER JOIN	SC_MAESTRO.MA_DOCUMENTO_IDENTIDAD DOCIDENT ON USUARIO.USUA_SDOCUMENTOTIPOID = DOCIDENT.DOID_STIPODOCUMENTOIDENTIDADID
			INNER JOIN	PS_SEGURIDAD.SE_USUARIOROL USUARIO_ROL ON USUARIO.USUA_SUSUARIOID = USUARIO_ROL.USRO_SUSUARIOID
						INNER JOIN PS_SEGURIDAD.SE_ROLCONFIGURACION ROLCON ON USUARIO_ROL.USRO_SROLCONFIGURACIONID = ROLCON.ROCO_SROLCONFIGURACIONID
			WHERE		(@P_USUARIO_ID=0 OR USUARIO.USUA_SUSUARIOID=@P_USUARIO_ID)
						--AND (@P_ROL=0 OR ROLCON.ROCO_SROLCONFIGURACIONID=@P_ROL)
						--AND (@P_BLOQ > 1 OR USUARIO.USUA_BBLOQUEOACTIVA=@P_BLOQ)
			ORDER BY 2
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END
