USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_DERIVAR]    Script Date: 07/04/2022 14:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_DERIVAR]
	--================================================================================
	--SISTEMA			: SISTEMA DE EMISIÓN DE CARNÉS PARA EXTRANJEROS
	--OBJETIVO			: DERIVA REGISTROS
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 16/04/2018
	--PARAMETROS        :	
	--EJECUTAR          : [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_DERIVAR]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_CARNE_IDENTIDAD_ID		INT,
	@P_ESTADO_ID				SMALLINT,
	@P_REGISTRADOR_ID			SMALLINT,
	@P_USUARIO_MODIFICACION		SMALLINT,
	@P_IP_MODIFICACION			VARCHAR(50)
	AS
	BEGIN
		BEGIN TRY 
			BEGIN TRAN					
				-- CARNE DE IDENTIDAD
				IF(@P_REGISTRADOR_ID = 0)
					BEGIN
						UPDATE	SC_CARDIP.CD_CARNE_IDENTIDAD
						SET		CAID_SESTADOID				=	@P_ESTADO_ID,
								CAID_SUSUARIOMODIFICACION	=	@P_USUARIO_MODIFICACION,
								CAID_VIPMODIFICACION		=	@P_IP_MODIFICACION,
								CAID_DFECHAMODIFICACION		=	GETDATE()
						WHERE	CAID_ICARNE_IDENTIDADID		=	@P_CARNE_IDENTIDAD_ID
					END
				ELSE
					BEGIN
						UPDATE	SC_CARDIP.CD_CARNE_IDENTIDAD
						SET		CAID_SESTADOID				=	@P_ESTADO_ID,
								CAID_SUSUARIO_DERIVA		=	@P_REGISTRADOR_ID,
								CAID_SUSUARIOMODIFICACION	=	@P_USUARIO_MODIFICACION,
								CAID_VIPMODIFICACION		=	@P_IP_MODIFICACION,
								CAID_DFECHAMODIFICACION		=	GETDATE()
						WHERE	CAID_ICARNE_IDENTIDADID		=	@P_CARNE_IDENTIDAD_ID
					END
			COMMIT TRAN
		END TRY
		BEGIN CATCH
			DECLARE @ERROR VARCHAR(200)
			SELECT @ERROR = ERROR_MESSAGE()
			RAISERROR(@ERROR, 16, 1)
			ROLLBACK TRANSACTION
		END CATCH
	END
