
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal-window {
    position: relative;
    background-color: #FFFFFF;
    width: 50%;
    margin: 10% auto;
    padding-bottom:20px;
}

.modal-windowsmall {
    position: relative;
    background-color: #FFFFFF;
    width: 30%;
    margin: 10% auto;
    padding-bottom:20px;
}

.modal-windowlarge {
    position: relative;
    background-color: #FFFFFF;
    width: 75%;
    margin: 2% auto;
    padding-bottom:20px;
}
.modal-titulo {
    position: relative;
    padding-top:10px;
    font-family: Arial; font-weight: bold; color:White; font-size:14px; text-align:center; height: 30px; width: 100%; background: #550e27;
}
.modal-cuerpo {
    position: relative;
    overflow: auto;
    text-align:center; background: #ffffff;
}
.modal-cuerpoNormal {
    position: relative;
    overflow: auto;
    background: #ffffff;
}
.modal-cuerpoNormalAntecedentes {
    position: relative;
    overflow: auto;
    background: #ffffff;
    margin:20px;
}
.modal-pie {
    position: relative;
    border-top:1px solid #dcdcdc;
    margin-top:10px;
    margin-bottom:10px;
    font-family: Arial; font-weight: bold; color:White; font-size:14px; text-align:center; height: 30px; width: 100%; background: #ffffff;;
}
.close {
    position: absolute;
    padding:5px;
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.3);
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}




