USE [BD_SGAC]
GO
/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT *  FROM [BD_SGAC].[PN_REGISTRO].[RE_ACTUACIONDETALLE] WITH(NOLOCK)

SELECT top 3 pers_dFechaCreacion,pers_cEstado, * FROM [BD_SGAC].[PN_REGISTRO].[RE_PERSONA] WITH(NOLOCK) ORDER BY 1 DESC

SELECT top 3 acpa_dFechaCreacion,acpa_iPersonaId,* FROM [PN_REGISTRO].[RE_ACTUACIONPARTICIPANTE] WITH(NOLOCK) ORDER BY 1 DESC

SELECT * FROM PN_REGISTRO.RE_ACTUACIONDETALLE WITH(NOLOCK) WHERE acde_iActuacionId = 191567 ORDER BY 1 DESC

SELECT * FROM PN_REGISTRO.RE_ACTUACION ACTU (nolock)
 INNER JOIN PN_REGISTRO.RE_ACTUACIONDETALLE ACDE (nolock) ON ACTU.actu_iActuacionId = ACDE.acde_iActuacionId AND ACDE.acde_sEstadoId <> 1
WHERE ACTU.actu_sEstado <> 1 AND ACDE.acde_iActuacionDetalleId = 190599


SELECT * FROM PN_REGISTRO.RE_REGISTROCIVIL (nolock)
WHERE reci_iActuacionDetalleId = 190599

--lngParticipanteId
--135430

SELECT * FROM PN_REGISTRO.RE_PERSONAIDENTIFICACION(nolock)WHERE peid_iPersonaId = 816177
