USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_CONSULTAR_CARNE_OBTENER_CARNE_ID]    Script Date: 15/04/2022 20:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	ALTER PROCEDURE [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_CONSULTAR_CARNE_OBTENER_CARNE_ID]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_CONSULTAR]0,'',0,'',0,0,0,0,0,'01/01/1900','01/01/1900','','','',0,1,15
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_CARNE_IDENTIDAD_NUMERO			VARCHAR(10)
	AS
	BEGIN
		SET NOCOUNT ON
		BEGIN TRY
			SELECT		CAID_ICARNE_IDENTIDADID AS CARDIP_ID
			FROM		SC_CARDIP.CD_CARNE_IDENTIDAD
			WHERE		CAID_VCARNE_NUMERO		=	@P_CARNE_IDENTIDAD_NUMERO
			AND			CAID_CESTADO			=	'A'
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END
