USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_ACTA_RECEPCION_DETALLE_OBTENER_ID_CAB]    Script Date: 15/04/2022 19:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	ALTER PROCEDURE [SC_CARDIP].[USP_CD_ACTA_RECEPCION_DETALLE_OBTENER_ID_CAB]
	--================================================================================
	--SISTEMA			: SISTEMA CARNÉ PARA DIPLOMATICOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE DE LA RECEPCION
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : SC_CARDIP.USP_CD_ACTA_RECEPCION_DETALLE_OBTENER_ID_CAB 365
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_CARNE_IDENTIDAD_ID		SMALLINT
	AS
	BEGIN
		BEGIN TRY		
			SELECT		ACTAREC_DET.ACRD_SACTA_RECEPCION_CAB_ID AS CAB
			FROM		SC_CARDIP.CD_ACTA_RECEPCION_DETALLE ACTAREC_DET
			WHERE		ACRD_SCARNE_IDENTIDAD_ID = @P_CARNE_IDENTIDAD_ID

		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END


