USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_REGISTRO_PREVIO_CONSULTAR_REGISTRO_EDICION]    Script Date: 15/04/2022 20:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_REGISTRO_PREVIO_CONSULTAR_REGISTRO_EDICION]
	--================================================================================
	--SISTEMA			: SISTEMA DE EMISION DE CARNES
	--OBJETIVO			: CONSULTA REGISTRO PREVIO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 09/04/2018 
	--PARAMETROS        :				
	--EJECUTAR          : [SC_CARDIP].[USP_CD_REGISTRO_PREVIO_CONSULTAR_REGISTRO_EDICION] 18
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_REGISTRO_PREVIO_ID		SMALLINT
	AS
	BEGIN
		BEGIN TRY 
			SELECT	REGPREV.REPE_SREGISTRO_PREVIO_ID AS REGPREV_ID,
					REGPREV.REPE_VPRIMER_APELLIDO AS PRIMER_APELLIDO,
					REGPREV.REPE_VSEGUNDO_APELLIDO AS SEGUNDO_APELLIDO,
					REGPREV.REPE_VNOMBRES AS NOMBRES,
					REGPREV.REPE_SGENERO_ID AS GENERO,
					REGPREV.REPE_SOFICINA_CONSULAR_EX_ID AS OFOCEX_ID,
					(SELECT OFCE_SCATEGORIAID FROM PS_SISTEMA.SI_OFICINACONSULAR_EXTRANJERA WHERE OFCE_SOFICINACONSULAR_EXTRANJERAID=REGPREV.REPE_SOFICINA_CONSULAR_EX_ID) AS CATEGORIA_OFCOEX,
					REGPREV.REPE_SCALIDAD_MIGRATORIA AS CALMIG_ID,
					(SELECT CAID_ICARNE_IDENTIDADID FROM SC_CARDIP.CD_CARNE_IDENTIDAD WHERE CAID_SREGISTRO_PREVIO=REGPREV.REPE_SREGISTRO_PREVIO_ID) AS CARDIP_ID,
					(SELECT CAID_STIPO_ENTRADA FROM SC_CARDIP.CD_CARNE_IDENTIDAD WHERE CAID_SREGISTRO_PREVIO=REGPREV.REPE_SREGISTRO_PREVIO_ID) AS TIPO_ENTRADA,
					REGPREV.REPE_DFECHA_CONSULARES AS FECHACON,
					REGPREV.REPE_DFECHA_PRIVILEGIOS AS FECHAPRI
			FROM	SC_CARDIP.CD_REGISTRO_PREVIO REGPREV
			WHERE	REGPREV.REPE_SREGISTRO_PREVIO_ID = @P_REGISTRO_PREVIO_ID
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END



	/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_DERIVAR]    Script Date: 21/05/2018 11:26:18 a.m. ******/
SET ANSI_NULLS ON
