USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_VINCULAR]    Script Date: 15/04/2022 20:49:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_VINCULAR]
--======================================================================
--SISTEMA		:	CARDIP
--OBJETIVO		:	ACTUALIZAR Y VINCULAR EL REGISTRO EN LINEA CON EL CARNET
--CREADO POR		:	MANUEL NUNJA
--FECHA			:	07/10/2019
--PARAMETROS		:	
--EJECUTAR		:	SC_REGLINEA.USP_RL_REGISTRO_LINEA_ACTUALIZAR ,NULL,
--MODIFICACIONES
--AUTOR		FECHA		N° REQ		MOTIVO		
--======================================================================


@P_RELI_IREGISTRO_LINEA_ID      INT,
@P_RELI_ICARNE_IDENTIDAD_ID		SMALLINT,
@P_RELI_SUSUARIO_MODIFICACION	SMALLINT,
@P_RELI_VIP_MODIFICACION		VARCHAR(50)
AS
BEGIN
	BEGIN TRY		
		UPDATE	SC_REGLINEA.RL_REGISTRO_LINEA
		SET		RELI_ICARNE_IDENTIDAD_ID			=	@P_RELI_ICARNE_IDENTIDAD_ID,
				RELI_SUSUARIO_MODIFICACION			=	@P_RELI_SUSUARIO_MODIFICACION,
				RELI_VIP_MODIFICACION				=	@P_RELI_VIP_MODIFICACION,
				RELI_DFECHA_MODIFICACION			=	GETDATE()
		WHERE	RELI_SREG_LINEA_ID					=	@P_RELI_IREGISTRO_LINEA_ID
		AND		RELI_CESTADO						=	'A'

	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END
