USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_ACTA_RECEPCION_DETALLE_ADICIONAR]    Script Date: 18/04/2022 11:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	ALTER PROCEDURE [SC_CARDIP].[USP_CD_ACTA_RECEPCION_DETALLE_ADICIONAR]
	--================================================================================
	--SISTEMA			: SISTEMA DE EMISION DE CARNÉS
	--OBJETIVO			: GENERA EL DETALLE DEL ACTA DE RECEPCION
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 09/05/2018 18:47:27
	--PARAMETROS        :				
	--EJECUTAR          : [SC_CARDIP].[USP_CD_ACTA_RECEPCION_DETALLE_ADICIONAR]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_ACTA_CONF_CAB_ID			SMALLINT,
	@P_CARNE_IDENTIDAD_ID		SMALLINT,
	@P_USUARIO_CREACION			SMALLINT,
	@P_IP_CREACION				VARCHAR(50)
	AS
	BEGIN
		BEGIN TRY
			INSERT INTO SC_CARDIP.CD_ACTA_RECEPCION_DETALLE(ACRD_SACTA_RECEPCION_CAB_ID,ACRD_SCARNE_IDENTIDAD_ID,ACRD_SUSUARIO_CREACION,ACRD_VIP_CREACION,ACRD_DFECHA_CREACION)
			VALUES (@P_ACTA_CONF_CAB_ID,@P_CARNE_IDENTIDAD_ID,@P_USUARIO_CREACION,@P_IP_CREACION,GETDATE())
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
		RETURN @@IDENTITY
	END


