USE [BD_SGAC]
GO
/****** Object:  StoredProcedure [PN_REGISTRO].[USP_RE_FICHA_REGISTRAL_CONSULTAR_TITULAR_MRE]    Script Date: 05/05/2022 16:17:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [PN_REGISTRO].[USP_RE_FICHA_REGISTRAL_CONSULTAR_TITULAR_MRE]
--================================================================================
--SISTEMA			: SGAC
--OBJETIVO			: CONSULTAR DATOS DEL TITULAR Y LA TABLA PN_REGISTRO.RE_FICHAREGISTRAL
--CREADO			: MIGUEL MÁRQUEZ BELTRÁN
--FECHA     		: 17/02/2012 10:39:00 A.M.
--PARAMETROS        :	
--						@P_SOFICINACONSULARID		IDENTIFICADOR DEL ID DE LA OFICINA CONSULAR
--						@P_FIRE_IFICHAREGISTRALID	IDENTIFICADOR ÚNICO DE LA FICHA REGISTRAL
--						@P_FIRE_VNUMEROFICHA		NÚMERO DE LA FICHA REGISTRAL
--						@P_FIRE_SESTADOID			ESTADO DE LA FICHA REGISTRAL
--						@P_CFECHA_INICIAL			FECHA DE ESTADO INICIAL
--						@P_CFECHA_FINAL				FECHA DE ESTADO FINAL
--						@P_ICORRELATIVOACTUACION	CORRELATIVO DE LA ACTUACIÓN
--						@P_VNUMEROGUIA				NÚMERO DE GUIA DE LA FICHA REGISTRAL
--						@P_VDOCUMENTONUMERO			NUMERO DE LA IDENTIFICACION DE LA PERSONA
--						@P_VAPELLIDOPATERNO			APELLIDO PATERNO DE LA PERSONA
--						@P_VAPELLIDOMATERNO			APELLIDO MATERNO DE LA PERSONA
--						@P_VNOMBRES					NOMBRES DE LA PERSONA
--						@P_VNUMEROHOJA				NRO. DE HOJA DE REMISIÓN U OFICIO
--						@ICURRENTPAGE				PÁGINA ACTUAL DEL PAGINADO,
--						@IPAGESIZE					CORRELATIVO DE LA PÁGINA,
--						@ITOTALRECORDS				CANTIDAD DE REGISTROS (SALIDA),
--						@ITOTALPAGES				TOTAL DE PÁGINAS (SALIDA)
--
--EJECUTAR          : PN_REGISTRO.USP_RE_FICHA_REGISTRAL_CONSULTAR_TITULAR_MRE 1, 1, '001', 10, '20161101', '20161101', 1, '001','12345678','FULANO','SUTANO','ANONIMO', '001', 1, 7, @ITOTALRECORDS OUT, @ITOTALPAGES OUT
--MODIFICACIONES
--AUTOR                       FECHA      N° REQ.      MOTIVO
--MMARQUEZ					24/02/2017				MOSTRAR LA FICHA AUNQUE LA GUIA DE DESPACHO SEA ELIMINADA
--================================================================================
--AUTOR MODIFICACIÓN: JONATAN SILVA CACHAY
--FECHA				: 28/02/2017
--DESCRIPCIÓN		: SE AGREGO EL CAMPO NRO GUIA DESPACHO, AHORA MUESTRA TODOS LAS GUIAS SIN IMPORTAR QUE NO ESTEN ASOCIADAS CON UN PARTICIPANTE Y SE MODIFICÓ PARA OPTIMIZAR
--================================================================================
--AUTOR MODIFICACIÓN: JONATAN SILVA CACHAY
--FECHA				: 21/03/2017
--DESCRIPCIÓN		: SE AGREGO Para que busque los registrados como SIO
--================================================================================
-- AUTOR MODIFCACIÓN: JONATAN SILVA CACHAY
-- FECHA MODIFICACIÖN: 12/04/2017
-- MOTIVO			:  Se modifica, para que cuando se busque por estado recuperado, tambien incluya la busqueda de recuperado con ficha
--================================================================================
-- AUTOR MODIFCACIÓN: JONATAN SILVA CACHAY
-- FECHA MODIFICACIÖN: 30/05/2017
-- MOTIVO			:  Se evita que muestre cuando el tramite esta anulado.
--================================================================================
-- AUTOR MODIFCACIÓN: JONATAN SILVA CACHAY
-- FECHA MODIFICACIÖN: 27/06/2017
-- MOTIVO			:  Se modifica para que busque nro de hoja u oficio en caso sea sio
--================================================================================
-- AUTOR: JONATAN SILVA CACHAY
-- MODIFICACIONES: Se agrega el apellido de casada en caso tuviera
-- FECHA:		 08/03/2018
--================================================================================
-- AUTOR: MIGUEL MÁRQUEZ BELTRÁN
-- MODIFICACIONES: Se comento el filtro del estado de la ficha enbviada
-- FECHA:		 03/10/2018
--================================================================================
@P_SOFICINACONSULARID			SMALLINT = 0,
@P_FIRE_IFICHAREGISTRALID		BIGINT = 0,
@P_FIRE_VNUMEROFICHA			VARCHAR(10)='',
@P_FIRE_SESTADOID				SMALLINT=0,
@P_CFECHA_INICIAL				CHAR(8)='',
@P_CFECHA_FINAL					CHAR(8)='',
@P_ICORRELATIVOACTUACION		INT=0,
@P_VNUMEROGUIA					VARCHAR(10)='',
@P_VDOCUMENTONUMERO				VARCHAR(20)='',
@P_VAPELLIDOPATERNO				VARCHAR(100)='',
@P_VAPELLIDOMATERNO				VARCHAR(100)='',
@P_VNOMBRES						VARCHAR(100)='',
@P_VNUMEROHOJA					VARCHAR(10)='',
@P_BSIO							BIT = 0,
@ICURRENTPAGE					INT,
@IPAGESIZE						INT,
@ITOTALRECORDS					INT OUTPUT,
@ITOTALPAGES					INT OUTPUT
AS
BEGIN
SET NOCOUNT ON
DECLARE	@V_ERRORMESSAGE		VARCHAR(MAX)
DECLARE	@V_ERRORSEVERITY	INT

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN TRY

DECLARE @TITULAR_MAYOR	SMALLINT
DECLARE @TITULAR_MENOR	SMALLINT
DECLARE @TIPO_SEMIAUTOMATICO SMALLINT

DECLARE @ESTADO_FICHA_RECUPERADO SMALLINT
DECLARE @ESTADO_FICHA_RECUPERADO_FICHA SMALLINT
DECLARE @ESTADO_FICHA_ENVIADO SMALLINT
DECLARE @ESTADO_FICHA_ENVIADO_RECUPERADO SMALLINT

SET @TITULAR_MAYOR = (SELECT TOP 1 para_sParametroId FROM PS_SISTEMA.SI_PARAMETRO 
						WHERE para_vGrupo = 'FICHA REGISTRAL - PARTICIPANTE TIPO MAYOR' AND para_vDescripcion = 'TITULAR' AND para_cEstado = 'A')
SET @TITULAR_MENOR = (SELECT TOP 1 para_sParametroId FROM PS_SISTEMA.SI_PARAMETRO 
						WHERE para_vGrupo = 'FICHA REGISTRAL - PARTICIPANTE TIPO MENOR' AND para_vDescripcion = 'TITULAR' AND para_cEstado = 'A')

--REGISTROS PAGINAODS, FILTRADOS Y ORDENADOS

SET @TIPO_SEMIAUTOMATICO = (SELECT TOP 1 para_sParametroId FROM PS_SISTEMA.SI_PARAMETRO 
						WHERE para_vGrupo = 'TIPO - REGISTRO' AND para_vDescripcion = 'REGISTRO SEMIAUTOMATICO' AND para_cEstado = 'A')

SELECT @ESTADO_FICHA_RECUPERADO = ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO EST (NOLOCK)
												WHERE EST.ESTA_VGRUPO = 'FICHA-ESTADO' AND EST.ESTA_VDESCRIPCIONCORTA = 'RECUPERADO' 
													AND EST.ESTA_CESTADO = 'A'
SELECT @ESTADO_FICHA_RECUPERADO_FICHA = ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO EST (NOLOCK)
												WHERE EST.ESTA_VGRUPO = 'FICHA-ESTADO' AND EST.ESTA_VDESCRIPCIONCORTA = 'RECUPERADO CON FICHA' 
													AND EST.ESTA_CESTADO = 'A'

SELECT @ESTADO_FICHA_ENVIADO = ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO EST (NOLOCK)
												WHERE EST.ESTA_VGRUPO = 'FICHA-ESTADO' AND EST.ESTA_VDESCRIPCIONCORTA = 'ENVIADO' 
													AND EST.ESTA_CESTADO = 'A'
SELECT @ESTADO_FICHA_ENVIADO_RECUPERADO = ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO EST (NOLOCK)
												WHERE EST.ESTA_VGRUPO = 'FICHA-ESTADO' AND EST.ESTA_VDESCRIPCIONCORTA = 'RECUPERADO - ENVIADO' 
													AND EST.ESTA_CESTADO = 'A'

Create Table #tmpResultado
(
ID INT IDENTITY(1,1),
FIRE_IFICHAREGISTRALID BIGINT,
VNUMEROFICHA VARCHAR(10),
DFECHA Char(10),
ICORRELATIVOACTUACION BIGINT,
IPARTICIPANTEID BIGINT,
VNOMBRES_APELLIDOS VARCHAR(300),
VNRO_TARIFA_DESC VARCHAR(300),
FIRE_SESTADOID SMALLINT,
ESTA_VDESCRIPCIONCORTA VARCHAR(250),
STARIFARIOID SMALLINT,
IACTUACIONID BIGINT,
IACTUACIONDETALLEID BIGINT,
IPERSONARECURRENTEID BIGINT,
VDOCUMENTONUMERO VARCHAR(20),
VNUMEROHOJA VARCHAR(20),
VNUMEROGUIADESPACHO VARCHAR(20),
fire_dFechaEnvio CHAR(10),
fire_vNumeroOficio VARCHAR(20),
actu_sEstado SMALLINT,
OFCO_VNOMBRE VARCHAR(500)
)

If @P_FIRE_SESTADOID = @ESTADO_FICHA_RECUPERADO
Begin
	Insert Into #tmpResultado (FIRE_IFICHAREGISTRALID,VNUMEROFICHA,DFECHA,ICORRELATIVOACTUACION,IPARTICIPANTEID,VNOMBRES_APELLIDOS,VNRO_TARIFA_DESC,FIRE_SESTADOID,ESTA_VDESCRIPCIONCORTA,
	STARIFARIOID,IACTUACIONID,IACTUACIONDETALLEID,IPERSONARECURRENTEID,VDOCUMENTONUMERO,VNUMEROHOJA,VNUMEROGUIADESPACHO,fire_dFechaEnvio,fire_vNumeroOficio,actu_sEstado,OFCO_VNOMBRE)
	SELECT 
			FR.FIRE_IFICHAREGISTRALID,	
			VNUMEROFICHA			= ISNULL(FR.FIRE_VNUMEROFICHA,''),
			DFECHA					= CONVERT(CHar(10),FR.FIRE_DFECHAESTADO,103),
			ICORRELATIVOACTUACION	= AD.ACDE_ICORRELATIVOACTUACION, --R.G.E.
			IPARTICIPANTEID			= PA.fipa_iFichaRegistralParticipanteId,
			VNOMBRES_APELLIDOS		= ISNULL(P.PERS_VNOMBRES,'') + ' ' + ISNULL(P.PERS_VAPELLIDOPATERNO,'') + ' ' + ISNULL(P.PERS_VAPELLIDOMATERNO,'') + ' ' + ISNULL(P.pers_vApellidoCasada,''), 
			VNRO_TARIFA_DESC		= CONVERT(VARCHAR,T.TARI_SNUMERO) + ISNULL(T.TARI_VLETRA,'') + ' ' + CASE WHEN T.TARI_VDESCRIPCIONCORTA = '' THEN TARI_VDESCRIPCION	ELSE T.TARI_VDESCRIPCIONCORTA END , 
			FR.FIRE_SESTADOID,
			E.ESTA_VDESCRIPCIONCORTA,
			STARIFARIOID			= AD.ACDE_STARIFARIOID,
			IACTUACIONID			= AD.ACDE_IACTUACIONID,
			IACTUACIONDETALLEID		= AD.ACDE_IACTUACIONDETALLEID,
			IPERSONARECURRENTEID	= A.ACTU_IPERSONARECURRENTEID,
			VDOCUMENTONUMERO		= ISNULL(IDE.PEID_VDOCUMENTONUMERO,''),
			VNUMEROHOJA				= ISNULL(GD.GUDE_VNUMEROHOJA,''),
			VNUMEROGUIADESPACHO = ISNULL(GUDE_VNUMEROGUIADESPACHO,''),
			COnvert(Char(10),FR.fire_dFechaEnvio,103) as fire_dFechaEnvio,
			ISNULL(FR.fire_vNumeroOficio,'') as fire_vNumeroOficio,
			ad.acde_sEstadoId,
			ISNULL(U.UBGE_VDISTRITO,'') + ' - ' + ISNULL(O.OFCO_VNOMBRE, '') OFCO_VNOMBRE
		FROM PN_REGISTRO.RE_FICHAREGISTRAL FR
		INNER JOIN SC_MAESTRO.MA_ESTADO E ON FR.FIRE_SESTADOID = E.ESTA_SESTADOID
		INNER JOIN PN_REGISTRO.RE_ACTUACIONDETALLE AD ON AD.ACDE_IACTUACIONDETALLEID = FR.FIRE_IACTUACIONDETALLEID
		INNER JOIN PN_REGISTRO.RE_ACTUACION A ON A.ACTU_IACTUACIONID = AD.ACDE_IACTUACIONID
		INNER JOIN PS_SISTEMA.SI_TARIFARIO	T		  ON AD.ACDE_STARIFARIOID		 = T.TARI_STARIFARIOID		
		LEFT JOIN PN_REGISTRO.RE_FICHAREGISTRALPARTICIPANTE PA ON PA.fipa_iFichaRegistralId = FR.fire_iFichaRegistralId 
																	AND PA.fipa_cEstado = 'A' AND PA.fipa_sTipoParticipanteId IN (@TITULAR_MAYOR, @TITULAR_MENOR)
		LEFT JOIN PN_REGISTRO.RE_PERSONA	P	ON PA.FIPA_IPERSONAID = P.PERS_IPERSONAID 
		LEFT JOIN  PN_REGISTRO.RE_PERSONAIDENTIFICACION IDE ON P.PERS_IPERSONAID = IDE.PEID_IPERSONAID AND IDE.PEID_CESTADO = 'A' 
				and IDE.peid_sDocumentoTipoId = 
					CASE WHEN (select count(peid.peid_iPersonaId) from PN_REGISTRO.RE_PERSONAIDENTIFICACION peid where peid.peid_iPersonaId = P.PERS_IPERSONAID) > 1 
							THEN  1 ELSE IDE.peid_sDocumentoTipoId END

		LEFT JOIN PN_REGISTRO.RE_FICHAENVIADA FE ON FE.FIEN_IFICHAREGISTRALID = FR.FIRE_IFICHAREGISTRALID AND FE.FIEN_CESTADO = 'A'
		LEFT JOIN PN_REGISTRO.RE_GUIADESPACHO GD ON GD.GUDE_IGUIADESPACHOID = FE.FIEN_IGUIADESPACHOID AND GD.GUDE_CESTADO = 'A'
		
		LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR O ON O.OFCO_SOFICINACONSULARID = A.ACTU_SOFICINACONSULARID AND O.OFCO_CESTADO = 'A' AND ISNULL(O.OFCO_SREFERENCIAID,0) <> 0 AND O.OFCO_VNOMBRE NOT LIKE 'ODE %'
		LEFT JOIN PS_SISTEMA.SI_UBICACIONGEOGRAFICA U (NOLOCK) ON O.OFCO_CUBIGEOCODIGO = U.UBGE_CCODIGO 
		LEFT JOIN PS_SISTEMA.SI_PARAMETRO PAR (NOLOCK) ON O.OFCO_SCATEGORIAID = PAR.PARA_SPARAMETROID AND PAR.PARA_VGRUPO= 'CONFIGURACIÓN-CATEGORÍA OFICINA CONSULAR'
		WHERE 
			A.actu_sOficinaConsularId = Case When @P_SOFICINACONSULARID = 0 Then A.actu_sOficinaConsularId Else @P_SOFICINACONSULARID End
		And	FR.FIRE_IFICHAREGISTRALID = Case When @P_FIRE_IFICHAREGISTRALID = 0 Then FR.FIRE_IFICHAREGISTRALID Else @P_FIRE_IFICHAREGISTRALID End
		And FR.FIRE_VNUMEROFICHA = Case When @P_FIRE_VNUMEROFICHA = '' Then FR.FIRE_VNUMEROFICHA Else @P_FIRE_VNUMEROFICHA End
		And FR.FIRE_SESTADOID IN (@ESTADO_FICHA_RECUPERADO,@ESTADO_FICHA_RECUPERADO_FICHA)
		And ((@P_CFECHA_INICIAL = '' AND @P_CFECHA_FINAL = '' AND FR.FIRE_DFECHAESTADO = FR.FIRE_DFECHAESTADO) OR
			(@P_CFECHA_INICIAL <> '' AND @P_CFECHA_FINAL <> '' AND CONVERT(VARCHAR, FR.FIRE_DFECHAESTADO,112) >= @P_CFECHA_INICIAL AND CONVERT(VARCHAR, FR.FIRE_DFECHAESTADO,112) <= @P_CFECHA_FINAL))
		And AD.ACDE_ICORRELATIVOACTUACION = Case When @P_ICORRELATIVOACTUACION = 0 Then AD.ACDE_ICORRELATIVOACTUACION Else @P_ICORRELATIVOACTUACION End 
		And FR.FIRE_VNUMEROGUIA = Case When @P_VNUMEROGUIA = '' Then FR.FIRE_VNUMEROGUIA Else @P_VNUMEROGUIA End 
		And ISNULL(IDE.PEID_VDOCUMENTONUMERO,'') = Case WHen @P_VDOCUMENTONUMERO = '' Then ISNULL(IDE.PEID_VDOCUMENTONUMERO,'') Else @P_VDOCUMENTONUMERO End
		And ISNULL(P.PERS_VAPELLIDOPATERNO,'') Like Case When @P_VAPELLIDOPATERNO = '' Then ISNULL(P.PERS_VAPELLIDOPATERNO,'') + '%' Else RTRIM(@P_VAPELLIDOPATERNO) + '%' End
		And ISNULL(P.PERS_VAPELLIDOMATERNO,'') Like Case When @P_VAPELLIDOMATERNO = '' Then ISNULL(P.PERS_VAPELLIDOMATERNO,'') + '%' Else RTRIM(@P_VAPELLIDOMATERNO) + '%' End
		And ISNULL(P.PERS_VNOMBRES,'') Like Case When @P_VNOMBRES = '' Then ISNULL(P.PERS_VNOMBRES,'') + '%' Else RTRIM(@P_VNOMBRES) + '%' End
		And ISNULL(GD.GUDE_VNUMEROHOJA,'') =	Case When 
													Case When 
														@P_BSIO = 1 
													Then '' 
													Else @P_VNUMEROHOJA 
													End = '' 
												Then ISNULL(GD.GUDE_VNUMEROHOJA,'') 
												Else @P_VNUMEROHOJA 
												End
		And ISNULL(FR.fire_vNumeroOficio,'') =	Case When 
													Case When 
														@P_BSIO = 1 
													Then @P_VNUMEROHOJA 
													Else  ''
													End = '' 
												Then ISNULL(FR.fire_vNumeroOficio,'') 
												Else @P_VNUMEROHOJA 
												End
		ANd FR.fire_sTipoRegistro = Case When @P_BSIO = 1 Then @TIPO_SEMIAUTOMATICO ELse FR.fire_sTipoRegistro End
		ORDER BY FR.FIRE_DFECHAESTADO DESC
End
Else If @P_FIRE_SESTADOID = @ESTADO_FICHA_ENVIADO
Begin
	Insert Into #tmpResultado (FIRE_IFICHAREGISTRALID,VNUMEROFICHA,DFECHA,ICORRELATIVOACTUACION,IPARTICIPANTEID,VNOMBRES_APELLIDOS,VNRO_TARIFA_DESC,FIRE_SESTADOID,ESTA_VDESCRIPCIONCORTA,
	STARIFARIOID,IACTUACIONID,IACTUACIONDETALLEID,IPERSONARECURRENTEID,VDOCUMENTONUMERO,VNUMEROHOJA,VNUMEROGUIADESPACHO,fire_dFechaEnvio,fire_vNumeroOficio,actu_sEstado,OFCO_VNOMBRE)
	SELECT 
			FR.FIRE_IFICHAREGISTRALID,	
			VNUMEROFICHA			= ISNULL(FR.FIRE_VNUMEROFICHA,''),
			DFECHA					= CONVERT(CHar(10),FR.FIRE_DFECHAESTADO,103),
			ICORRELATIVOACTUACION	= AD.ACDE_ICORRELATIVOACTUACION, --R.G.E.
			IPARTICIPANTEID			= PA.fipa_iFichaRegistralParticipanteId,
			VNOMBRES_APELLIDOS		= ISNULL(P.PERS_VNOMBRES,'') + ' ' + ISNULL(P.PERS_VAPELLIDOPATERNO,'') + ' ' + ISNULL(P.PERS_VAPELLIDOMATERNO,'') + ' ' + ISNULL(P.pers_vApellidoCasada,''), 
			VNRO_TARIFA_DESC		= CONVERT(VARCHAR,T.TARI_SNUMERO) + ISNULL(T.TARI_VLETRA,'') + ' ' + CASE WHEN T.TARI_VDESCRIPCIONCORTA = '' THEN TARI_VDESCRIPCION	ELSE T.TARI_VDESCRIPCIONCORTA END , 
			FR.FIRE_SESTADOID,
			E.ESTA_VDESCRIPCIONCORTA,
			STARIFARIOID			= AD.ACDE_STARIFARIOID,
			IACTUACIONID			= AD.ACDE_IACTUACIONID,
			IACTUACIONDETALLEID		= AD.ACDE_IACTUACIONDETALLEID,
			IPERSONARECURRENTEID	= A.ACTU_IPERSONARECURRENTEID,
			VDOCUMENTONUMERO		= ISNULL(IDE.PEID_VDOCUMENTONUMERO,''),
			VNUMEROHOJA				= ISNULL(GD.GUDE_VNUMEROHOJA,''),
			VNUMEROGUIADESPACHO = ISNULL(GUDE_VNUMEROGUIADESPACHO,''),
			COnvert(Char(10),FR.fire_dFechaEnvio,103) as fire_dFechaEnvio,
			ISNULL(FR.fire_vNumeroOficio,'') as fire_vNumeroOficio,
			ad.acde_sEstadoId,
			ISNULL(U.UBGE_VDISTRITO,'') + ' - ' + ISNULL(O.OFCO_VNOMBRE, '') OFCO_VNOMBRE
		FROM PN_REGISTRO.RE_FICHAREGISTRAL FR
		INNER JOIN SC_MAESTRO.MA_ESTADO E ON FR.FIRE_SESTADOID = E.ESTA_SESTADOID
		INNER JOIN PN_REGISTRO.RE_ACTUACIONDETALLE AD ON AD.ACDE_IACTUACIONDETALLEID = FR.FIRE_IACTUACIONDETALLEID
		INNER JOIN PN_REGISTRO.RE_ACTUACION A ON A.ACTU_IACTUACIONID = AD.ACDE_IACTUACIONID
		INNER JOIN PS_SISTEMA.SI_TARIFARIO	T		  ON AD.ACDE_STARIFARIOID		 = T.TARI_STARIFARIOID		
		LEFT JOIN PN_REGISTRO.RE_FICHAREGISTRALPARTICIPANTE PA ON PA.fipa_iFichaRegistralId = FR.fire_iFichaRegistralId 
																	AND PA.fipa_cEstado = 'A' AND PA.fipa_sTipoParticipanteId IN (@TITULAR_MAYOR, @TITULAR_MENOR)
		LEFT JOIN PN_REGISTRO.RE_PERSONA	P	ON PA.FIPA_IPERSONAID = P.PERS_IPERSONAID 
		LEFT JOIN  PN_REGISTRO.RE_PERSONAIDENTIFICACION IDE ON P.PERS_IPERSONAID = IDE.PEID_IPERSONAID AND IDE.PEID_CESTADO = 'A' 
				and IDE.peid_sDocumentoTipoId = 
					CASE WHEN (select count(peid.peid_iPersonaId) from PN_REGISTRO.RE_PERSONAIDENTIFICACION peid where peid.peid_iPersonaId = P.PERS_IPERSONAID) > 1 
							THEN  1 ELSE IDE.peid_sDocumentoTipoId END

		LEFT JOIN PN_REGISTRO.RE_FICHAENVIADA FE ON FE.FIEN_IFICHAREGISTRALID = FR.FIRE_IFICHAREGISTRALID --AND FE.FIEN_CESTADO = 'A'
		LEFT JOIN PN_REGISTRO.RE_GUIADESPACHO GD ON GD.GUDE_IGUIADESPACHOID = FE.FIEN_IGUIADESPACHOID AND GD.GUDE_CESTADO = 'A'
		
		LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR O ON O.OFCO_SOFICINACONSULARID = A.ACTU_SOFICINACONSULARID AND O.OFCO_CESTADO = 'A' AND ISNULL(O.OFCO_SREFERENCIAID,0) <> 0 AND O.OFCO_VNOMBRE NOT LIKE 'ODE %'
		LEFT JOIN PS_SISTEMA.SI_UBICACIONGEOGRAFICA U (NOLOCK) ON O.OFCO_CUBIGEOCODIGO = U.UBGE_CCODIGO 
		LEFT JOIN PS_SISTEMA.SI_PARAMETRO PAR (NOLOCK) ON O.OFCO_SCATEGORIAID = PAR.PARA_SPARAMETROID AND PAR.PARA_VGRUPO= 'CONFIGURACIÓN-CATEGORÍA OFICINA CONSULAR'
		WHERE 
			A.actu_sOficinaConsularId = Case When @P_SOFICINACONSULARID = 0 Then A.actu_sOficinaConsularId Else @P_SOFICINACONSULARID End
		And	FR.FIRE_IFICHAREGISTRALID = Case When @P_FIRE_IFICHAREGISTRALID = 0 Then FR.FIRE_IFICHAREGISTRALID Else @P_FIRE_IFICHAREGISTRALID End
		And FR.FIRE_VNUMEROFICHA = Case When @P_FIRE_VNUMEROFICHA = '' Then FR.FIRE_VNUMEROFICHA Else @P_FIRE_VNUMEROFICHA End
		And FR.FIRE_SESTADOID IN (@ESTADO_FICHA_ENVIADO_RECUPERADO,@ESTADO_FICHA_ENVIADO)
		And ((@P_CFECHA_INICIAL = '' AND @P_CFECHA_FINAL = '' AND FR.FIRE_DFECHAESTADO = FR.FIRE_DFECHAESTADO) OR
			(@P_CFECHA_INICIAL <> '' AND @P_CFECHA_FINAL <> '' AND CONVERT(VARCHAR, FR.FIRE_DFECHAESTADO,112) >= @P_CFECHA_INICIAL AND CONVERT(VARCHAR, FR.FIRE_DFECHAESTADO,112) <= @P_CFECHA_FINAL))
		And AD.ACDE_ICORRELATIVOACTUACION = Case When @P_ICORRELATIVOACTUACION = 0 Then AD.ACDE_ICORRELATIVOACTUACION Else @P_ICORRELATIVOACTUACION End 
		And FR.FIRE_VNUMEROGUIA = Case When @P_VNUMEROGUIA = '' Then FR.FIRE_VNUMEROGUIA Else @P_VNUMEROGUIA End 
		And ISNULL(IDE.PEID_VDOCUMENTONUMERO,'') = Case WHen @P_VDOCUMENTONUMERO = '' Then ISNULL(IDE.PEID_VDOCUMENTONUMERO,'') Else @P_VDOCUMENTONUMERO End
		And ISNULL(P.PERS_VAPELLIDOPATERNO,'') Like Case When @P_VAPELLIDOPATERNO = '' Then ISNULL(P.PERS_VAPELLIDOPATERNO,'') + '%' Else RTRIM(@P_VAPELLIDOPATERNO) + '%' End
		And ISNULL(P.PERS_VAPELLIDOMATERNO,'') Like Case When @P_VAPELLIDOMATERNO = '' Then ISNULL(P.PERS_VAPELLIDOMATERNO,'') + '%' Else RTRIM(@P_VAPELLIDOMATERNO) + '%' End
		And ISNULL(P.PERS_VNOMBRES,'') Like Case When @P_VNOMBRES = '' Then ISNULL(P.PERS_VNOMBRES,'') + '%' Else RTRIM(@P_VNOMBRES) + '%' End
		And ISNULL(GD.GUDE_VNUMEROHOJA,'') =	Case When 
													Case When 
														@P_BSIO = 1 
													Then '' 
													Else @P_VNUMEROHOJA 
													End = '' 
												Then ISNULL(GD.GUDE_VNUMEROHOJA,'') 
												Else @P_VNUMEROHOJA 
												End
		And ISNULL(FR.fire_vNumeroOficio,'') =	Case When 
													Case When 
														@P_BSIO = 1 
													Then @P_VNUMEROHOJA 
													Else  ''
													End = '' 
												Then ISNULL(FR.fire_vNumeroOficio,'') 
												Else @P_VNUMEROHOJA 
												End
		ANd FR.fire_sTipoRegistro = Case When @P_BSIO = 1 Then @TIPO_SEMIAUTOMATICO ELse FR.fire_sTipoRegistro End
		ORDER BY FR.FIRE_DFECHAESTADO DESC
End
Else
Begin
	Insert Into #tmpResultado (FIRE_IFICHAREGISTRALID,VNUMEROFICHA,DFECHA,ICORRELATIVOACTUACION,IPARTICIPANTEID,VNOMBRES_APELLIDOS,VNRO_TARIFA_DESC,FIRE_SESTADOID,ESTA_VDESCRIPCIONCORTA,
	STARIFARIOID,IACTUACIONID,IACTUACIONDETALLEID,IPERSONARECURRENTEID,VDOCUMENTONUMERO,VNUMEROHOJA,VNUMEROGUIADESPACHO,fire_dFechaEnvio,fire_vNumeroOficio,actu_sEstado,OFCO_VNOMBRE)
	SELECT 
		FR.FIRE_IFICHAREGISTRALID,	
		VNUMEROFICHA			= ISNULL(FR.FIRE_VNUMEROFICHA,''),
		DFECHA					= CONVERT(CHar(10),FR.FIRE_DFECHAESTADO,103),
		ICORRELATIVOACTUACION	= AD.ACDE_ICORRELATIVOACTUACION, --R.G.E.
		IPARTICIPANTEID			= PA.fipa_iFichaRegistralParticipanteId,
		VNOMBRES_APELLIDOS		= ISNULL(P.PERS_VNOMBRES,'') + ' ' + ISNULL(P.PERS_VAPELLIDOPATERNO,'') + ' ' + ISNULL(P.PERS_VAPELLIDOMATERNO,'') + ' ' + ISNULL(P.pers_vApellidoCasada,''), 
		VNRO_TARIFA_DESC		= CONVERT(VARCHAR,T.TARI_SNUMERO) + ISNULL(T.TARI_VLETRA,'') + ' ' + CASE WHEN T.TARI_VDESCRIPCIONCORTA = '' THEN TARI_VDESCRIPCION	ELSE T.TARI_VDESCRIPCIONCORTA END , 
		FR.FIRE_SESTADOID,
		E.ESTA_VDESCRIPCIONCORTA,
		STARIFARIOID			= AD.ACDE_STARIFARIOID,
		IACTUACIONID			= AD.ACDE_IACTUACIONID,
		IACTUACIONDETALLEID		= AD.ACDE_IACTUACIONDETALLEID,
		IPERSONARECURRENTEID	= A.ACTU_IPERSONARECURRENTEID,
		VDOCUMENTONUMERO		= ISNULL(IDE.PEID_VDOCUMENTONUMERO,''),
		VNUMEROHOJA				= ISNULL(GD.GUDE_VNUMEROHOJA,''),
		VNUMEROGUIADESPACHO = ISNULL(GUDE_VNUMEROGUIADESPACHO,''),
		COnvert(Char(10),FR.fire_dFechaEnvio,103) as fire_dFechaEnvio,
		ISNULL(FR.fire_vNumeroOficio,'') as fire_vNumeroOficio,
		ad.acde_sEstadoId,
		ISNULL(U.UBGE_VDISTRITO,'') + ' - ' + ISNULL(O.OFCO_VNOMBRE, '') OFCO_VNOMBRE
	FROM PN_REGISTRO.RE_FICHAREGISTRAL FR
	INNER JOIN SC_MAESTRO.MA_ESTADO E ON FR.FIRE_SESTADOID = E.ESTA_SESTADOID
	INNER JOIN PN_REGISTRO.RE_ACTUACIONDETALLE AD ON AD.ACDE_IACTUACIONDETALLEID = FR.FIRE_IACTUACIONDETALLEID
	INNER JOIN PN_REGISTRO.RE_ACTUACION A ON A.ACTU_IACTUACIONID = AD.ACDE_IACTUACIONID
	INNER JOIN PS_SISTEMA.SI_TARIFARIO	T		  ON AD.ACDE_STARIFARIOID		 = T.TARI_STARIFARIOID		
	LEFT JOIN PN_REGISTRO.RE_FICHAREGISTRALPARTICIPANTE PA ON PA.fipa_iFichaRegistralId = FR.fire_iFichaRegistralId 
																AND PA.fipa_cEstado = 'A' AND PA.fipa_sTipoParticipanteId IN (@TITULAR_MAYOR, @TITULAR_MENOR)
	LEFT JOIN PN_REGISTRO.RE_PERSONA	P	ON PA.FIPA_IPERSONAID = P.PERS_IPERSONAID 
	LEFT JOIN  PN_REGISTRO.RE_PERSONAIDENTIFICACION IDE ON P.PERS_IPERSONAID = IDE.PEID_IPERSONAID AND IDE.PEID_CESTADO = 'A' 
			and IDE.peid_sDocumentoTipoId = 
				CASE WHEN (select count(peid.peid_iPersonaId) from PN_REGISTRO.RE_PERSONAIDENTIFICACION peid where peid.peid_iPersonaId = P.PERS_IPERSONAID) > 1 
						THEN  1 ELSE IDE.peid_sDocumentoTipoId END

	LEFT JOIN PN_REGISTRO.RE_FICHAENVIADA FE ON FE.FIEN_IFICHAREGISTRALID = FR.FIRE_IFICHAREGISTRALID AND FE.FIEN_CESTADO = 'A'
	LEFT JOIN PN_REGISTRO.RE_GUIADESPACHO GD ON GD.GUDE_IGUIADESPACHOID = FE.FIEN_IGUIADESPACHOID AND GD.GUDE_CESTADO = 'A'

	LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR O ON O.OFCO_SOFICINACONSULARID = A.ACTU_SOFICINACONSULARID AND O.OFCO_CESTADO = 'A' AND ISNULL(O.OFCO_SREFERENCIAID,0) <> 0 AND O.OFCO_VNOMBRE NOT LIKE 'ODE %'
	LEFT JOIN PS_SISTEMA.SI_UBICACIONGEOGRAFICA U (NOLOCK) ON O.OFCO_CUBIGEOCODIGO = U.UBGE_CCODIGO 
	LEFT JOIN PS_SISTEMA.SI_PARAMETRO PAR (NOLOCK) ON O.OFCO_SCATEGORIAID = PAR.PARA_SPARAMETROID AND PAR.PARA_VGRUPO= 'CONFIGURACIÓN-CATEGORÍA OFICINA CONSULAR'

	WHERE 
		A.actu_sOficinaConsularId = Case When @P_SOFICINACONSULARID = 0 Then A.actu_sOficinaConsularId Else @P_SOFICINACONSULARID End
	And	FR.FIRE_IFICHAREGISTRALID = Case When @P_FIRE_IFICHAREGISTRALID = 0 Then FR.FIRE_IFICHAREGISTRALID Else @P_FIRE_IFICHAREGISTRALID End
	And FR.FIRE_VNUMEROFICHA = Case When @P_FIRE_VNUMEROFICHA = '' Then FR.FIRE_VNUMEROFICHA Else @P_FIRE_VNUMEROFICHA End
	And FR.FIRE_SESTADOID = Case When @P_FIRE_SESTADOID = 0 Then FR.FIRE_SESTADOID Else @P_FIRE_SESTADOID End
	And ((@P_CFECHA_INICIAL = '' AND @P_CFECHA_FINAL = '' AND FR.FIRE_DFECHAESTADO = FR.FIRE_DFECHAESTADO) OR
		(@P_CFECHA_INICIAL <> '' AND @P_CFECHA_FINAL <> '' AND CONVERT(VARCHAR, FR.FIRE_DFECHAESTADO,112) >= @P_CFECHA_INICIAL AND CONVERT(VARCHAR, FR.FIRE_DFECHAESTADO,112) <= @P_CFECHA_FINAL))
	And AD.ACDE_ICORRELATIVOACTUACION = Case When @P_ICORRELATIVOACTUACION = 0 Then AD.ACDE_ICORRELATIVOACTUACION Else @P_ICORRELATIVOACTUACION End 
	And FR.FIRE_VNUMEROGUIA = Case When @P_VNUMEROGUIA = '' Then FR.FIRE_VNUMEROGUIA Else @P_VNUMEROGUIA End 
	And ISNULL(IDE.PEID_VDOCUMENTONUMERO,'') = Case WHen @P_VDOCUMENTONUMERO = '' Then ISNULL(IDE.PEID_VDOCUMENTONUMERO,'') Else @P_VDOCUMENTONUMERO End
	And ISNULL(P.PERS_VAPELLIDOPATERNO,'') Like Case When @P_VAPELLIDOPATERNO = '' Then ISNULL(P.PERS_VAPELLIDOPATERNO,'') + '%' Else RTRIM(@P_VAPELLIDOPATERNO) + '%' End
	And ISNULL(P.PERS_VAPELLIDOMATERNO,'') Like Case When @P_VAPELLIDOMATERNO = '' Then ISNULL(P.PERS_VAPELLIDOMATERNO,'') + '%' Else RTRIM(@P_VAPELLIDOMATERNO) + '%' End
	And ISNULL(P.PERS_VNOMBRES,'') Like Case When @P_VNOMBRES = '' Then ISNULL(P.PERS_VNOMBRES,'') + '%' Else RTRIM(@P_VNOMBRES) + '%' End
	And ISNULL(GD.GUDE_VNUMEROHOJA,'') =	Case When 
													Case When 
														@P_BSIO = 1 
													Then '' 
													Else @P_VNUMEROHOJA 
													End = '' 
												Then ISNULL(GD.GUDE_VNUMEROHOJA,'') 
												Else @P_VNUMEROHOJA 
												End
		And ISNULL(FR.fire_vNumeroOficio,'') =	Case When 
													Case When 
														@P_BSIO = 1 
													Then @P_VNUMEROHOJA 
													Else  ''
													End = '' 
												Then ISNULL(FR.fire_vNumeroOficio,'') 
												Else @P_VNUMEROHOJA 
												End
	ANd FR.fire_sTipoRegistro = Case When @P_BSIO = 1 Then @TIPO_SEMIAUTOMATICO ELse FR.fire_sTipoRegistro End
	ORDER BY FR.FIRE_DFECHAESTADO DESC
End

Select @ITOTALRECORDS = ISNULL(COUNT(ID),0)
From #tmpResultado
where actu_sEstado <> 1

Select * 
from #tmpResultado
where actu_sEstado <> 1
ORDER BY DFECHA DESC


	OFFSET (@ICurrentPage - 1) * @IPageSize ROWS
		FETCH NEXT @IPageSize ROWS ONLY			

		IF @ITotalRecords % @IPageSize = 0
		BEGIN
			SET @ITotalPages = @ITotalRecords / @IPageSize
		END
		ELSE
		BEGIN
			SET @ITotalPages = (@ITotalRecords / @IPageSize) + 1
		END

		DROP TABLE #tmpResultado

END TRY

	BEGIN CATCH
			SELECT 	@V_ERRORMESSAGE = ERROR_MESSAGE(), @V_ERRORSEVERITY = ERROR_SEVERITY();
			RAISERROR(@V_ERRORMESSAGE, @V_ERRORSEVERITY, 1);
	END CATCH;

	SET NOCOUNT OFF
END


