USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_REPORTE_CARNE_IDENTIDAD_x_CALIDAD_RESUMEN]    Script Date: 15/04/2022 20:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	ALTER PROCEDURE [SC_CARDIP].[USP_CD_REPORTE_CARNE_IDENTIDAD_x_CALIDAD_RESUMEN]
	--================================================================================
	--SISTEMA			: SISTEMA CARNÉ PARA DIPLOMATICOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        : @P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : SC_CARDIP.USP_CD_REPORTE_CARNE_IDENTIDAD_x_CALIDAD_RESUMEN '2018-01-01 00:00:00.000','2018-05-01 00:00:00.000'
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	--MODIFICADO POR: JONATAN SILVA CACHAY
	--FECHA DE MODIFICACIÓN: 19/02/2020
	--MOTIVO: SE AGREGA EN EL WHERE EL ESTADO DE GRUPO
	--================================================================================
	--MODIFICADO POR		 : MARTÍN MUÑOZ SELMI
	--FECHA DE MODIFICACIÓN  : 15/04/2022
	--MOTIVO				 : SE AGREGA PALABRA CLAVE WITH(NOLOCK) A CONSULTAS
	--================================================================================
	@P_FECHA_INICIO		DATETIME,
	@P_FECHA_FIN		DATETIME

	AS
	BEGIN
		BEGIN TRY
			DECLARE
			-- ESTADOS --------------------
			@P_ESTADO_DERIVADO_PC SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='DERIVADO PARA COMPLETAR' AND ESTA_VGRUPO = 'CARNE IDENTIDAD - ESTADO' AND ESTA_CESTADO='A'),
			@P_ESTADO_DERIVADO SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='DERIVADO' AND ESTA_VGRUPO = 'CARNE IDENTIDAD - ESTADO' AND ESTA_CESTADO='A'),
			@P_ESTADO_APROBADO SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='APROBADO' AND ESTA_VGRUPO = 'CARNE IDENTIDAD - ESTADO' AND ESTA_CESTADO='A'),
			@P_ESTADO_CONTROL_CALIDAD SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='CONTROL DE CALIDAD' AND ESTA_VGRUPO = 'CARNE IDENTIDAD - ESTADO' AND ESTA_CESTADO='A'),
			@P_ESTADO_EMITIDO SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='EMITIDO (IMPRESO)' AND ESTA_VGRUPO = 'CARNE IDENTIDAD - ESTADO' AND ESTA_CESTADO='A'),
			@P_ESTADO_VENCIDO SMALLINT = (SELECT ESTA_SESTADOID FROM SC_MAESTRO.MA_ESTADO WITH(NOLOCK) WHERE ESTA_VDESCRIPCIONCORTA='VENCIDO' AND ESTA_VGRUPO = 'CARNE IDENTIDAD - ESTADO' AND ESTA_CESTADO='A')
			-- CURSOR --------------------
			DECLARE @P_CALMIG_ID SMALLINT, @P_CALMIG_NOMBRE VARCHAR(100)
			DECLARE CURSOR_CALMIG CURSOR FOR
			SELECT CAMI_SCALIDAD_MIGRATORIAID, CAMI_VNOMBRE FROM SC_MAESTRO.MA_CALIDAD_MIGRATORIA WITH(NOLOCK) WHERE CAMI_SFLAG_NIVEL_CALIDAD=0 AND CAMI_CESTADO='A' ORDER BY 1
			OPEN CURSOR_CALMIG
			FETCH NEXT FROM CURSOR_CALMIG
			INTO @P_CALMIG_ID, @P_CALMIG_NOMBRE
			-- VARIABLES TOTALES --------------------
			DECLARE 
			@V_TOTAL_REG INT,
			@V_TOTAL_EMI INT,
			@V_TOTAL_VEN INT,

			@V_TOTAL_1 INT = 0,
			@V_TOTAL_2 INT= 0,
			@V_TOTAL_3 INT= 0,
			@V_TOTAL_4 INT= 0
			-- TABLA TEMPORAL ------------------------
			CREATE TABLE #TEMPORAL
			(
				NOMBRE_CALIDAD	VARCHAR(100),
				REGISTRADOS		INT,
				EMITIDOS		INT,
				VIGENTES		INT,
				VENCIDOS		INT
			)
			-- PROCESO ------------------------
			WHILE @@FETCH_STATUS = 0
				BEGIN
		
					SET @V_TOTAL_REG = (
											SELECT	COUNT(CAID_ICARNE_IDENTIDADID) 
											FROM	SC_CARDIP.CD_CARNE_IDENTIDAD WITH(NOLOCK)
											WHERE	CAID_SESTADOID=@P_ESTADO_DERIVADO_PC 
											AND		CAID_SCALIDAD_MIGRATORIAID=@P_CALMIG_ID 
											AND		CAID_BFLAG_REGISTRO_COMPLETO=1 
											AND		CAID_CESTADO='A'
											AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)>=@P_FECHA_INICIO
											AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)<=@P_FECHA_FIN
										)

					SET @V_TOTAL_REG = @V_TOTAL_REG +	(
															SELECT	COUNT(CAID_ICARNE_IDENTIDADID) 
															FROM	SC_CARDIP.CD_CARNE_IDENTIDAD WITH(NOLOCK)
															WHERE	CAID_SESTADOID=@P_ESTADO_DERIVADO 
															AND		CAID_SCALIDAD_MIGRATORIAID=@P_CALMIG_ID 
															AND		CAID_CESTADO='A'
															AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)>=@P_FECHA_INICIO
															AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)<=@P_FECHA_FIN
														)
					SET @V_TOTAL_REG = @V_TOTAL_REG +	(
															SELECT	COUNT(CAID_ICARNE_IDENTIDADID) 
															FROM	SC_CARDIP.CD_CARNE_IDENTIDAD WITH(NOLOCK)
															WHERE	CAID_SESTADOID=@P_ESTADO_APROBADO 
															AND		CAID_SCALIDAD_MIGRATORIAID=@P_CALMIG_ID 
															AND		CAID_CESTADO='A'
															AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)>=@P_FECHA_INICIO
															AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)<=@P_FECHA_FIN
														)
					SET @V_TOTAL_REG = @V_TOTAL_REG +	(
															SELECT	COUNT(CAID_ICARNE_IDENTIDADID) 
															FROM	SC_CARDIP.CD_CARNE_IDENTIDAD WITH(NOLOCK)
															WHERE	CAID_SESTADOID=@P_ESTADO_CONTROL_CALIDAD 
															AND		CAID_SCALIDAD_MIGRATORIAID=@P_CALMIG_ID 
															AND		CAID_CESTADO='A'
															AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)>=@P_FECHA_INICIO
															AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)<=@P_FECHA_FIN
														)

					SET @V_TOTAL_1 = @V_TOTAL_1 + @V_TOTAL_REG

					SET @V_TOTAL_EMI = (
											SELECT	COUNT(CAID_ICARNE_IDENTIDADID) 
											FROM	SC_CARDIP.CD_CARNE_IDENTIDAD WITH(NOLOCK)
											WHERE	CAID_SESTADOID=@P_ESTADO_EMITIDO 
											AND		CAID_SCALIDAD_MIGRATORIAID=@P_CALMIG_ID 
											AND		CAID_CESTADO='A'
											AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)>=@P_FECHA_INICIO
											AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)<=@P_FECHA_FIN
										)
					SET @V_TOTAL_2 = @V_TOTAL_2 + @V_TOTAL_EMI

					SET @V_TOTAL_VEN = (
											SELECT	COUNT(CAID_ICARNE_IDENTIDADID) 
											FROM	SC_CARDIP.CD_CARNE_IDENTIDAD WITH(NOLOCK)
											WHERE	CAID_SESTADOID=@P_ESTADO_VENCIDO 
											AND		CAID_SCALIDAD_MIGRATORIAID=@P_CALMIG_ID 
											AND		CAID_CESTADO='A'
											AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)>=@P_FECHA_INICIO
											AND		CAST(FLOOR(CAST(CAID_DFECHACREACION AS float)) AS DATETIME)<=@P_FECHA_FIN
										)
					SET @V_TOTAL_3 = @V_TOTAL_3 + @V_TOTAL_VEN

					INSERT INTO #TEMPORAL(NOMBRE_CALIDAD,REGISTRADOS,EMITIDOS,VIGENTES,VENCIDOS)
					VALUES(@P_CALMIG_NOMBRE, @V_TOTAL_REG ,@V_TOTAL_EMI + @V_TOTAL_VEN, @V_TOTAL_EMI, @V_TOTAL_VEN)

					FETCH NEXT FROM CURSOR_CALMIG
					INTO @P_CALMIG_ID, @P_CALMIG_NOMBRE
				END
				SELECT * FROM #TEMPORAL
				SELECT 'TOTAL' AS TOTAL, @V_TOTAL_1 AS REGISTRADOS,@V_TOTAL_2 + @V_TOTAL_3 AS EMITIDOS,@V_TOTAL_2 AS VIGENTES,@V_TOTAL_3 AS VENCIDOS
			-- FIN CURSOR Y TABLA ------------------------
			CLOSE CURSOR_CALMIG
			DEALLOCATE CURSOR_CALMIG
			DROP TABLE #TEMPORAL
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage;
		END CATCH
	END


