<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--CONSULARES-->
    <!--<add name="conexionDesarrollo" connectionString="EPeDJKrYoDh/PaC2bnBGUfvOemqg5uaJTdVbuS9Txfnz3POYyBScvP2/L3RhaUcizGXHknbUhr2MEFt9LK1jqWR5QneAf0TywMxLrbFAvN2Fo0tl4xTicj81MfJZyYpKVK/sTpyS4JsO1r5ZIvZpg0G6OjZWgVnM"/>-->
    <!--LOCAL-->
	<!--<add name="conexionDesarrollo" connectionString="jUuHzEblhvsksynW+mQwhyp3tHX+l9H5e4yUEkVNrqAW0ySV/thT7ee5c0syd278HDROjfhr++yG3tD8rrnTXMmU5AlrVoVvnOLnThEePSzFxFxtA7pcO6njHrcWIDyORGMNDxtnBZUip5zKxhKq2g=="/>-->
	<!--LOCAL DEV-->  
	<add name="conexionDesarrollo" connectionString="jUuHzEblhvsML0N+EXcbXKEdPDPaDhSCd0CIZjNx8CBW0otqaWjtRqOPqdeYvYDjoPsifPPSms8V3OYIID88xT2K3v+/Wx7Vb+GOIJM57BncNg/A6T9rqNR9zXusfB4nsVfES8mOQRp3Op31gUnDi0iabDkRniO4"/>
	<!--LOCAL VPIPA-->
    <!--<add name="conexionDesarrollo" connectionString="jUuHzEblhvsgPC9duBQYcRCijUvCtvVykYC1xS07uumMLH2OwhbV+eFTIRRCO2xwVZl9Rte6tbNaP4jQZi3TjXaeDkW1cJ8oh+2DF/6w7v/9d++2HsjoJWCtG36wrWmhtFPMQN3x7Z0adZB6Y/+ZdQ=="/>-->
  </connectionStrings>
  <appSettings>
    <!--CONSULARES-->
    <!--<add key="rutaLog" value="0ar0yVRttnp+gmZODC14OZW99vsmVl+qhDYLvz5JahkUwP5w32C1yA=="/>
    <add key="rutaAdjuntos" value="0ar0yVRttnp+gmZODC14OcwKsdmJsbhhnu9YFE9sSSA="/>-->
    <!--LOCAL-->
    <add key="rutaLog" value="mTX1VyBbQZo="/>
    <add key="rutaAdjuntos" value="mTX1VyBbQZo="/>

    <add key="conexion" value="conexionDesarrollo"/>
    <add key="conexionSeguridad" value="conexionDesarrollo"/>
    <add key="ProtocoloAcceso" value="LDAP"/>
    <add key="NombreDominioInferior" value="rree"/>
    <add key="DominioSuperiorA" value="gob"/>
    <add key="DominioSuperiorB" value="pe"/>
    <add key="Dominio" value="+fkUXNHykrT4a0QmP1ItCFn3RzTUtF8+qqwEiuwbi+iGVDtfSeC2RIeJji9KRMM7"/>
    <add key="FechaUpdate" value="03/08/2022"/>
    <add key="IdSistema" value="j6VmQ4x4jfM="/>
    <add key="AbrevSistema" value="fpTs9hcM7pI="/>
    
    <add key="conInterConexionSAM" value="SI"/><!-- variable admite valores SI/NO-->
    
    <!--CONSULARES-->
    <add key="urlSistema" value="6oY24mLYWRawd7RReIKJ3Nrn2mtBaNVFYTf4Kw7OSsWG122OzsPV0ry0rp6p/12VReEv/btUTP8="/>
    <add key="host" value="3lGh4q6vzMJIeiVl+ht1GK9/5ZK1Z5qd"/>
    <!--LOCAL-->
    <!--<add key="urlSistema" value="2v2OL6OnX+rWqYM3b3VKYfJu5SqFqMF6H4+ceDsrENNSjIDuyuBZ77GqVtkgVCOM"/>
    <add key="host" value="fi5kfGd+Wtw6EZ1lx8sQtw=="/>-->

    <add key="fileExtFotografia" value="qG6EJzZ0Fjk="/>
    <add key="filePesoFotografia" value="bQ7UlfBsCX4="/>
    <add key="cantRegxPag" value="ZiWgUw9QzB4="/>
    <add key="PermitirFotografia" value="WgAXlzhsk9M="/>
  </appSettings>

  <system.web>		
    <compilation debug="true" targetFramework="4.0"/>
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="iso-8859-1" culture="es-PE" uiCulture="es-PE" enableBestFitResponseEncoding="false"/>
    <machineKey validation="3DES"/>
    <trace enabled="false" localOnly="true"/>
    <identity impersonate="false"/>
    <httpCookies httpOnlyCookies="true"/>
    <sessionState cookieless="false" timeout="120"/>
    <httpRuntime executionTimeout="10800" maxRequestLength="2097151" enableHeaderChecking="false" requestLengthDiskThreshold="2097150" requireRootedSaveAsPath="false"/>	  
    <customErrors defaultRedirect="Paginas\mensajes.aspx" mode="RemoteOnly"/>
    <pages maintainScrollPositionOnPostBack="true"/>    
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00"/>
    </staticContent>
    <defaultDocument>
      <files>
        <add value="RegistroLinea.aspx"/>
      </files>
    </defaultDocument>
    <!-- Deshabilitamos la validación de la configuración en modo integrado -->
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IService_MRE" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://testws.rree.gob.pe/webservsam/WebService_MRE.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_MRE"
            contract="WSsam.IService_MRE" name="BasicHttpBinding_IService_MRE" />
    </client>
  </system.serviceModel>

</configuration>