USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_ACTUALIZAR_ESTADO]    Script Date: 05/07/2021 09:09:30 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [SC_REGLINEA].[USP_RL_REGISTRO_LINEA_ACTUALIZAR_ESTADO]
--======================================================================
--SISTEMA		:	
--OBJETIVO		:	
--CREADO POR		:	
--FECHA			:	07/10/2019
--PARAMETROS		:	
--EJECUTAR		:	SC_REGLINEA.USP_RL_REGISTRO_LINEA_ACTUALIZAR ,NULL,
--MODIFICACIONES
--AUTOR		FECHA		N° REQ		MOTIVO		
--======================================================================
-- MODIFICADO POR: JONATAN SILVA CACHAY
-- FECHA DE MODIFICACIÓN: 18/09/2020
-- MOTIVO: SE AGREGA EL CAMPO DE RUTA DE RESUMEN
--======================================================================
@P_RELI_IREGISTRO_LINEA_ID      INT,
@P_RELI_VDP_RUTA_RESUMEN_ANEXOS VARCHAR(100) = NULL,
@P_RELI_SESTADO_ID				SMALLINT,
@P_RELI_VIP_MODIFICACION		VARCHAR(50)
AS
BEGIN
	BEGIN TRY
		DECLARE
		@P_RELI_SUSUARIO SMALLINT = (SELECT USUA_SUSUARIOID FROM PS_SEGURIDAD.SE_USUARIO (NOLOCK) WHERE USUA_VALIAS='USUARIO REG LINEA')
		
		UPDATE	SC_REGLINEA.RL_REGISTRO_LINEA
		SET		RELI_SESTADO_ID						=	@P_RELI_SESTADO_ID,
				RELI_VDP_RUTA_RESUMEN_ANEXOS		=   CASE WHEN @P_RELI_VDP_RUTA_RESUMEN_ANEXOS IS NULL THEN RELI_VDP_RUTA_RESUMEN_ANEXOS 
															 ELSE @P_RELI_VDP_RUTA_RESUMEN_ANEXOS END,
				RELI_SUSUARIO_MODIFICACION			=	@P_RELI_SUSUARIO,
				RELI_VIP_MODIFICACION				=	@P_RELI_VIP_MODIFICACION,
				RELI_DFECHA_MODIFICACION			=	GETDATE()
		WHERE	RELI_SREG_LINEA_ID					=	@P_RELI_IREGISTRO_LINEA_ID
		AND		RELI_CESTADO						=	'A'
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END

