USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [PS_SEGURIDAD].[USP_SE_USUARIO_CONSULTAR_LOGIN_MRE]    Script Date: 21/06/2021 05:50:29 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [PS_SEGURIDAD].[USP_SE_USUARIO_CONSULTAR_LOGIN_MRE]
--================================================================================
--SISTEMA			: SISTEMA DE GESTIÓN DE AUTOADHESIVOS CONSULARES
--OBJETIVO			: CONSULTAR DATOS EN LA TABLA PS_SEGURIDAD.SE_USUARIO
--CREADO			: MIGUEL MÁRQUEZ BELTRÁN
--FECHA     		: 30/10/2014 09:14:24 A.M.
--PARAMETROS        : 
--					@P_USUA_VALIAS			CUENTA DE RED DEL ACTIVE DIRECTORY
--					@P_ROCO_SAPLICACIONID	IDENTIFICADOR DE LA APLICACIÓN QUE PERTENECE EL ROL CONFIGURACIÓN (REFERENCIA: [SC_ADM].[SE_SISTEMA])
--					@P_IPAGESIZE			TAMAÑO DE LA PÁGINA
--					@P_IPAGENUMBER			NÚMERO DE LA PÁGINA
--					@P_CCONTAR				¿CONTAR LAS PAGINAS? (S/N)
--					@P_IPAGECOUNT			RETORNA LA CANTIDAD DE PAGINAS

--EJECUTAR          : EXECUTE PS_SEGURIDAD.USP_SE_USUARIO_CONSULTAR_LOGIN_MRE	'LNUNJA', 1,1,1,'N',1
--MODIFICACIONES
--AUTOR							FECHA				N° REQ.			MOTIVO
-----------------------------------------------------------------------------------
--MANUEL NUNJA					04/08/2017			-				AGREGAR CONDICIONAL DEL CAMPO "usua_bBloqueoActiva"
--VPIPA							30/06/2021			-				oviar los filtros de bloquedos
--================================================================================
@P_USUA_VALIAS				VARCHAR(50),
@P_ROCO_SAPLICACIONID		SMALLINT=0,	
@P_IPAGESIZE                SMALLINT,
@P_IPAGENUMBER              SMALLINT,
@P_CCONTAR					CHAR(1)='N',
@P_IPAGECOUNT				SMALLINT OUT
	
AS
BEGIN
SET NOCOUNT ON
DECLARE	@V_ERRORMESSAGE		VARCHAR(MAX)
DECLARE	@V_ERRORSEVERITY	INT

DECLARE @V_IRECORDCOUNT	INT

SET @V_IRECORDCOUNT = 0

SET @P_IPAGECOUNT = 0

IF @P_IPAGESIZE < 1 OR @P_IPAGENUMBER < 1 RETURN

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
BEGIN TRY

IF @P_CCONTAR ='S'
BEGIN

SELECT @V_IRECORDCOUNT = COUNT(USU.USUA_SUSUARIOID)
FROM PS_SEGURIDAD.SE_USUARIO USU
LEFT JOIN PS_SISTEMA.SI_PARAMETRO AS ENT ON
	ENT.PARA_VGRUPO='SEGURIDAD-ENTIDAD' 
	AND USU.USUA_SEMPRESAID = ENT.PARA_SPARAMETROID
	AND ENT.PARA_BVISIBLE = 1
	AND ENT.PARA_CESTADO='A'
LEFT JOIN SC_MAESTRO.MA_DOCUMENTO_IDENTIDAD AS DOC ON
	USU.USUA_SDOCUMENTOTIPOID = DOC.DOID_STIPODOCUMENTOIDENTIDADID
	AND DOC.DOID_CESTADO='A'
LEFT JOIN  PS_SEGURIDAD.SE_USUARIOROL AS URO ON
	USU.USUA_SUSUARIOID = URO.USRO_SUSUARIOID
	AND URO.USRO_CESTADO='A'
LEFT JOIN PS_SEGURIDAD.SE_ROLCONFIGURACION AS ROL ON
	URO.USRO_SROLCONFIGURACIONID = ROL.ROCO_SROLCONFIGURACIONID
	AND ROL.ROCO_CESTADO = 'A'
LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR AS OFI ON
	URO.USRO_SOFICINACONSULARID = OFI.OFCO_SOFICINACONSULARID
	AND OFI.OFCO_CESTADO='A'
LEFT JOIN PS_SISTEMA.SI_PARAMETRO AS ACC ON
	ACC.PARA_VGRUPO='SISTEMA-ACCESOS' 
	AND URO.USRO_SACCESO = ACC.PARA_SPARAMETROID
	AND ACC.PARA_BVISIBLE=1
	AND ACC.PARA_CESTADO='A'
LEFT JOIN PS_SISTEMA.SI_PARAMETRO AS TRO ON
	TRO.PARA_VGRUPO='CONFIGURACIÓN-TIPO ROL' 
	AND ROL.ROCO_SROLTIPOID = TRO.PARA_SPARAMETROID
	AND TRO.PARA_BVISIBLE=1
	AND TRO.PARA_CESTADO='A'
LEFT JOIN SC_ADM.SE_SISTEMA AS SIS ON
	ROL.ROCO_SAPLICACIONID = SIS.SIST_SSISTEMAID
	AND SIS.SIST_CESTADO = 'A'
WHERE USU.USUA_CESTADO='A'
		AND USU.USUA_VALIAS = @P_USUA_VALIAS
		AND ((@P_ROCO_SAPLICACIONID=0 AND ROL.ROCO_SAPLICACIONID = ROL.ROCO_SAPLICACIONID) OR
			(@P_ROCO_SAPLICACIONID>0  AND ROL.ROCO_SAPLICACIONID = @P_ROCO_SAPLICACIONID))	

IF @V_IRECORDCOUNT = 0  
		SET @P_IPAGECOUNT = 0  
	ELSE IF @V_IRECORDCOUNT % @P_IPAGESIZE = 0  
			SET @P_IPAGECOUNT = @V_IRECORDCOUNT / @P_IPAGESIZE  
		 ELSE 
			 SET @P_IPAGECOUNT = (@V_IRECORDCOUNT / @P_IPAGESIZE) + 1  
END

--REGISTROS PAGINAODS, FILTRADOS Y ORDENADOS
SELECT 
	CODIGO_USUARIO	= USU.USUA_SUSUARIOID,
	USU.USUA_SEMPRESAID,
	CUENTA			= ISNULL(USU.USUA_VALIAS,''),
	PATERNO			= ISNULL(USU.USUA_VAPELLIDOPATERNO,''),
	MATERNO			= ISNULL(USU.USUA_VAPELLIDOMATERNO,''),
	NOMBRES			= ISNULL(USU.USUA_VNOMBRES,''),
	NOMBRE_COMPLETO	 =	ISNULL(LTRIM(RTRIM(USU.USUA_VAPELLIDOPATERNO)), ' ') + '  ' +
						ISNULL(LTRIM(RTRIM(USU.USUA_VAPELLIDOMATERNO)), ' ') + '  ' +
						ISNULL(LTRIM(RTRIM(USU.USUA_VNOMBRES)),' '),
	TIPO_DOC		= ISNULL(USU.USUA_SDOCUMENTOTIPOID,1),
	DOCUMENTO		= ISNULL(DOC.DOID_VDESCRIPCIONCORTA,''),
	NUMERO_DOC		= ISNULL(USU.USUA_VDOCUMENTONUMERO,''),
	EMAIL			= ISNULL(USU.USUA_VCORREOELECTRONICO,''),
	DIRECCIONIP		= ISNULL(USU.USUA_VDIRECCIONIP,''),
	ENTIDAD			= ISNULL(ENT.PARA_VDESCRIPCION,''),	
	URO.USRO_SUSUARIOROLID,
	URO.USRO_SROLCONFIGURACIONID,
	URO.USRO_SOFICINACONSULARID,
	URO.USRO_SACCESO,
	ROL.ROCO_SAPLICACIONID,
	ROL.ROCO_SROLTIPOID,
	ROL.ROCO_VROLOPCION,
	SIST_VEXTENSION = ISNULL(SIS.SIST_VEXTENSION,''),
	NOMBRE_ROL		= ISNULL(ROL.ROCO_VNOMBRE,''),
	NOMBRE_OFICINA	= ISNULL(OFI.OFCO_VNOMBRE,''),
	NOMBRE_ACCESO	= ISNULL(ACC.PARA_VDESCRIPCION,''), 
	NOMBRE_TIPOROL	= ISNULL(TRO.PARA_VDESCRIPCION,''),
	NOMBRE_SISTEMA	= ISNULL(SIS.SIST_VNOMBRE,'') 
FROM PS_SEGURIDAD.SE_USUARIO USU
LEFT JOIN PS_SISTEMA.SI_PARAMETRO AS ENT ON
	ENT.PARA_VGRUPO='SEGURIDAD-ENTIDAD' 
	AND USU.USUA_SEMPRESAID = ENT.PARA_SPARAMETROID
	
LEFT JOIN SC_MAESTRO.MA_DOCUMENTO_IDENTIDAD AS DOC ON
	USU.USUA_SDOCUMENTOTIPOID = DOC.DOID_STIPODOCUMENTOIDENTIDADID
	AND DOC.DOID_CESTADO='A'
LEFT JOIN  PS_SEGURIDAD.SE_USUARIOROL AS URO ON
	USU.USUA_SUSUARIOID = URO.USRO_SUSUARIOID
	
LEFT JOIN PS_SEGURIDAD.SE_ROLCONFIGURACION AS ROL ON
	URO.USRO_SROLCONFIGURACIONID = ROL.ROCO_SROLCONFIGURACIONID
	
LEFT JOIN PS_SISTEMA.SI_OFICINACONSULAR AS OFI ON
	URO.USRO_SOFICINACONSULARID = OFI.OFCO_SOFICINACONSULARID
	
LEFT JOIN PS_SISTEMA.SI_PARAMETRO AS ACC ON
	ACC.PARA_VGRUPO='SISTEMA-ACCESOS' 
	AND URO.USRO_SACCESO = ACC.PARA_SPARAMETROID
	AND ACC.PARA_BVISIBLE=1
	AND ACC.PARA_CESTADO='A'
LEFT JOIN PS_SISTEMA.SI_PARAMETRO AS TRO ON
	TRO.PARA_VGRUPO='CONFIGURACIÓN-TIPO ROL' 
	AND ROL.ROCO_SROLTIPOID = TRO.PARA_SPARAMETROID
	AND TRO.PARA_BVISIBLE=1
	AND TRO.PARA_CESTADO='A'
LEFT JOIN SC_ADM.SE_SISTEMA AS SIS ON
	ROL.ROCO_SAPLICACIONID = SIS.SIST_SSISTEMAID
	AND SIS.SIST_CESTADO = 'A'
WHERE USU.USUA_CESTADO='A'
	AND USU.USUA_VALIAS = @P_USUA_VALIAS
	AND ((@P_ROCO_SAPLICACIONID=0 AND ROL.ROCO_SAPLICACIONID = ROL.ROCO_SAPLICACIONID) OR
		 (@P_ROCO_SAPLICACIONID>0  AND ROL.ROCO_SAPLICACIONID = @P_ROCO_SAPLICACIONID))	
	
ORDER BY SIS.SIST_VNOMBRE
	OFFSET (@P_IPAGENUMBER-1)*@P_IPAGESIZE ROWS
	FETCH NEXT @P_IPAGESIZE ROWS ONLY
END TRY

	BEGIN CATCH
			SELECT 	@V_ERRORMESSAGE = ERROR_MESSAGE(), @V_ERRORSEVERITY = ERROR_SEVERITY();
			RAISERROR(@V_ERRORMESSAGE, @V_ERRORSEVERITY, 1);
	END CATCH
END



