USE [BD_CARDIP]
GO
/****** Object:  StoredProcedure [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_HISTORICO_ADICIONAR]    Script Date: 18/04/2022 11:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	ALTER PROCEDURE [SC_CARDIP].[USP_CD_CARNE_IDENTIDAD_HISTORICO_ADICIONAR]
	--================================================================================
	--SISTEMA			: SISTEMA DE ENVIO VIRTUAL DE DOCUMENTOS
	--OBJETIVO			: OBTIENE EL REGISTRO DE LA CABECERA Y EL DETALLE PARA GENERAR LA ORDEN DE PAGO
	--CREADO			: MANUEL NUNJA
	--FECHA     		: 23/11/2014 18:47:27
	--PARAMETROS        :	@P_ID_SOLICITUD			IDENTIFICADOR DE LA TABLA
	--EJECUTAR          : [SC_CARDIP].[USP_CD_GENERALES_MRE]
	--MODIFICACIONES
	--AUTOR                       FECHA      N° REQ.      MOTIVO
	--================================================================================
	@P_CARNE_IDENTIDIDAD_ID		SMALLINT,
	@P_CALIDAD_MIGRATORIA		SMALLINT,
	@P_CALIDAD_MIGRATORIA_SEC	SMALLINT,
	@P_FECHA_EMISION			DATETIME,
	@P_FECHA_VENCIMIENTO		DATETIME,
	@P_RUTA_ARCHIVO_FOTO		VARCHAR(250),
	@P_OFICINA_CONSULAR_EX		SMALLINT,
	@P_ESTADO_ID				SMALLINT,
	@P_USUARIO_CREACION			SMALLINT,
	@P_IP_CREACION				VARCHAR(50),
	@P_RUTA_ARCHIVO_FIRMA		VARCHAR(250)
	
	AS
	BEGIN
		BEGIN TRY
			INSERT INTO SC_CARDIP.CD_CARNE_IDENTIDAD_HISTORICO(CIHI_ICARNE_IDENTIDADID,CIHI_SCALIDAD_MIGRATORIAID,CIHI_SCALIDAD_MIGRATORIA_SECID,CIHI_DFECHA_EMISION,CIHI_DFECHA_VENCIMIENTO,CIHI_VRUTA_ARCHIVO_FOTO,CIHI_SOFICINA_CONSULAR_EXID,CIHI_SESTADO_ID,CIHI_SUSUARIOCREACION,CIHI_VIPCREACION,CIHI_DFECHACREACION,CIHI_VRUTA_ARCHIVO_FIRMA)
			VALUES (@P_CARNE_IDENTIDIDAD_ID,@P_CALIDAD_MIGRATORIA,@P_CALIDAD_MIGRATORIA_SEC,@P_FECHA_EMISION,@P_FECHA_VENCIMIENTO,@P_RUTA_ARCHIVO_FOTO,@P_OFICINA_CONSULAR_EX,@P_ESTADO_ID,@P_USUARIO_CREACION,@P_IP_CREACION,GETDATE(),@P_RUTA_ARCHIVO_FIRMA)
		END TRY
		BEGIN CATCH
			DECLARE @ERROR VARCHAR(200)
			SELECT @ERROR = ERROR_MESSAGE()
			RAISERROR(@ERROR, 16, 1) 
			
		END CATCH
		RETURN @@IDENTITY
	END

	